{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--certificado bg-white">
    <div class="c-certificado-view">
      <div class="grid-container">
        <div class="grid-x align-middle">
          <div class="cell large-7">
            <div class="c-certificado">
              <div class="grid-x align-self-stretch">
                <div class="cell large-8 bg-white">
                    <div class="padding-2 margin-botom-2 text-left">
                      <div class="grid-x">
                        <div class="cell large-8">
                          <div class="dark">
                            <p class="c-certificado__top-subtitle f2">Certificado de curso</p>
                            <h2 class="c-certificado__top-title">Ciencia Creativas para la vida</h2>
                            <p class="c-certificado__top-subtitle f2">El presente diploma se otroga a</p>
                          </div>
                        </div>
                        <div class="cell large-4">
                          <div class="height-100 flex-container align-middle align-right">
                            <img loading="lazy" class="c-certificado__heart" src="{{theme.link}}/static/images/vectors/heart.png" alt="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="margin-bottom-2 text-center">
                      <h1 class="c-certificado__name text-uppercase sec-color">Angela Ramon Duranf</h1>
                      <p class="c-certificado__sub f2 dark">Certificado de aprobación online</p>
                      <p class="c-certificado__sub f2 dark"><strong>Aprobado el 25 de mayo del 2020</strong></p>
                      <p class="c-certificado__sub f2 dark">40 horas de Teoría y práctica</p>
                    </div>
                    <div class="c-certificado__firmas flex-container align-justify align-middle">
                      <div class="c-certificado__firma">
                        <img loading="lazy" class="" src="{{theme.link}}/static/images/certificates/firma-1.png" alt="">
                        <div class="f2 dark">Macarena Arribas <br> Ceo y fundadora de Mab</div>
                      </div>
                      <div class="c-certificado__firma">
                        <img loading="lazy" class="" src="{{theme.link}}/static/images/certificates/firma-2.png" alt="">
                        <div class="f2 dark">Macarena Arribas <br> Ceo y fundadora de Mab</div>
                      </div>
                    </div>
                    <div class="c-certificado__bottom flex-container align-justify align-middle">
                      <div class="c-certificado__side">
                        <div class="f2 dark">http://aprendemab.com/</div>
                      </div>
                      <div class="c-certificado__side">
                        <div class="f2 dark">cod  1222222222222</div>
                      </div>
                    </div>
                </div>
                <div class="cell large-4 bg-pri-color">
                  <div class="c-certificado__aside height-100 flex-container align-center-middle">
                    <img loading="lazy" class="" src="{{theme.link}}/static/images/logo-white.png" alt="">
                    <p class="white f2">Felicitaciones por atreverte a aprender distinto y complementar tu aprendizaje con educación para CRECER</p>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="cell large-5">
            <div class="c-certificado-view__info">
              <div class="c-certificado-view__top-tittle dark f2">
                Certificado del curso
              </div>
              <h2 class="c-certificado-view__name-course f2 dark w-xbold">
                CIENCIAS CREATIVAS PARA LA VIDA
              </h2>

              <div class="grid-x align-middle">
                <div class="cell large-4 text-center ">
                  <img class="c-img-cohete" src="{{theme.link}}/static/images/access/cohete.png" alt="">
                </div>
                <div class="cell large-8">
                  <div class="c-certificado-view__card bg-cyan dark br--large br-bottom-0-0 f2 dark">
                    <div>
                      <span>Completado por</span> <span class="w-xbold">ANGELA RAMOS</span>
                    </div>
                    <div class="c-certificado-view__date">
                      25 de mayo del 2020
                    </div>
                    <div class="c-certificado-view__time">
                      40 horas de teoría y práctica
                    </div>
                  </div>
                </div>
                <div class="cell large-6 w-xbold fs-16 f2 ">
                  <div class="c-certificado-view__text dark ">
                    Anímate a tomar el curso y aprende distinto 
                  </div>
                </div>
                <div class="cell large-6">
                  <div class="button-cotainer">
                    <a href="" class="c-button bg-purple dark f2">
                      Tomar el curso
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
