{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--extra-list bg-dark">
    <div class="c-extra-list">
      <div class="grid-container">
        <h2 class="c-extra-list__title white text-uppercase text-center">
          <p>Una educación <br class="desktop"> que te hace CRECER</p>
        </h2>

        <div>
          <div class="c-extra-block c-extra-block--magenta">
              <div class="grid-x align-middle align-center">
                <div class="cell large-7">
                  <div class="c-extra-block__info br-bottom-0-0 br--large padding-2">
                    <h3 class="dark">El estudiante como centro</h3>
                    <p class="dark f2">Tenemos un proceso muy sólido donde conocemos
                      al estudiante: sus gustos, motivaciones,
                      personalidad, estilo de aprendizaje, para así saber
                      qué es lo que necesita y poder adaptarnos a cada
                      uno de ellos. Somos fieles creyentes de que cada
                      persona #AprendeDistinto.</p>
                    
                  </div>
                </div>
                <div class="cell large-5">
                  <figure class="c-extra-block__figure">
                    <div class="c-card-article bg-white mab-shadow-soft">
                      <figure class="c-card-article__figure margin-bottom-1">
                        <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/educacion/0.png" alt="">
                      </figure>
                      <div class="c-card-article__content">
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
          </div>
          <div class="c-extra-block c-extra-block--cyan">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">Ambiente de confianza</h3>
                  <p class="dark f2">Se genera un ambiente de confianza, ya que
                    contamos con tutores y psicólogos jóvenes que
                    han pasado por lo mismo y se genera un vínculo
                    basado en la empatía</p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/educacion/2.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--primary">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">Espacios de reflexión</h3>
                  <p class="dark f2">Cada una de nuestras clases y/o sesiones busca
                    generar un espacio de conversación, donde el
                    estudiante puede hablar de lo que necesite, pueda
                    hacer las preguntas que quiera y pueda
                    expresarse libremente.</p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/educacion/3.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--warning">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">Crecimiento humano</h3>
                  <p class="dark f2">Con cada uno de nuestros servicios, lo que
                    buscamos es lograr un crecimiento humano.
                    Por eso, en MAB trabajamos las habilidades
                    para la vida (Habilidades blandas/ Soft Skills)
                    de forma transversal. Ya sea que un estudiante
                    acuda para estudiar para matemáticas, geografía
                    o arte, se trabajan las habilidades para la vida.
                    <p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/educacion/4.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--magenta">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">Creatividad</h3>
                  <p class="dark f2">Cada servicio MAB está pensado de forma
                    creativa, para así poder romper esquemas, dejar
                    de lado lo tradicional y promover el pensamiento
                    creativo y la resolución de problemas de nuestra
                    comunidad. En MAB creemos que la creatividad
                    es la columna vertebral del aprendizaje.</p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/educacion/5.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--cyan">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">Match perfecto</h3>
                  <p class="dark f2">Tenemos un amplio equipo de jóvenes líderes que
                    dominan diferentes materias y rubros. Luego de
                    conocer al estudiante y sus necesidades personales,
                    buscamos el “perfect match” para así poder lograr
                    o impulsar la formación de un vínculo especial.</p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/educacion/6.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--primary">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">Comunicación constante</h3>
                  <p class="dark f2">En MAB la comunicación es un pilar
                    fundamental. Mantenemos comunicación
                    constante con los padres de familia y con los
                    estudiantes. Creemos que las familias son
                    parte fundamental del proceso de aprendizaje
                    y por eso las involucramos sólidamente en
                    nuestros procesos educativos.</p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/educacion/7.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--warning">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">All Soft</h3>
                  <p class="dark f2">Trabajamos las habilidades blandas de
                    manera transversal en todos nuestros
                    servicios a través de nuestro programa All
                    Soft, con el cual conocemos un poco más de
                    cada una de estas habilidades en nuestros
                    alumnos mediante pruebas psicológicas.</p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/educacion/8.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="c-extra-list__message-container bg-white">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell large-7">
            <h3 class="c-extra-list__message dark">
                “Nuestros programas buscan
                fortalecer nuestra comunidad,
                <span class="pri-color">llevando la esencia MAB</span>
                a diferentes lugares.”
            </h3>
            <h4 class="c-extra-list__autor f2 dark">MACARENA ARRIBAS, FUNDADORA MAB</h4>
          </div>
        </div>
      </div>
        
    </div>
  </section>
{% endblock %}
