{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--extra-list bg-orange">
    <div class="c-extra-list">
      <div class="grid-container">
        <h2 class="c-extra-list__title dark text-uppercase text-center">
          <p>MAB empresas</p>
        </h2>
        <div>
          <div class="c-extra-block c-extra-block--magenta">
          </div>
          <div class="c-extra-block c-extra-block--warning">
              <div class="grid-x align-middle align-center">
                <div class="cell large-7">
                  <div class="c-extra-block__info br-bottom-0-0 br--large padding-2">
                    <h3 class="dark">Programas
                      para empresas</h3>
                    <p class="dark f2">Llevamos talleres tanto para los hijos de los
                      colaboradores, como para ellos mismos. En
                      todos los talleres fortalecemos las habilidades
                      para la vida. Los llevamos a cabo de forma
                      presencial y también de forma virtual.</p>
                  </div>
                </div>
                <div class="cell large-5">
                  <figure class="c-extra-block__figure">
                    <div class="c-card-article bg-white mab-shadow-soft">
                      <figure class="c-card-article__figure margin-bottom-1">
                        <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/1.png" alt="">
                      </figure>
                      <div class="c-card-article__content">
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
          </div>
          <div class="c-extra-block c-extra-block--white">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <p class="dark f2">Nos adaptamos a la filosofía y
                    rubro de cada empresa, para así
                    acompañarlas a fortalecer su
                    sentido de comunidad.</p>
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/laptop.png" alt="">
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--warning">
            <div class="grid-x align-middle align-center">
              <div class="cell large-5">
                <div class="c-extra-block__info bg-pri-color comment br-bottom-0-0 br--large padding-2 position-relative">
                  <!-- <h3 class="dark">Espacios de reflexión</h3> -->
                  <figure class="c-comment-corner position-absolute">
                    <img class="width-100" src="{{ theme.link }}/static/images/nosotros/vectores/comillas.png" alt="">
                  </figure>
                  <p class="dark f2 text-center">"¡Gracias a ustedes! Nos encantó cómo
                    manejaron el taller y las felicito porque
                    de verdad tienen un servicio buenísimo,
                    con muchos detalles como éste que
                    hacen la experiencia de trabajar con
                    ustedes especial."</p>
                    <p class="dark f2 text-center w-xbold">Verónica Melzi, Fundación Belcorp</p>
                </div>
              </div>
              <div class="cell large-6">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/2.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-extra-list__logos bg-dark">
      <h2 class="c-extra-list__title white text-uppercase text-center padding-horizontal-2">
        <p>Empresas que han confiado en nosotros</p>
      </h2>
      <div class="c-extra-list__logos-list flex-container align-center-middle">
        <div class="c-extra-list__logos-icon">
          <img class="width-100" src="{{ theme.link }}/static/images/mundo/empresas/logo-utec.png" alt="">
        </div>
        <div class="c-extra-list__logos-icon">
          <img class="width-100" src="{{ theme.link }}/static/images/mundo/empresas/logo-ma.png" alt="">
        </div>
        <div class="c-extra-list__logos-icon">
          <img class="width-100" src="{{ theme.link }}/static/images/mundo/empresas/logo-cocacola.png" alt="">
        </div>
        <div class="c-extra-list__logos-icon">
          <img class="width-100" src="{{ theme.link }}/static/images/mundo/empresas/logo-repsol.png" alt="">
        </div>
        <div class="c-extra-list__logos-icon">
          <img class="width-100" src="{{ theme.link }}/static/images/mundo/empresas/logo-upc.png" alt="">
        </div>
        <div class="c-extra-list__logos-icon">
          <img class="width-100" src="{{ theme.link }}/static/images/mundo/empresas/logo-h.png" alt="">
        </div>
        <div class="c-extra-list__logos-icon">
          <img class="width-100" src="{{ theme.link }}/static/images/mundo/empresas/logo-co.png" alt="">
        </div>
        <div class="c-extra-list__logos-icon">
          <img class="width-100" src="{{ theme.link }}/static/images/mundo/empresas/logo-tel.png" alt="">
        </div>
      </div>  
    </div>
    <div class="c-extra-list bg-warning-alt">
      <div class="grid-container">
        <h2 class="c-extra-list__title dark text-uppercase text-center">
          <p>Talleres</p>
        </h2>
        <div>
          <div class="c-extra-block c-extra-block--primary">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info br-bottom-0-0 br--large padding-2">
                  <h3 class="white">Talleres de arte
                    y creatividad</h3>
                  <p class="white f2">
                    Cerámica <br>
                    Textilería <br>
                    Pintura <br>
                    Lienzo <br>
                    Máscaras <br>
                    Reciclaje, entre otros.
                  </p>
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/3.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--secondary">
              <div class="grid-x align-middle align-center">
                <div class="cell large-7">
                  <div class="c-extra-block__info br-bottom-0-0 br--large padding-2">
                    <h3 class="white">Talleres de cocina y repostería</h3>
                    <p class="white f2">
                      Cocina salada <br>
                      Competencia de sánguches creativos <br>
                      Postres y juegos de emprendimiento <br>
                      Creación de marcas 
                    </p>
                  </div>
                </div>
                <div class="cell large-5">
                  <figure class="c-extra-block__figure">
                    <div class="c-card-article bg-white mab-shadow-soft">
                      <figure class="c-card-article__figure margin-bottom-1">
                        <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/4.png" alt="">
                      </figure>
                      <div class="c-card-article__content">
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
          </div>
          <div class="c-extra-block c-extra-block--magenta">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="white">Talleres de actuación y baile</h3>
                  <p class="white f2">
                    Impro <br>
                    Clown <br>
                    Salsa <br>
                    Merengue <br>
                    Raps <br>
                    Zumba, entre otros.</p>
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/5.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--primary">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="white">Talleres de
                    empoderamiento</h3>
                  <p class="white f2">
                    Para niñas <br>
                    Para niños <br>
                    Grupos mixtos <br>
                    Jóvenes <br>
                    Adultos</p>
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/6.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--secondary">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info br-bottom-0-0 br--large padding-2">
                  <h3 class="white">Talleres temáticos</h3>
                  <p class="white f2">
                    San Valentín <br>
                    Pascua <br>
                    Día del niño <br>
                    28 de julio <br>
                    Halloween <br>
                    Navidad, entre otros.</p>
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/7.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--magenta">
              <div class="grid-x align-middle align-center">
                <div class="cell large-7">
                  <div class="c-extra-block__info br-bottom-0-0 br--large padding-2">
                    <h3 class="white">Talleres de
                      inteligencia
                      emocional
                      y coaching</h3>
                    <p class="white f2">
                      Para niños, jóvenes y adultos. <br>
                      Se trabajan temas como motivación, <br>
                      autoestima, amor propio y empatía. 
                    </p>
                  </div>
                </div>
                <div class="cell large-5">
                  <figure class="c-extra-block__figure">
                    <div class="c-card-article bg-white mab-shadow-soft">
                      <figure class="c-card-article__figure margin-bottom-1">
                        <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/8.png" alt="">
                      </figure>
                      <div class="c-card-article__content">
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
          </div>
          <div class="c-extra-block c-extra-block--primary">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="white">Talleres de
                    exploración</h3>
                  <p class="white f2">
                    Adivinanzas <br>
                    Juegos de geografía <br>
                    Juegos de historia <br>
                    Slime <br>
                    Magia, entre otros</p>
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/9.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--secondary">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="white">Talleres de Soft
                    Skills para niños,
                    adultos y familias.</h3>
                  <p class="white f2">Cocina salada <br>
                    Competencia de sánguches creativos <br>
                    Postres <br>
                    Juegos de emprendimiento <br>
                    Creación de marcas</p>
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/10.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--magenta">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="white">Talleres online</h3>
                  <p class="white f2">¡Talleres virtuales de todo lo anterior! <br>
                    Arte y creatividad <br>
                    Mindfulness <br>
                    Soft Skills <br>
                    Estimulación temprana, entre otros</p>
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/empresas/photos/11.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
