{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--extra-list bg-sec-color">
    <div class="c-extra-list">
      <div class="grid-container">
        <h2 class="c-extra-list__title white text-uppercase text-center">
          <p>Proyectos</p>
        </h2>

        <div>
          <div class="c-extra-block c-extra-block--primary">
              <div class="grid-x align-middle align-center">
                <div class="cell large-7">
                  <div class="c-extra-block__info br-bottom-0-0 br--large padding-2">
                    <h3 class="dark">A<img class="c-extra-block-title-img" src="{{ theme.link }}/static/images/logo-white.png" alt="">lemente</h3>
                    <p class="dark f2">Proyecto que llevamos a cabo de la mano de
                      LINDCORP (Aruma y Tambo), con el objetivo de
                      brindar una educación de calidad a peruanos
                      del sector educativo público de forma gratuita.</p>
                      <a href="{{ site.url }}/donaciones" class="c-link dark c-link--ho-dark bg-white f2 w-bold fs-18 c-box-round-btn">Ver más</a>
                  </div>
                </div>
                <div class="cell large-5">
                  <figure class="c-extra-block__figure">
                    <div class="c-card-article bg-white mab-shadow-soft">
                      <figure class="c-card-article__figure margin-bottom-1">
                        <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/proyectos/1.png" alt="">
                      </figure>
                      <div class="c-card-article__content">
                      </div>
                    </div>
                  </figure>
                </div>
              </div>
          </div>
          <div class="c-extra-block c-extra-block--warning">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">Aprende MAB</h3>
                  <p class="dark f2">Plataforma holística educativa que
                    llega a más de 45 países del mundo
                    y a todos los departamentos del
                    Perú (www.aprendemab.com).</p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/proyectos/2.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>
          <div class="c-extra-block c-extra-block--cyan">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="dark">MAB Social</h3>
                  <p class="dark f2">Proyecto creativo en Villa María
                    del Triunfo, de la mano del
                    Hogar de las Bienaventuranzas.
                    <p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/proyectos/3.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>     
          <div class="c-extra-block c-extra-block--primary">
            <div class="grid-x align-middle align-center">
              <div class="cell large-7">
                <div class="c-extra-block__info bg-pri-color br-bottom-0-0 br--large padding-2">
                  <h3 class="white">MAB Talks</h3>
                  <p class="white f2">Invitamos a la comunidad MAB a eventos
                    gratuitos donde se presenta un expositorr
                    experto en diferentes temas: marketing,
                    educación, psicología, innovación,
                    emprendimiento, creatividad, entre otros.
                    <p>
                  
                </div>
              </div>
              <div class="cell large-5">
                <figure class="c-extra-block__figure">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/mundo/proyectos/4.png" alt="">
                    </figure>
                    <div class="c-card-article__content">
                    </div>
                  </div>
                </figure>
              </div>
            </div>
          </div>       
        </div>
      </div>
    </div>
    <div class="c-extra-list__message-container bg-white">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell large-7">
            <h3 class="c-extra-list__message dark">
                “Nuestros programas buscan
                fortalecer nuestra comunidad,
                <span class="pri-color">llevando la esencia MAB</span>
                a diferentes lugares.”
            </h3>
            <h4 class="c-extra-list__autor f2 dark">MACARENA ARRIBAS, FUNDADORA MAB</h4>
          </div>
        </div>
      </div>
        
    </div>
  </section>
{% endblock %}
