{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section id="profile" data-user="{{ user.ID }}" class="c-section c-section--perfil">
    <div class="c-banner mab-shadow-soft bg-orange margin-bottom-2">
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y align-bottom">
          <div class="cell large-8">
            <div class="c-banner__content">
              <h1 class="c-banner__title text-right position-relative">  
                <span class="white c-lh--70 big">
                  ${(user.profile && user.profile.phrase) ? user.profile.phrase : 'Estoy aquí porque quiero cambiar el mundo' }
                </span>
                <button v-if="isProfileOwner" @click="user.isModalOpened = true" class="c-edit-circle position-absolute bg-cyan white fs-25">
                  <i class="far fa-pen"></i>
                </button>
              </h1>
            </div>
          </div>
          <div class="cell large-4 margin-0">
            <div class="c-banner__figure position-relative flex-container align-center ">
              <img class="c-banner__img of--contain width-100" src="{{ theme.link }}/static/images/perfil/banner-perfil.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-user-info mrgin-bottom-3">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell large-4">
            <figure class="c-user-info__icon position-relative margin-right-1">
              <img :src="(user.profile && user.profile.avatar) ? user.profile.avatar.url : userBasicAvatar" alt="" class=" width-100 height-100 of--cover">

              <input v-if="isProfileOwner" @change="changeAvatarImage" id="avatar-file" type="file" class="hide" :disabled="avatar.isLoadingAvatar">
              <label v-if="isProfileOwner" for="avatar-file" class="c-edit-circle position-absolute bg-cyan white fs-25 flex-container align-center-middle">
                <i class="far fa-pen"></i> 
              </label> 
            </figure>
          </div>
          <div class="cell large-8 position-relative ">
            <h2 class="c-user-info__name w-xbold dark text-center large-text-left f2 margin-bottom-0"> 
              <span>${ userFullName }</span>   
              <button v-if="isProfileOwner" @click="user.isModalOpened = true" class="c-edit-circle c-edit-circle--text bg-white gray margine-left-1 fs-14">
                EDITAR <i class="far fa-pen"></i>
              </button> 
            </h2>
            <h4 class="c-user-info__rol text-center large-text-left f2 margin-bottom-0 gray">Estudiante</h4>
            <button @click="openShare()" class="c-user-info__share fs-21 f2"> <i class="fas fa-share"></i> Compartir</button>
          </div>
        </div>
      </div>
    </div>

    <div class="c-skills padding-vertical-3 margin-top-3">
      <div class="grid-container">
        <div class="center-title">
          <h2 class="c-skills__title margin-bottom-3 position-relative">
            <p class="dark fs-50 lh-40 margin-bottom-0 text-uppercase">mis habilidades</p>
            <button v-if="isProfileOwner && skills.view == 1" @click="skills.view = 2" type="button" class="c-edit-circle position-absolute bg-cyan white fs-25">
              <i class="far fa-pen"></i> 
            </button> 
          </h2>
        </div>
        </div>
      <transition name="fade" mode="out-in">
        <div v-if="skills.view == 1" key="mapa">
          <div class="grid-container">
            <div class="c-skills-map position-relative desktop">
              <figure class="c-skills__figure position-relative">
                <img class="width-100" src="{{ theme.link }}/static/images/perfil/mapa-2.png" alt="">
                <div
                  v-for="(option, oindex) of skills.values.soft.value"
                  :key="option.id"
                  class="c-float-circle flex-container align-center-middle dark f2 position-absolute w-xbold text-center padding-1"
                  :class="'fc-' + (oindex + 1)"
                >
                  ${ option }
                </div>
  
                <div
                  v-for="(option, oindex) of skills.values.hard.value"
                  :key="option.id"
                  class="c-float-box fb-1 flex-container align-center-middle dark f2 position-absolute w-xbold text-center padding-1"
                  :class="'fb-' + (oindex + 1)"
                >
                  ${ option }
                </div>
              </figure>
              <div class="c-float-legend">
                <div class="c-float-legend__item w-bold dark f2 fs-21 margin-bottom-1 flex-container align-middle">
                  <span class="color-circle margin-right-1 bg-warning-alt"></span> Habilidades blandas 
                </div>
                <div class="c-float-legend__item w-bold dark f2 fs-21 margin-bottom-1 flex-container align-middle">
                  <span class="color-box margin-right-1 bg-cyan"></span> Habilidades duras 
                </div>
              </div>
            </div>
            <div class="c-skills-list c-mobile">
              <div class="c-float-legend">
                <div class="c-float-legend__item w-xbold dark f2 fs-16 margin-bottom-1 flex-container align-middle">
                  <span class="color-circle margin-right-1 bg-warning-alt"></span> Habilidades blandas 
                </div>
              </div>
              <div v-for="option of skills.values.soft.value" :key="option.id" class="c-skills-list-item w-xbold fs-21 flex-container align-center margin-bottom-1">
                <img src="{{ theme.link }}/static/images/perfil/head.png" class="of--contain" alt="">
                <div class="c-skills-list-item__text padding-vertical-1 f2 bg-warning dark">${ option }</div>
              </div>
  
              <div class="c-float-legend margin-top-2">
                <div class="c-float-legend__item w-xbold dark f2 fs-16 margin-bottom-1 flex-container align-middle">
                  <span class="color-box margin-right-1 bg-cyan br-bottom-0-0"></span> Habilidades duras 
                </div>
              </div>
              <div v-for="option of skills.values.soft.value" :key="option.id" class="c-skills-list-item w-xbold fs-21 flex-container align-center margin-bottom-1">
                <img src="{{ theme.link }}/static/images/perfil/head.png" class="of--contain" alt="">
                <div class="c-skills-list-item__text padding-vertical-1 f2 bg-sec-color white">${ option }</div>
              </div>
            </div>
          </div>
        </div>
        <div v-else-if="skills.view == 2" key="editor">
          <div class="bg-dark vertical-pd">
            <div class="grid-container">
              <div class="c-skills-editor">
                <h3 class="c-skills-editor__title margin-bottom-0 w-xbold dark">Habilidades blandas</h3>
                <p class="fs-18 f2 pri-color w-xbold margin-bottom-1">Elige 5</p>
                <div class="grid-x grid-margin-x grid-margin-y align-middle">
                  <div class="cell large-7">
                    <div class="c-skills-editor-list c-skills-editor-list--warning">
                      <div class="grid-x grid-margin-x align-self-stretch">
                        <div v-for="option of skills.soft.options" :key="option.id" class="cell medium-4 large-3">
                          <div class="c-skills-editor-item">
                            <input
                              v-model="skills.values.soft.value"
                              :disabled="skills.values.soft.value.length == 5 && skills.values.soft.value.indexOf(option) === -1"
                              type="checkbox"
                              :id="'s' + option"
                              :value="option"
                              hidden
                            >
                            <label :for="'s' + option" class="flex-container align-center-middle dark br--medium width-100 height-100 f2 f2 w-xbold border-black margin-0">
                              ${ option }
                            </lable>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell large-5">
                    <div class="c-skills-editor__description f2 text-center bg-warning-alt br--large padding-2">
                      <h3 class="c-skills-editor__title margin-bottom-0 w-xbold dark-i margin-bottom-1">Habilidades blandas</h3>
                      <p class="fs-18 dark">
                        Una habilidad blanda es aquella que se
                        refiere a las capacidades y competencias
                        que involucran actitudes, emociones y
                        relaciones sociales. Se trata de cómo
                        nos comportamos frente a diversas
                        situaciones. Podemos reconocerlas
                        cuando conocemos a los otros de
                        forma más profunda. Estas habilidades
                        nos permiten convertirnos en mejores
                        personas. Por ejemplo: la empatía, el
                        trabajo en equipo o la creatividad.
                        Por ejemplo: ser rápido nadando, ser
                        flexible en gimnasia, ser bueno en
                        historia o matemáticas, ser bueno en
                        ciencias o en deportes, etc.
                      </p>
                    </div>
                  </div>
                </div>
                <p v-if="isWrongFieldHability('soft')" class="">La cantidad de items esta incompleta</p>
              </div>
              <div class="c-skills-editor">
                <h3 class="c-skills-editor__title margin-bottom-0 w-xbold dark">Habilidades duras</h3>
                <p class="fs-18 f2 gray margin-bottom-1 pri-color w-xbold margin-bottom-1">Elige 5</p>
                <div class="grid-x grid-margin-x grid-margin-y align-middle">
                  <div class="cell large-7">
                    <div class="c-skills-editor-list c-skills-editor-list--secondary">
                      <div class="grid-x grid-margin-x align-self-stretch">
                        <div v-for="option of skills.hard.options" class="cell medium-4 large-3">
                          <div class="c-skills-editor-item">
                            <input
                              v-model="skills.values.hard.value"
                              type="checkbox"
                              :disabled="skills.values.hard.value.length == 5 && skills.values.hard.value.indexOf(option) === -1"
                              :id="'h' + option"
                              :value="option"
                              hidden
                            >
                            <label :for="'h' + option" class="flex-container align-center-middle dark br--medium width-100 height-100 f2 f2 w-xbold border-black margin-0">
                              ${ option }
                            </lable>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell large-5">
                    <div class="c-skills-editor__description f2 text-center bg-cyan br--large padding-2">
                      <h3 class="c-skills-editor__title margin-bottom-0 w-xbold dark-i margin-bottom-1">Habilidades duras</h3>
                      <p class="fs-18 dark">
                        Una habilidad dura es aquella que
                        se refiere al conocimiento o destreza
                        de algún deporte, ciencia o actividad.
                        Podemos reconocerlas fácilmente en
                        las personas y suelen ser objetivas.
                      </p>
                    </div>
                  </div>
                </div>
                <p v-if="isWrongFieldHability('hard')" class="">La cantidad de items esta incompleta</p>
              </div>
              <div class="flex-container align-center-middle width-100 margin-top-2 mb-7">
                <button @click="skills.view = 1" class="c-button c-button--primary br--large f2 fs-21 w-bold margin-right-1">Volver al perfil</button>
                <button @click="updateProfileHabilities()" :disabled="skills.isLoading" class="c-button c-button--white-dark br--large f2 fs-21 w-bold">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </div>

    <div v-if="isProfileOwner" class="c-my-courses margin-vertical-3">
      <div class="grid-container">
        <h2 class="margin-bottom-2">
          <p class="dark fs-50 lh-40 margin-bottom-0 text-uppercase text-center">mis cursos</p>
        </h2>

        <div v-if="isLoadingEnroll">
          <div class="c-loader c-loader--full active">
            <div class="container height-100 flex-container align-center-middle">
              <div class="loader">
                {% for item in [1,2,3,4,5] %}              
                  <div class="loader--dot"></div>
                {% endfor %}       
              </div>
            </div>
          </div>
        </div>

        <div v-if="enrolledCourses.length" class="c-mab-slider c-mab-slider--side-shadow position-relative" :class="{'opacity-0' : isLoadingEnroll}">
          <div class="c-arrow-next swiper-button-next position-absolute flex-container align-center-middle">
            next
          </div>
          <div class="c-arrow-prev swiper-button-prev position-absolute flex-container align-center-middle">
            prev
          </div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div v-for="course of enrolledCourses" :key="course.id" class="swiper-slide padding-vertical-2">
                <div class="c-course-card br--large" :class="'c-course-card--' + course.color">
                  <figure class="c-course-card__figure position-relative">
                    <img :src="(course.thumbnail) ? course.thumbnail : courseBasicThumbnail" alt="" class="of--cover br-top--large width-100 height-100"> 
                    <div class="c-course-card__progress-bar position-absolute width-100">
                      <div :style="'width: '+ course.progress +'%'" class="bg-pri-alt height-100"></div>
                    </div>
                  </figure>
                  <div class="c-course-card__content flex-container fd-column padding-1 br--large">
                    <div>
                      <div class="c-course-card__titles">
                        <p class="c-course-card__name w-xbold fs-18 f2 margin-0">${ course.name }</p>
                        <p class="c-course-card__teacher fs-16 f2">Con ${ (course.teacher) ? course.teacher : '"Sin docente"' }</p>
                      </div>
                      <p class="c-course-card__description fs-16 f2 lh-18">${ course.description }</p>
                    </div>
                    <div class="grid-x align-middle">
                      <div class="small-6 medium-6">
                        <span class="c-course-card__likes f2"> <i class="fas fa-heart mr-05"></i> ${ course.likes }</span>
                      </div>
                      <div class="small-6 medium-6 text-right">
                        <a v-if="course.last_class" :href="course.last_class.link" class="c-button c-button--course display-block lh-14 f2">
                          Siguiente clase:
                          <span>${ course.last_class.title }</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <a :href="(course.last_class) ? course.last_class.link : '#'" class="c-course-card__footer display-block text-uppercase white fs-18 text-center bg-dark br-bottom--large">
                    ¡continuar curso!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else-if="!isLoadingEnroll">
          <p class="margin-bottom-0 text-center f2 dark fs-21">Aun sin cursos, inscribete en alguno.</p>
        </div>
      </div>
    </div>

    <div v-if="isProfileOwner" class="c-my-tests margin-vertical-3">
      <div class="grid-container">
        <h2 class="margin-bottom-2">
          <p class="dark fs-50 lh-40 margin-bottom-0 text-uppercase text-center">Mis tests emocionales</p>
        </h2>
        <div class="grid-x align-center">
          <div class="cell large-4">
            <div class="c-my-tests__test margin-bottom-2 text-center">
              <h4 class="margin-bottom-1">
                <p class="dark fs-21 lh-40 margin-bottom-0 text-uppercase f2 text-center">Mi tipo de personalidad</p>
              </h4>
              <figure class="c-my-tests__figure">
                <img src="{{ theme.link }}/static/images/perfil/test-01.png" alt="" class=" width-100 height-100 of--cover"> 
              </figure>
              <a href="{{ site.url }}/test-personalidad" class="c-button c-button--dark-white f2 fs-21 ">
                ${ (!tests.behaviour) ? 'Tomar test' : 'Ver mi resultado' }
              </a>
            </div>
          </div>
          <div class="cell large-4">
            <div class="c-my-tests__test text-center">
              <h4 class="margin-bottom-1">
                <p class="dark fs-21 lh-40 margin-bottom-0 text-uppercase f2 text-center">Mi estilo de aprendizaje</p>
              </h4>
              <figure class="c-my-tests__figure">
                <img src="{{ theme.link }}/static/images/perfil/test-02.png" alt="" class=" width-100 height-100 of--cover"> 
              </figure>
              <a href="{{ site.url }}/test" class="c-button c-button--dark-white f2 fs-21">
                ${ (!tests.learning) ? 'Tomar test' : 'Ver mi resultado' }
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="isProfileOwner" class="c-mab-modal padding-2 width-100 flex-container align-center-middle" :class="{'visible' : user.isModalOpened}">
      <div class="c-mab-modal__content bg-white br--large padding-2">
        <h3 class="c-modal-editor__title dark w-xbold fs-25 f2 text-uppercase margin-bottom-1">Tus datos</h3>
        <form @submit="updateProfileData($event)" class="c-form-new text-left margin-top-1" action="">
          <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
              <div class="c-form-new__input-container">
                <label class="w-bold f2 dark" for="">Nombre</label>
                <input v-model="user.firstname.value" class="f2 input-reset border-dark" type="text">
                <p v-if="isWrongField('firstname')" class="c-form-new__error pri-alt margin-bottom-0 fs-18 f2 w-medium">
                  Nombre vacío o no válido
                </p>
              </div>
            </div>
            <div class="cell large-6">
              <div class="c-form-new__input-container">
                <label class="w-bold f2 dark" for="">Apellido Paterno</label>
                <input v-model="user.fatherName.value" class="f2 input-reset border-dark" type="text">
                <p v-if="isWrongField('fatherName')" class="c-form-new__error pri-alt margin-bottom-0 fs-18 f2 w-medium">
                  Apellido Paterno vacío o no válido
                </p>
              </div>
            </div>
            <div class="cell large-6">
              <div class="c-form-new__input-container">
                <label class="w-bold f2 dark" for="">Apellido Materno</label>
                <input v-model="user.motherName.value" class="f2 input-reset border-dark" type="text">
                <p v-if="isWrongField('motherName')" class="c-form-new__error pri-alt margin-bottom-0 fs-18 f2 w-medium">
                  Apellido Materno vacío o no válido
                </p>
              </div>
            </div>
            <div class="cell">
              <div class="c-form-new__input-container">
                <label class="w-bold f2 dark" for="">Frase</label>
                <textarea v-model="user.phrase.value" @keydown="observePhraseInput" class="f2 input-reset border-dark br--medium" name="" id="" cols="30" rows="3"></textarea>
                <p v-if="isWrongField('phrase')" class="c-form-new__error pri-alt margin-bottom-0 fs-18 f2 w-medium">
                  Frase vacía o muy corta
                </p>
              </div>
            </div>
            <div class="cell text-right">
              <button @click="user.isModalOpened = false" class="c-button c-button--primary--real-ghost f2 margin-right-1">Cancelar</button>
              <button :disabled="user.isLoading" class="c-button c-button--primary f2">
                ${(user.isLoading) ? 'Actualizando...' : 'Aceptar'}
              </button>
            </div>
          </div>
      </div>
    </div>

    <div class="c-mab-modal c-mab-modal--bg-blue c-mab-modal--mini width-100 flex-container align-center-middle" :class="{'visible' : isOpenedModalCongrats}">
      <div class="grid-x align-center width-100">
        <div class="cell small-10 medium-10 large-5">
          <div class="c-mab-modal-content bg-sec-color text-center position-relative">
            <div class="text-center">
              <img loading="lazy" class="c-mab-modal__top-image donaciones" src="{{theme.link}}/static/images/vectors/heart-expression.png" alt="">
            </div>
            <button @click="isOpenedModalCongrats = false" type="button" class="c-mab-modal__cross position-absolute white bg-warning fs-18 flex-container align-center-middle">
              <i class="fas fa-times sec-color"></i>
            </button>

            <div v-if="showShareBox == false">
              <p class="w-bold warning f2 fs-18 margin-top-3">Nos hace muy felices conocerte más </p>
              <h3 class="c-mab-modal-content__title text-center  text-uppercase ">
                <span class="white f2 w-xbold">¡GRACIAS POR COMPARTIRNOS TUS <br> HABILIDADES!
              </h3>
              <span @click="showShareBox = true" class="c-link c-link--warning f2 w-xbold"> <i class="fas fa-share"></i>  Compartir</span>
            </div>

            <div v-if="showShareBox == true" class="c-mab-modal__share text-left">
              <a href="" class="c-link c-link--warning f2 w-xbold"> Compartir en:</a>
              <div class="grid-x grid-margin-x grid-margin-y align-center margin-top-1">
                <div v-if="device == 'mobile'" class="cell small-6 large-3">
                  <a :href="social.whatsapp" class="text-center">
                    <img loading="lazy"  src="{{theme.link}}/static/images/vectors/share-icons/icon-ws.png" alt="">
                    <span class="white f2 fs-14">Whatsapp</span>
                  </a>
                </div>
                <div class="cell small-6 large-3">
                  <a :href="social.linkedin" class="text-center">
                    <img loading="lazy"  src="{{theme.link}}/static/images/vectors/share-icons/icon-linkedin.png" alt="">
                    <span class="white f2 fs-14">Linkedin</span>
                  </a>
                </div>
                <div class="cell small-6 large-3">
                  <a :href="social.facebook" class="text-center">
                    <img loading="lazy" src="{{theme.link}}/static/images/vectors/share-icons/icon-fb.png" alt="">
                    <span class="white f2 fs-14">Facebook</span>
                  </a>
                </div>
                <div class="cell small-6 large-3">
                  <a :href="social.twitter" class="text-center">
                    <img loading="lazy" src="{{theme.link}}/static/images/vectors/share-icons/icon-twitter.png" alt="">
                    <span class="white f2 fs-14">Twitter</span>
                  </a>
                </div>
                <div class="cell small-6 large-3">
                  <input type="hidden" id="user-profile-link" :value="userProfile">
                  <a href="#" @click="copyProfileLink($event)" class="text-center">
                    <img loading="lazy" src="{{theme.link}}/static/images/vectors/share-icons/icon-copy.png" alt="">
                    <span class="white f2 fs-14">Copiar enlace</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
