{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--my-courses">
    <div class="c-banner bg-cyan mab-shadow">
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y align-middle">
          <div class="cell large-4">
            <div class="padding-vertical-3"> 
              <h1 class="c-banner__title warning">
                <span class="dark text-uppercase">¡HOLA,</span><br>
                <span class="dark text-uppercase">${userName}!</span>
              </h1> 
              <p class="dark f2 fs-25 lh-25">
                En MAB, estamos orgullosos de que hayas decidido girar tu educación
              </p> 
            </div>
          </div> 
          <div class="cell large-8 margin-bottom-0">
            <div class="position-relative flex-container align-center">
              <img src="{{ theme.link }}/static/images/courses/mine/banner.png" alt="" class="of--contain width-100"> 
              <!-- <img src="{{ theme.link }}/static/images/home/bolb.png" alt="" class="c-banner__heart position-absolute of--contain"> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-mab-resume padding-top-2">
      <div class="grid-container padding-vertical-3">
        <div class="br-bottom-0-0 bg-pri-color br--large mab-shadow">
          <div class="grid-x align-middle">
            <div class="cell large-5">
              <div class="c-mab-resume__content">
                <h3 class="white fs-40 lh-50">¿Sabías que este proyecto nació en un garaje?</h3>
                <p class="white fs-18 f2 margin-bottom-2">
                  Luego de varios años dando clases
                  particulares a niños y niñas de diferentes
                  colegios privados de Lima, Macarena
                  expande sus servicios a todo el Perú con
                  el objetivo de disminuir brechas sociales,
                  educativas y tecnológicas en el país.
                </p>
                <a href="{{site.url}}/nosotros" class="c-link dark c-link--ho-dark bg-white f2 w-bold fs-18 c-box-round-btn">Ver más</a>
              </div>
            </div>
            <div class="cell large-7">
              <div class="position-relative flex-container align-center">
                <img src="{{ theme.link }}/static/images/courses/mine/photo.png" alt="" class="c-mab-resume__photo position-absolute of--contain">
                <img src="{{ theme.link }}/static/images/courses/mine/resume.png" alt="" class="principal-img br--large of--contain position-relative"> 
                <img src="{{ theme.link }}/static/images/courses/mine/circle.png" alt="" class="c-banner__heart position-absolute of--contain">  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-mab-continue padding-top-2">
      <div class="grid-container padding-vertical-3">
        <h2 class="margin-bottom-2">
          <p class="dark fs-50 lh-40 margin-bottom-0 text-center">continúa tu aprendizaje</p>
          <p class="dark fs-25 margin-bottom-0 f2 text-uppercase text-center">tus cursos</p> 
        </h2>

        <div class="c-mab-slider c-mab-slider--side-shadow position-relative">
          <button
            v-if="enrolledCoursesPaged > 1"
            @click="navigateEnroll('left')"
            :disabled="isLoadingEnroll"
            class="c-arrow-prev swiper-button-prev position-absolute flex-container align-center-middle"
          >
            prev
          </button>
          <button
            v-if="enrolledCoursesPaged != -1"
            @click="navigateEnroll('right')"
            :disabled="isLoadingEnroll"
            class="c-arrow-next swiper-button-next position-absolute flex-container align-center-middle"
          >
            next
          </button>

          <transition name="fade" mode="out-in">
            <div key="enroll-loading" v-if="isLoadingEnroll" class="c-courses-grid">
              <article v-for="sk of [1,2,3,4]" :key="sk.id" class="c-course-card-skeleton"></article>
            </div>

            <div key="enroll-courses" v-else-if="enrolledCourses.length" class="c-courses-grid">
              <course-enroll v-for="course of enrolledCourses" :key="course.id" :body="course"></course-enroll>
            </div>

            <div key="enroll-not-found" v-else-if="!isLoadingEnroll">
              <p class="margin-bottom-0 text-center f2 dark fs-21">Aun sin cursos, inscribete en alguno.</p>
            </div>
          </transition>
        </div>
      </div>
    </div>

    <div class="c-mab-recommended">
      <div class="grid-container padding-bottom-3">
        <h2 class="margin-bottom-2">
          <p class="dark fs-50 lh-40 margin-bottom-0 text-center">cursos recomendados</p>
          <p class="dark fs-25 margin-bottom-0 f2 text-uppercase text-center">según tus intereses</p> 
        </h2>

        <div class="c-mab-slider c-mab-slider--side-shadow position-relative">
          <button
            v-if="recommendCoursesPaged > 1"
            @click="navigateRecommend('left')"
            :disabled="isLoadingRecommend"
            class="c-arrow-prev swiper-button-prev position-absolute flex-container align-center-middle"
          >
            prev
          </button>
          <button
            v-if="recommendCoursesPaged != -1"
            @click="navigateRecommend('right')"
            :disabled="isLoadingRecommend"
            class="c-arrow-next swiper-button-next position-absolute flex-container align-center-middle"
          >
            next
          </button>

          <transition name="fade" mode="out-in">
            <div key="recommend-loading" v-if="isLoadingRecommend" class="c-courses-grid">
              <article v-for="sk of [1,2,3,4]" :key="sk.id" class="c-course-card-skeleton"></article>
            </div>

            <div key="recommend-courses" v-else-if="recommendCourses.length" class="c-courses-grid">
              <course v-for="course of recommendCourses" :key="course.id" :body="course" ></course>
            </div>

            <div key="recommend-not-found" v-else-if="!isLoadingRecommend">
              <p class="margin-bottom-0 text-center f2 dark fs-21">Aun sin cursos, inscribete en alguno.</p>
            </div>
          </transition>
        </div>
      </div>
    </div>

    <div class="c-lideres padding-top-3 bg-warning-alt">
      <div class="grid-container padding-vertical-3">
        <div class="c-lideres__content mab-shadow br--large">
          <h2 class="margin-bottom-1">
            <p class="text-center dark fs-50 c-lh--50 margin-bottom-0">LÍDERES MAB</p>
          </h2>
          <lideres :body="lideres" />
        </div>
      </div>
    </div>

    <div class="c-other-services padding-vertical-3 margin-top-2">
      <div class="grid-container">
        <h3 class="c-other-services__title dark text-center  fs-50 c-lh--50 margin-bottom-3">otros servicios sincrónicos</h3>
        <div class="c-other-services__content">
          <div class="c-slider">
            <div class="c-slider swiper-container mab-shadow bg-orange padding-vertical-3 br--large br-bottom-0-0 margin-bottom-2">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="grid-x align-middle">
                    <div class="cell large-7">
                      <div class="c-other-services__info margin-bottom-2">
                        <p class="white fs-40 w-xbold">MAB Académico</p>
                        <ul class="white fs-18 f2 margin-bottom-2">
                          <li>Tutorías personalizadas de todos
                            los cursos
                          </li>
                          <li>Clases grupales
                          </li>
                          <li>Exámenes internacionales
                          </li>
                          <li>
                            Ingresos escolares
                          </li>
                          <li>
                            Vacacionales
                          </li>
                          <li>
                            Complemento en homeschool
                          </li>
                          <li>
                            Prueba Starter
                          </li>
                        </ul>
                        <a href="https://www.mablovers.com/mab-acadmico" target="_blank" class="c-link dark c-link--ho-dark bg-white f2 w-bold fs-18 c-box-round-btn">Conocer más</a>
                      </div>
                    </div>
                    <div class="cell large-5">
                      <div class="position-relative flex-container align-center">
                        <img src="{{ theme.link }}/static/images/courses/mine/services/1.png" alt="" class="br--large of--contain position-relative"> 
                        <img src="{{ theme.link }}/static/images/courses/mine/services/reglas.png" alt="" class="c-banner__heart position-absolute of--contain">  
                      </div>
                    </div>
                    <a href="https://api.whatsapp.com/send?phone=51{{ information.phone|replace({' ': ''}) }}" target="_blank" class="c-ws mobile c-link--ho-white position-relative bg-sec-color white w-xbold f2 fs-18 flex-container align-middle">
                      <img src="{{ theme.link }}/static/images/courses/mine/whatsapp.png" alt="" class=""> 
                      <span class="padding-left-1">
                        Escríbenos para
                        tener acceso
                      </span>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="grid-x align-middle">
                    <div class="cell large-7">
                      <div class="c-other-services__info margin-bottom-2">
                        <p class="white fs-35 w-xbold">MAB Emocional</p>
                        <ul class="white fs-18 f2 margin-bottom-2">
                          <li>Coaching vocacional (orientación
                            vocacional)
                          </li>
                          <li>Terapias emocionales
                          </li>
                          <li>Terapias de aprendizaje
                          </li>
                          <li>
                            Talleres para padres
                          </li>
                          <li>
                            Evaluaciones psicológicas
                          </li>
                          <li>
                            Evaluaciones emocionales
                          </li>
                          <li>
                            Talleres de Habilidades para la vida, Soft Skills y más
                          </li>
                        </ul>
                        <a href="{{ site.url }}/psicologos" class="c-link dark c-link--ho-dark bg-white f2 w-bold fs-18 c-box-round-btn">Conocer más</a>
                      </div>
                    </div>
                    <div class="cell large-5">
                      <div class="position-relative flex-container align-center">
                        <img src="{{ theme.link }}/static/images/courses/mine/services/2.png" alt="" class="br--large of--contain position-relative"> 
                        <img src="{{ theme.link }}/static/images/courses/mine/services/head-heart.png" alt="" class="c-banner__heart position-absolute of--contain">  
                      </div>
                    </div>
                    <a href="https://api.whatsapp.com/send?phone=51{{ information.phone|replace({' ': ''}) }}" target="_blank" class="c-ws mobile c-link--ho-white position-relative bg-sec-color white w-xbold f2 fs-18 flex-container align-middle">
                      <img src="{{ theme.link }}/static/images/courses/mine/whatsapp.png" alt="" class=""> 
                      <span class="padding-left-1">
                        Escríbenos para
                        tener acceso
                      </span>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="grid-x align-middle">
                    <div class="cell large-7">
                      <div class="c-other-services__info margin-bottom-2">
                        <p class="white fs-35 w-xbold">MAB 360</p>
                        <ul class="white fs-18 f2 margin-bottom-2">
                          <li>Arte & creatividad</li>
                          <li>
                            Métodos de estudio
                          </li>
                          <li>
                            Talleres de actualidad
                          </li>
                          <li>
                            Talleres de idiomas, mate y ciencias divertidas
                          </li>
                          <li>
                            MAB Babies
                          </li>
                          <li>
                            Ecología y reciclaje
                          </li>
                          <li>
                            Tecnología
                          </li>
                        </ul>
                        <a href="https://www.mablovers.com/mab-360" target="_blank" class="c-link dark c-link--ho-dark bg-white f2 w-bold fs-18 c-box-round-btn">Conocer más</a>
                      </div>
                    </div>
                    <div class="cell large-5">
                      <div class="position-relative flex-container align-center">
                        <img src="{{ theme.link }}/static/images/courses/mine/services/3.png" alt="" class="br--large of--contain position-relative"> 
                        <img src="{{ theme.link }}/static/images/courses/mine/services/foco.png" alt="" class="c-banner__heart position-absolute of--contain">  
                      </div>
                    </div>
                    <a href="https://api.whatsapp.com/send?phone=51{{ information.phone|replace({' ': ''}) }}" target="_blank" class="c-ws mobile c-link--ho-white position-relative bg-sec-color white w-xbold f2 fs-18 flex-container align-middle">
                      <img src="{{ theme.link }}/static/images/courses/mine/whatsapp.png" alt="" class=""> 
                      <span class="padding-left-1">
                        Escríbenos para
                        tener acceso
                      </span>
                    </a>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="grid-x align-middle">
                    <div class="cell large-7">
                      <div class="c-other-services__info margin-bottom-2">
                        <p class="white fs-35 w-xbold">Nuestros programas</p>
                        <ul class="white fs-18 f2 margin-bottom-2">
                          <li>MAB Empresas</li>
                          <li>
                            MAB Socia
                          </li>
                          <li>
                            MAB Talks
                          </li>
                          <li>
                            aMABlemente
                          </li>
                          <li>
                            MAB Click
                          </li>
                        </ul>
                        <a href="https://www.mablovers.com/programas" target="_blank" class="c-link dark c-link--ho-dark bg-white f2 w-bold fs-18 c-box-round-btn">Conocer más</a>
                      </div>
                    </div>
                    <div class="cell large-5">
                      <div class="position-relative flex-container align-center">
                        <img src="{{ theme.link }}/static/images/courses/mine/services/4.png" alt="" class="br--large of--contain position-relative"> 
                        <img src="{{ theme.link }}/static/images/courses/mine/services/cohete.png" alt="" class="c-banner__heart position-absolute of--contain">  
                      </div>
                    </div>
                    <a href="https://api.whatsapp.com/send?phone=51{{ information.phone|replace({' ': ''}) }}" target="_blank" class="c-ws c-link--ho-white mobile position-relative bg-sec-color white w-xbold f2 fs-18 flex-container align-middle">
                      <img src="{{ theme.link }}/static/images/courses/mine/whatsapp.png" alt="" class=""> 
                      <span class="padding-left-1">
                        Escríbenos para
                        tener acceso
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="c-slider__pagination swiper-pagination"></div>
          </div>
        </div>
        <a href="https://api.whatsapp.com/send?phone=51{{ information.phone|replace({' ': ''}) }}" target="_blank" class="c-ws desktop c-link--ho-white position-relative bg-sec-color white w-xbold f2 fs-18 flex-container align-middle">
          <img src="{{ theme.link }}/static/images/courses/mine/whatsapp.png" alt="" class=""> 
          <span class="padding-left-1">
            Escríbenos para
            tener acceso
          </span>
        </a>
      </div>
    </div>
  </section>
{% endblock %}
