{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block metas %} {% endblock %}

{% block content %}
  {% include "components/signup.twig" %}

  <section class="c-section c-section--mab-course">
    <div class="c-banner bg-pri-color mab-shadow">
      <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle align-self-stretch">
          <div class="cell large-5">
            <div class="padding-vertical-3"> 
              <h1 class="c-banner__title warning">
                <span class="white text-uppercase">{{ post.title }}</span>
              </h1> 
              {% if teacher and teacher.fullname %} <h5 class="f2 dark w-xbold margin-0">Con {{ teacher.fullname }}</h5> {% endif %}

              {% if teacher and teacher.job %} <h6 class="f2 dark fs-16">{{ teacher.job }}</h6> {% endif %}

              <p class="f2 dark margin-top-1">{{ description }}</p>
              <button v-if="logedUser" @click="startCourse('{{ post.id }}', '{{ post.title }}', '{{ post.link }}')" class="c-link dark c-link--ho-dark bg-white f2 w-bold fs-18 c-box-round-btn">¡Comenzar curso!</button>
              <div class="flex-container align-midle f2 dark fs-18 padding-top-2">
                <span class="margin-right-1"><i class="fas fa-heart"></i> {{ likes }}</span> 

                {% if trailer %}
                  <a @click="openTrailer($event)" class="c-banner__link c-link--ho-dark margin-right-1 dark bb-dark" href="#">Ver trailer</a> 
                {% endif %}

                {% if teacher.link %}
                  <a href="{{ teacher.link }}" class="c-banner__link c-link--ho-dark dark bb-dark">Ver más sobre el speaker</a>
                {% endif %}
              </div>
            </div>
          </div> 
          <div class="cell large-7 margin-bottom-0">
            <div class="position-relative flex-container align-center course-bg-figure">
              <img src="{{ teacher.cover.url }}" alt="" class="c-banner__figure of--contain "> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-course-resume padding-vertical-3 bg-white">
      <div class="grid-container">
        <div class="c-tab">
          <div class="c-tab-head text-center">
            <div class="grid-x">
              <div class="cell large-6">
                <div @click="view = 1" :class="{ active : view == 1 }" class="c-tab-head__title pri-color w-xbold position-relative margin-vertical-1 fs-40 border-0">SOBRE EL CURSO</div>
              </div>
              <div v-if="true" class="cell large-6">
                <div @click="view = 2" :class="{ active : view == 2 }" class="c-tab-head__title pri-color w-xbold position-relative margin-vertical-1 fs-40 small">FORO</div>
              </div>
            </div>
          </div>
          <div class="c-tab-body padding-vertical-2">
            <transition name="fade" mode="out-in">
              <div v-if="view == 1" key="contenido" class="c-tab-slide">
                <div class="grid-x align-justify">
                  <div class="cell large-6">
                    <div class="padding-horizontal-2 margin-bottom-2">
                      <h3 class="w-xbold f2 fs-25 dark margin-bottom-1">¿Qué incluye este curso?</h3>
                      <ul class="c-tab__list f2 dark margin-left-0 fs-18">
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-clock pri-color"></i>
                          </span>
                          {{ duration }}hrs de clases
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-hourglass pri-color"></i>
                          </span>
                          Acceso indefinido a todas las clases
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-file-download pri-color"></i>
                          </span>
                          Material descargable
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-check-circle pri-color"></i>
                          </span>
                          Prueba de opción múltiple
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-comments pri-color"></i>
                          </span>
                          Acceso al foro del curso
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-clock pri-color"></i>
                          </span>
                          Diploma
                        </li>
                      </ul>
                    </div>

                    <div v-if="logedUser" class="c-tab-recursos br-bottom--large br-bottom-0-0 br-top--large padding-2">
                      <div class="grid-x align-self-strecht text-center">
                        <div class="cell">
                          <h3 class="w-xbold f2 fs-25 dark margin-bottom-1 text-uppercase text-left">Certificado</h3>
                        </div>
                        <div class="small-5 medium-5 large-4">
                          <div class="c-tab-recursos__item c-tab-recursos__item--auto f2 w-bold">
                            <a id="certificate_download" :href="certificate">
                              <figure class="margin-bottom-1 position-relative">
                                <img src="{{ theme.link }}/static/images/curso/certificate.jpg" alt="" class=" width-100"> 
                                <div
                                  class="width-100 height-100 position-absolute flex-container align-justify flex-dir-column warning-alt"
                                  :class="{'c-tab-recursos__shade' : !hasCertificate}"
                                >
                                  <div v-if="!hasCertificate" @click="showTooltipCerticado = !showTooltipCerticado" class="width-100 text-right ">
                                    <i class="far fa-exclamation-circle c-pointer"></i>
                                  </div>
  
                                  <div v-if="!hasCertificate && showTooltipCerticado == false" class="white">
                                    <i class="far fa-lock"></i>
                                  </div>
  
                                  <div v-if="!hasCertificate">
                                    <div v-if="showTooltipCerticado == true" class="white">
                                      <span>Debes completar el curso para obtener tu certificado</span> 
                                    </div>
                                  </div>
  
                                  <div v-if="!hasCertificate" class="opacity-0">
                                    <i class="far fa-exclamation-circle"></i>
                                  </div>
                                </div>
                              </figure>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell large-5">
                    <div v-if="isLoadingUnities">
                      <div class="c-loader c-loader--full active">
                        <div class="container height-100 flex-container align-center-middle">
                          <div class="loader">
                            {% for item in [1,2,3,4,5] %}              
                              <div class="loader--dot"></div>
                            {% endfor %}       
                          </div>
                        </div>
                      </div>
                    </div>
                    <div v-else class="c-accordion position-relative padding-top-1 padding-horizontal-2">
                      <h3 class="c-accordion__header margin-bottom-0 padding-1 bg-dark white fs-21 f2 text-uppercase text-center w-xbold">CONTENIDOS</h3>
                      <div class="c-accordion__body bg-white">
                        <ul class="ul-reset">
                          <li v-for="(unity, uindex) of unities" :key="unity.id" class="c-accordion-item">
                            <input v-model="unity.enable" @change="resetAccordion(unity)" :id="'accordion-item-' + uindex" class="c-accordion hide" type="checkbox">
                            <label class="c-accordion-item__switcher width-100 bg-pri-color" :for="'accordion-item-' + uindex">
                              <p class="margin-bottom-0 w-bold dark f2 fs-18">Unidad ${ uindex + 1 }: ${ unity.title }</p>
                              <i class="c-icon dark fs-21 far fa-chevron-up"></i>
                            </label>
                            <div class="c-accordion-item__content position-relative bg-white f2 dark w-medium">
                              <div v-for="(topic, tindex) of unity.topics" :key="topic.id" class="c-mab-toggle fs-21">
                                <a
                                  :class="topic.video.state ? 'pri-color c-link--ho-primary' : 'dark c-link--ho-primary' "
                                  :href="getTopicLink(topic.video.link, tindex, uindex)"
                                >
                                  <span class="triangle"></span> ${ topic.title }
                                </a> 
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-else-if="view == 2" key="foro" class="c-tab-slide padding-horizontal-1">
                <div class="c-foro mab-shadow">
                  <div class="c-foro-head bg-dark br-top--large text-center padding-horizontal-1">
                    <div v-if="foro == 1" class="grid-x">
                      <div class="cell small-8 medium-8 large-7">
                        <h2 class="c-foro-head__title fs-21 white w-xbold text-uppercase margin-0 f2">TEMA</h2>
                      </div>
                      <div class="small-4 medium-4 large-5">
                        <h2 class="c-foro-head__title fs-21 white w-xbold text-uppercase margin-0 f2">RESPUESTAS</h2>
                      </div>
                    </div>
                    <div v-if="foro == 2 && selectedDiscussion">
                      <h2 class="c-foro-head__title fs-18 white w-xbold text-uppercase margin-0 f2 padding-horizontal-1 text-left">${ selectedDiscussion.subject }</h2>
                    </div>
                  </div>
                  <div class="c-foro-body">
                    <div class="c-foro-scroll height-100">
                      <div v-if="foro == 1">
                        <discussion
                          v-if="discussions.sticky"
                          class="margin-bottom-1"
                          :body="discussions.sticky"
                          :selected.sync="selectedDiscussion"
                          :view.sync="foro"
                          :authorized="discussions.is_user_owner"
                          :sticky="true"
                          :handler="getDiscussions"
                        >
                        </discussion>

                        <discussion
                          v-for="discussion of discussions.data"
                          :key="discussion.id"
                          class="margin-bottom-1"
                          :body="discussion"
                          :selected.sync="selectedDiscussion"
                          :view.sync="foro"
                          :authorized="discussions.is_user_owner"
                          :sticky="false"
                          :handler="getDiscussions"
                        >
                        </discussion>

                        <button @click="getDiscussions()" v-if="discussionsPaged != -1 && discussions.data.length != 0" class="sec-alt flex-container f2 w-sbold align-middle">
                          <span class="c-icon margin-right-1"><i class="far fa-ellipsis-h"></i></span> 
                          <p class="margin-bottom-0">Mostrar más discusiones</p>
                        </button> 
                      </div>
                      <div v-else-if="foro == 2 && selectedDiscussion" class="position-relative">
                        <div class="c-foro__subtitle bg-white width-100 margin-bottom-1">
                          <div class="f2 fs-14 w-bold">Publicado por ${ selectedDiscussion.author }</div> 
                          <span class="f2 fs-14">${ getDateFormated(selectedDiscussion.created_at) }</span>
                        </div>
                        <section>
                          <comment
                            v-if="comments.sticky"
                            :body="comments.sticky"
                            :post="{ type: (selectedDiscussion.topic_id) ? 'topic' : 'discussion', id: selectedDiscussion.id, topic: selectedDiscussion.topic_id }"
                            :authorized="comments.is_user_owner"
                            :sticky="true"
                            :thread.sync="comments"
                            :handler="getDiscussion"
                          >
                          </comment>

                          <comment
                            v-for="comment of comments.list"
                            :body="comment"
                            :post="{ type: (selectedDiscussion.topic_id) ? 'topic' : 'discussion', id: selectedDiscussion.id, topic: selectedDiscussion.topic_id }"
                            :key="comment.id"
                            :authorized="comments.is_user_owner"
                            :sticky="false"
                            :thread.sync="comments"
                            :handler="getDiscussion"
                          >
                          </comment>

                          <button @click="getComments()" v-if="commentsPaged != -1 && comments.list.length != 0" class="sec-alt flex-container f2 w-sbold align-middle">
                            <span class="c-icon margin-right-1"><i class="far fa-ellipsis-h"></i></span> 
                            <p class="margin-bottom-0">Mostrar más comentarios</p>
                          </button>

                          <div v-if="commentbox == 1" class="c-foro-footer fs-21  padding-1 f2 dark br-bottom--large box-shadow-none bg-white-i">
                            <editor
                              :target="{ id: (selectedDiscussion.topic_id) ? selectedDiscussion.topic_id : selectedDiscussion.id, type: 'post'}"
                              :post="{ type: (selectedDiscussion.topic_id) ? 'topic' : 'discussion' }"
                              :thread.sync="comments"
                            >
                            </editor>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                  <div class="c-foro-footer fs-21  padding-1 f2 dark br-bottom--large br-bottom-0-0">
                    <div v-if="foro == 1" class="text-center">
                      <div>
                        <span @click="isOpenedCreateDiscussion = true" class="w-xbold padding-right-1">Abrir debate</span><i class="far fa-plus-circle"></i>
                      </div>
                    </div>
                    <div v-if="foro == 2" class="flex-container align-justify padding-horizontal-1">
                      <div @click="foro = 1" class="fs-16"><i class="far fa-chevron-left"></i> <span class="padding-left-1">Volver a todos los debates</span></div>
                      <div @click="commentbox = 1" class="fs-16">Nuevo comentario <i class="far fa-plus-circle"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>  
    </div>

    <div class="c-mab-modal c-mab-modal c-mab-modal--mini width-100 flex-container align-center-middle c-mab-modal--certificado" :class="{'visible' : isOpenedCertificateModal}">
      <div class="grid-x align-center width-100">
        <div class="cell small-11 medium-11 large-8">
          <div class="c-mab-modal-content br-bottom-0-0 bg-warning-alt text-center position-relative ">
            <div class="text-center">
              <div v-if="courseCertificate" class="c-certificado">
                <div class="grid-x align-self-stretch">
                  <div class="cell large-8 bg-white">
                      <div class="padding-2 margin-botom-2 text-left">
                        <div class="grid-x">
                          <div class="cell large-8">
                            <div class="dark">
                              <p class="c-certificado__top-subtitle f2">Certificado de curso</p>
                              <h2 class="c-certificado__top-title">${ courseCertificate.course }</h2>
                              <p class="c-certificado__top-subtitle f2">El presente diploma se otroga a</p>
                            </div>
                          </div>
                          <div class="cell large-4">
                            <div class="height-100 flex-container align-middle align-right">
                              <img loading="lazy" class="c-certificado__heart" src="{{theme.link}}/static/images/vectors/heart.png" alt="">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="margin-bottom-2">
                        <h1 class="c-certificado__name text-uppercase sec-color">${ courseCertificate.user }</h1>
                        <p class="c-certificado__sub f2 dark">Certificado de aprobación online</p>
                        <p class="c-certificado__sub f2 dark"><strong>Aprobado el ${ courseCertificate.date }</strong></p>
                        <p class="c-certificado__sub f2 dark">${ courseCertificate.duration } horas de Teoría y práctica</p>
                      </div>
                      <div class="c-certificado__firmas flex-container align-justify align-middle">
                        <div class="c-certificado__firma">
                          <img loading="lazy" class="" src="{{theme.link}}/static/images/certificates/firma-1.png" alt="">
                          <div class="f2 dark">Macarena Arribas <br> Ceo y fundadora de Mab</div>
                        </div>
                        <div class="c-certificado__firma">
                          <img loading="lazy" class="" src="{{theme.link}}/static/images/certificates/firma-2.png" alt="">
                          <div class="f2 dark">Macarena Arribas <br> Ceo y fundadora de Mab</div>
                        </div>
                      </div>
                      <div class="c-certificado__bottom flex-container align-justify align-middle">
                        <div class="c-certificado__side">
                          <div class="f2 dark">http://aprendemab.com/</div>
                        </div>
                        <div class="c-certificado__side">
                          <div class="f2 dark">cod  ${ courseCertificate.data.signature }</div>
                        </div>
                      </div>
                  </div>
                  <div class="cell large-4 bg-pri-color">
                    <div class="c-certificado__aside height-100 flex-container align-center-middle">
                      <img loading="lazy" class="" src="{{theme.link}}/static/images/logo-white.png" alt="">
                      <p class="white f2">Felicitaciones por atreverte a aprender distinto y complementar tu aprendizaje con educación para CRECER</p>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <button @click="closeCertificateModal()" type="button" class="c-mab-modal__cross position-absolute white bg-dark fs-18 flex-container align-center-middle">
              <i class="fas fa-times white"></i>
            </button>
            <h3 class="c-mab-modal-content__title text-center  text-uppercase margin-top-3">
              <span class="dark w-xbold">COMPARTE TUS LOGROS CON TU FAMILIA, <br> AMIGOS Y TUS REDES SOCIALES
            </h3>
            <p class=" f2 fs-18 pri-color w-xbold">Compártelo</p>
            <div v-if="courseCertificateSocial" class="c-modal-share-list">
              <div class="grid-x grid-margin-y align-center">
                <div v-if="device == 'mobile'" class="cell small-3 large-3">
                  <a :href="courseCertificateSocial.whatsapp" class="text-center">
                    <img loading="lazy"  src="{{theme.link}}/static/images/vectors/share-icons/icon-ws.png" alt="">
                  </a>
                </div>
                <div class="cell small-3 large-3">
                  <a :href="courseCertificateSocial.linkedin" class="text-center">
                    <img loading="lazy"  src="{{theme.link}}/static/images/vectors/share-icons/icon-linkedin.png" alt="">
                  </a>
                </div>
                <div class="cell small-3 large-3">
                  <a :href="courseCertificateSocial.facebook" class="text-center">
                    <img loading="lazy" src="{{theme.link}}/static/images/vectors/share-icons/icon-fb.png" alt="">
                  </a>
                </div>
                <div class="cell small-3 large-3">
                  <a :href="courseCertificateSocial.twitter" class="text-center">
                    <img loading="lazy" src="{{theme.link}}/static/images/vectors/share-icons/icon-twitter.png" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="c-video-modal width-100 flex-container align-center-middle" :class="{'visible' : isOpenedTrailer}">
      <div class="c-video-modal__content bg-white br--large">
        <div>
          <div class="c-video-modal__iframe-container position-relative width-100">
            <div style="padding:56.25% 0 0 0;position:relative;">
              <iframe id="video-trailer" src="https://player.vimeo.com/video/{{trailer|split('/')[3]}}?color=de0d46&title=0&byline=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <div class="flex-container align-justify align-center margin-top-1">
          <div class="sec-color fs-21 f2">
            <i class="fas fa-heart"></i> <span>{{ likes }}</span>
          </div>
          <button @click="closeTrailer()" type="button" class="c-button c-button--success f2"> Regresar</button>
        </div>
      </div>
    </div>

    <div class="c-mab-modal c-mab-modal--bg-blue c-mab-modal--mini flex-container align-center-middle width-100" :class="{'visible' : isOpenedCreateDiscussion}">
      <div class="grid-x align-center width-100">
        <div class="cell small-10 medium-10 large-4">
          <div class="c-mab-modal-content bg-white ">
            <h3 class="c-mab-modal-content__title text-center f2 text-uppercase dark">
              Abrir una discusión
            </h3>
            <div class="c-form-new">
              <div class="c-form-new__input-container margin-bottom-2">
                <div class="">
                  <input v-model="discussion.name.value" class="f2 border-gray input-dark" type="text" placeholder="Asunto">
                  <p v-if="isWrongField('name')" class="c-form-new__error margin-bottom-0 fs-16 f2 w-medium pri-alt">Asunto vacío o incorrecto</p>  
                </div>
              </div>
              <div class="width-100 margin-top-2">
                <div class="grid-x grid-margin-x grid-margin-y align-center">
                  <div class="cell small-6 medium-6 large-6 text-left">
                    <button @click="isOpenedCreateDiscussion = false" class="c-button c-button--success c-button--arrow c-button--small width-100 float-r w-mab-light">Volver</button>
                  </div>
                  <div class="cell small-6 medium-6 large-6 text-right">
                    <button @click="saveDiscussion()" :disabled="discussion.isLoading" class="c-button c-button--success c-button--arrow c-button--small width-100 float-l w-mab-light">
                      ${ (discussion.isLoading) ? 'Creando...' : 'Crear' }
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
