{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block metas %} {% endblock %}

{% block content %}
  {% include "components/signup.twig" %}

  <section class="c-section c-section--mab-course">
    <div class="c-banner bg-sec-color mab-shadow">
      <div class="grid-container">
        <div class="grid-x grid-margin-x align-bottom align-self-stretch">
          <div class="cell large-5">
            <div class="padding-vertical-3"> 
              <h1 class="c-banner__title warning">
                <span class="white text-uppercase">{{ post.title }}</span>
              </h1> 
              {% if teacher and teacher.fullname %} <h5 class="f2 white w-xbold margin-0">Con {{ teacher.fullname }}</h5> {% endif %}

              {% if teacher and teacher.job %} <h6 class="f2 white fs-16">{{ teacher.job }}</h6> {% endif %}

              <p class="f2 white margin-top-1">{{ description }}</p>
              <button v-if="logedUser" @click="startCourse('{{ post.id }}', '{{ post.title }}', '{{ post.link }}')" class="c-button c-button--mab-warning-black f2 w-xbold">Comenzar curso!</button>
              <div class="flex-container align-midle f2 white fs-18 padding-top-2">
                <span class="margin-right-1"><i class="fas fa-heart"></i> {{ likes }}</span> 

                {% if trailer %}
                  <a class="c-banner__link margin-right-1 warning bb-warning" href="">Ver trailer</a> 
                {% endif %}

                {% if teacher.link %}
                  <a href="{{ teacher.link }}" class="c-banner__link c-link--warning warning bb-warning">Ver más sobre el speaker</a>
                {% endif %}
              </div>
            </div>
          </div> 
          <div class="cell large-7 margin-bottom-0">
            <div class="position-relative flex-container align-center">
              <img src="{{ teacher.cover.url }}" alt="" class="c-banner__figure of--contain"> 
              <img src="{{ (vector) ? vector : theme.link }}/static/images/home/heart.png" alt="" class="c-banner__heart position-absolute of--contain">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-course-resume padding-vertical-3 bg-white">
      <div class="grid-container">
        <div class="c-tab">
          <div class="c-tab-head text-center">
            <div class="grid-x">
              <div class="cell">
                <div @click="view = 1" :class="{ active : view == 1 }" class="c-tab-head__title f2 w-xbold position-relative margin-vertical-1 fs-30 border-0">SOBRE EL CURSO</div>
              </div>
              <div v-if="false" class="cell large-6">
                <div @click="view = 2" :class="{ active : view == 2 }" class="c-tab-head__title f2 w-xbold position-relative margin-vertical-1 fs-30 small">FORO</div>
              </div>
            </div>
          </div>
          <div class="c-tab-body padding-vertical-2">
            <transition name="fade" mode="out-in">
              <div v-if="view == 1" key="contenido" class="c-tab-slide">
                <div class="grid-x align-justify">
                  <div class="cell large-6">
                    <div class="padding-horizontal-2 margin-bottom-2">
                      <h3 class="w-xbold f2 fs-25 dark margin-bottom-1">¿Qué incluye este curso?</h3>
                      <ul class="c-tab__list f2 dark margin-left-0 fs-18">
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-clock sec-color"></i>
                          </span>
                          {{ duration }}hrs de clases
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-hourglass sec-color"></i>
                          </span>
                          Acceso indefinido a todas las clases
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-file-download sec-color"></i>
                          </span>
                          Material descargable
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-check-circle sec-color"></i>
                          </span>
                          Prueba de opción múltiple
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-comments sec-color"></i>
                          </span>
                          Acceso al foro del curso
                        </li>
                        <li>
                          <span class="c-icon-course">
                            <i class="fas fa-clock sec-color"></i>
                          </span>
                          Diploma
                        </li>
                      </ul>
                    </div>
                    <div v-if="true" class="c-tab-recursos br-bottom--large br-top--large padding-2">
                      <h3 class="w-xbold f2 fs-25 dark margin-bottom-1 text-uppercase">RECURSOS</h3>
                      <div class="grid-x align-self-strecht text-center">
                        <div class="small-3 medium-3 large-3">
                          <div class="c-tab-recursos__item f2 w-bold">
                            <div></div>
                            <figure class="margin-bottom-1">
                              <img src="{{ theme.link }}/static/images/curso/doc.png" alt="" class=" width-100 height-100 of--contain"> 
                            </figure>
                            <div>Resúmenes</div>
                          </div>
                        </div>

                        <div class="small-3 medium-3 large-3">
                          <div class="c-tab-recursos__item f2 w-bold">
                            <figure class="margin-bottom-1">
                              <img src="{{ theme.link }}/static/images/curso/doc.png" alt="" class=" width-100 height-100 of--contain"> 
                            </figure>
                            <div>Hojas de trabajo</div>
                          </div>
                        </div>

                        <div class="small-3 medium-3 large-3">
                          <div class="c-tab-recursos__item f2 w-bold">
                            <figure class="margin-bottom-1">
                              <img src="{{ theme.link }}/static/images/curso/doc.png" alt="" class=" width-100 height-100 of--contain"> 
                            </figure>
                            <div>Solucionarios</div>
                          </div>
                        </div>

                        <div class="small-3 medium-3 large-3">
                          <div class="c-tab-recursos__item f2 w-bold">
                            <figure class="margin-bottom-1">
                              <img src="{{ theme.link }}/static/images/curso/doc-2.png" alt="" class=" width-100 height-100 of--contain"> 
                            </figure>
                            <div>Mapas mentales</div>
                          </div>
                        </div>
                        <div class="cell">
                          <h3 class="w-xbold f2 fs-25 dark margin-bottom-1 text-uppercase text-left margin-top-2">Certificado</h3>
                        </div>
                        <div class="small-5 medium-5 large-4">
                          <div class="c-tab-recursos__item c-tab-recursos__item--auto f2 w-bold">
                            <figure class="margin-bottom-1 position-relative">
                              <img src="{{ theme.link }}/static/images/courses/banner.png" alt="" class=" width-100"> 
                              <div class="c-tab-recursos__shade width-100 height-100 position-absolute flex-container align-justify flex-dir-column warning-alt">
                                <div @click="showTooltipCerticado = !showTooltipCerticado" class="width-100 text-right ">
                                  <i class="far fa-exclamation-circle c-pointer"></i>
                                </div>

                                <div v-if="showTooltipCerticado == false" class="white">
                                  <i class="far fa-lock"></i>
                                </div>

                                <div>
                                  <div v-if="showTooltipCerticado == true" class="white">
                                    <span>Debes completar el curso para obtener tu certificado</span> 
                                  </div>
                                </div>
                                

                                <div class="opacity-0">
                                  <i class="far fa-exclamation-circle"></i>
                                </div>
                              </div>
                            </figure>
                            <!-- <div>Certificado</div> -->
                          </div>
                        </div>

                        <div class="cell">
                          <button class="c-button margin-top-1 c-button--mab-warning-black f2 w-xbold fs-21">¡Descárgalos todos!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cell large-5">
                    <div v-if="isLoadingUnities">
                      <div class="c-loader c-loader--full active">
                        <div class="container height-100 flex-container align-center-middle">
                          <div class="loader">
                            {% for item in [1,2,3,4,5] %}              
                              <div class="loader--dot"></div>
                            {% endfor %}       
                          </div>
                        </div>
                      </div>
                    </div>
                    <div v-else class="c-accordion position-relative">
                      <h3 class="c-accordion__header margin-bottom-0 padding-1 bg-dark white fs-21 f2 text-uppercase text-center w-xbold">CONTENIDOS</h3>
                      <div class="c-accordion__body bg-white">
                        <ul class="ul-reset">
                          <li v-for="(unity, uindex) of unities" :key="unity.id" class="c-accordion-item">
                            <input v-model="unity.enable" @change="resetAccordion(unity)" :id="'accordion-item-' + uindex" class="c-accordion hide" type="checkbox">
                            <label class="c-accordion-item__switcher width-100 bg-sec-color" :for="'accordion-item-' + uindex">
                              <p class="margin-bottom-0 w-bold white f2 fs-18">Unidad ${ uindex + 1 }: ${ unity.title }</p>
                              <i class="c-icon white fs-21 far fa-chevron-up"></i>
                            </label>
                            <div class="c-accordion-item__content position-relative bg-white f2 dark w-medium">
                              <div v-for="(topic, tindex) of unity.topics" :key="topic.id" class="c-mab-toggle fs-21">
                                <a
                                  :class="topic.video.state ? 'sec-color c-link--ho-secondary' : 'dark c-link--ho-secondary' "
                                  :href="getTopicLink(topic.video.link, tindex + 1, uindex + 1)"
                                >
                                  <span class="triangle"></span> ${ topic.title }
                                </a> 
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div v-else-if="view == 2" key="foro" class="c-tab-slide">
                <div class="c-foro mab-shadow">
                  <div class="c-foro-head bg-dark br-top--large text-center padding-horizontal-1">
                    <div v-if="foro == 1" class="grid-x">
                      <div class="cell small-8 medium-8 large-7">
                        <h2 class="c-foro-head__title fs-21 white w-xbold text-uppercase margin-0 f2">TEMA</h2>
                      </div>
                      <div class="small-4 medium-4 large-5">
                        <h2 class="c-foro-head__title fs-21 white w-xbold text-uppercase margin-0 f2">RESPUESTAS</h2>
                      </div>
                    </div>
                    <div v-if="foro == 2">
                        <h2 class="c-foro-head__title fs-18 white w-xbold text-uppercase margin-0 f2 padding-horizontal-1 text-left">Clase 1: ¿Qué es la nutrición?</h2>
                    </div>
                  </div>
                  <div class="c-foro-body">
                    <div class="c-foro-scroll height-100">
                      <div v-if="foro == 1">
                        <div class="c-foro-theme">
                          <div class="grid-x align-middle">
                            <div class="small-8 medium-7 large-7">
                              <div class="c-foro-theme__info flex-container align-justify align-middle">
                                <div>
                                  <a class="c-foro-theme__title f2 w-xbold dark" href="">Clase 1: ¿Qué es la nutrición?</a>
                                  <div>
                                    <span class="f2 fs-14 w-bold">Maca Wellness,</span> <span class="f2 fs-14">15 Marzo 2021</span>
                                  </div>
                                </div>
                                <div>
                                  <span class="fs-21">
                                    <i class="far fa-thumbtack"></i>
                                  </span>
                                  <span class="c-foro-theme__circle bg-success margin-left-1">
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="small-4 medium-5 large-5">
                              <div class="text-center">
                                <span class="f2 w-bold fs-21">10</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="c-foro-theme">
                          <div class="grid-x align-middle">
                            <div class="small-8 medium-7 large-7">
                              <div class="c-foro-theme__info flex-container align-justify align-middle">
                                <div>
                                  <a class="c-foro-theme__title f2 w-xbold dark" href="">Clase 1: ¿Qué es la nutrición?</a>
                                  <div>
                                    <span class="f2 fs-14 w-bold">Maca Wellness,</span> <span class="f2 fs-14">15 Marzo 2021</span>
                                  </div>
                                </div>
                                <div>
                                  <span class="fs-21">
                                    <i class="far fa-thumbtack"></i>
                                  </span>
                                  <span class="c-foro-theme__circle bg-success margin-left-1">
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="small-4 medium-5 large-5">
                              <div class="text-center">
                                <span class="f2 w-bold fs-21">10</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="c-foro-theme">
                          <div class="grid-x align-middle">
                            <div class="small-8 medium-7 large-7">
                              <div class="c-foro-theme__info flex-container align-justify align-middle">
                                <div>
                                  <a class="c-foro-theme__title f2 w-xbold dark" href="">Clase 1: ¿Qué es la nutrición?</a>
                                  <div>
                                    <span class="f2 fs-14 w-bold">Maca Wellness,</span> <span class="f2 fs-14">15 Marzo 2021</span>
                                  </div>
                                </div>
                                <div>
                                  <span class="fs-21">
                                    <i class="far fa-thumbtack"></i>
                                  </span>
                                  <span class="c-foro-theme__circle bg-success margin-left-1">
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="small-4 medium-5 large-5">
                              <div class="text-center">
                                <span class="f2 w-bold fs-21">10</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="c-foro-theme">
                          <div class="grid-x align-middle">
                            <div class="small-8 medium-7 large-7">
                              <div class="c-foro-theme__info flex-container align-justify align-middle">
                                <div>
                                  <a class="c-foro-theme__title f2 w-xbold dark" href="">Clase 1: ¿Qué es la nutrición?</a>
                                  <div>
                                    <span class="f2 fs-14 w-bold">Maca Wellness,</span> <span class="f2 fs-14">15 Marzo 2021</span>
                                  </div>
                                </div>
                                <div>
                                  <span class="fs-21">
                                    <i class="far fa-thumbtack"></i>
                                  </span>
                                  <span class="c-foro-theme__circle bg-success margin-left-1">
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="small-4 medium-5 large-5">
                              <div class="text-center">
                                <span class="f2 w-bold fs-21">10</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="c-foro-theme">
                          <div class="grid-x align-middle">
                            <div class="small-8 medium-7 large-7">
                              <div class="c-foro-theme__info flex-container align-justify align-middle">
                                <div>
                                  <a class="c-foro-theme__title f2 w-xbold dark" href="">Clase 1: ¿Qué es la nutrición?</a>
                                  <div>
                                    <span class="f2 fs-14 w-bold">Maca Wellness,</span> <span class="f2 fs-14">15 Marzo 2021</span>
                                  </div>
                                </div>
                                <div>
                                  <span class="fs-21">
                                    <i class="far fa-thumbtack"></i>
                                  </span>
                                  <span class="c-foro-theme__circle bg-success margin-left-1">
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="small-4 medium-5 large-5">
                              <div class="text-center">
                                <span class="f2 w-bold fs-21">10</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="c-foro-theme">
                          <div class="grid-x align-middle">
                            <div class="small-8 medium-7 large-7">
                              <div class="c-foro-theme__info flex-container align-justify align-middle">
                                <div>
                                  <a class="c-foro-theme__title f2 w-xbold dark" href="">Clase 1: ¿Qué es la nutrición?</a>
                                  <div>
                                    <span class="f2 fs-14 w-bold">Maca Wellness,</span> <span class="f2 fs-14">15 Marzo 2021</span>
                                  </div>
                                </div>
                                <div>
                                  <span class="fs-21">
                                    <i class="far fa-thumbtack"></i>
                                  </span>
                                  <span class="c-foro-theme__circle bg-success margin-left-1">
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="small-4 medium-5 large-5">
                              <div class="text-center">
                                <span class="f2 w-bold fs-21">10</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="c-foro-theme">
                          <div class="grid-x align-middle">
                            <div class="small-8 medium-7 large-7">
                              <div class="c-foro-theme__info flex-container align-justify align-middle">
                                <div>
                                  <a class="c-foro-theme__title f2 w-xbold dark" href="">Clase 1: ¿Qué es la nutrición?</a>
                                  <div>
                                    <span class="f2 fs-14 w-bold">Maca Wellness,</span> <span class="f2 fs-14">15 Marzo 2021</span>
                                  </div>
                                </div>
                                <div>
                                  <span class="fs-21">
                                    <i class="far fa-thumbtack"></i>
                                  </span>
                                  <span class="c-foro-theme__circle bg-success margin-left-1">
                                  </span>
                                </div>
                              </div>
                            </div>
                            <div class="small-4 medium-5 large-5">
                              <div class="text-center">
                                <span class="f2 w-bold fs-21">10</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div v-if="foro == 2" class="position-relative">
                        <div class="c-foro__subtitle bg-white width-100 margin-bottom-1">
                          <div class="f2 fs-14 w-bold">Publicado por Maca Wellness</div> 
                          <span class="f2 fs-14">15 Marzo 2021</span>
                        </div>
                        <div class="c-comment br-top--large br-bottom--large margin-bottom-1">
                          <div class="grid-x">
                            <div class="small-2 medium-2 large-2">
                              <figure class="c-comment__figure">
                                <img src="{{ theme.link }}/static/images/courses/banner.png" alt="" class="width-100 height-100 of--cover"> 
                              </figure>
                            </div>
                            <div class="small-10 medium-8 large-8">
                              <div class="c-comment-content">
                                <div class="c-comment__autor f2 w-xbold dark fs-21">
                                  Maca Wellness <span class="padding-left-1 fs-16"><i class="far fa-thumbtack"></i></span>
                                </div>
                                <div class="c-comment__rol f2 margin-bottom-1 fs-14 lh-14">
                                  Estudiante
                                </div>
                                <div class="c-comment__theme f2 w-xbold dark fs-16">
                                  Carbohidratos en la noche
                                </div>
                                <p class="c-comment__text f2 dark fs-16 lh-18">
                                  ¡Gracias Maca! Súper interesante. ¿Es cierto que comer carbohidratos en la noche es malo para nuestra salud?
                                </p>
                              </div>
                            </div>
                            <div class="cell medium-2 large-2">
                              <div class="flex-container align-bottom align-right text-right f2 height-100 padding-right-1 fs-18">
                                <span>Responder</span>
                                <span class="padding-left-1"><i class="far fa-heart"></i><span class="c-comment__like">12</span></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="grid-x align-right">
                          <div class="small-11 medium-11 large-11">
                            <div class="c-comment br-top--large br-bottom--large margin-bottom-1">
                              <div class="grid-x">
                                <div class="small-2 medium-2 large-2">
                                  <figure class="c-comment__figure">
                                    <img src="{{ theme.link }}/static/images/courses/banner.png" alt="" class="width-100 height-100 of--cover"> 
                                  </figure>
                                </div>
                                <div class="small-10 medium-8 large-8">
                                  <div class="c-comment-content">
                                    <div class="c-comment__autor f2 w-xbold dark fs-21">
                                      Maca Wellness <span class="padding-left-1 fs-16"><i class="far fa-thumbtack"></i></span>
                                    </div>
                                    <div class="c-comment__rol f2 margin-bottom-1 fs-14 lh-14">
                                      Estudiante
                                    </div>
                                    <div class="c-comment__theme f2 w-xbold dark fs-16">
                                      Carbohidratos en la noche
                                    </div>
                                    <p class="c-comment__text f2 dark fs-16 lh-18">
                                      ¡Gracias Maca! Súper interesante. ¿Es cierto que comer carbohidratos en la noche es malo para nuestra salud?
                                    </p>
                                  </div>
                                </div>
                                <div class="cell medium-2 large-2">
                                  <div class="flex-container align-bottom align-right text-right f2 height-100 padding-right-1 fs-18">
                                    <span>Responder</span>
                                    <span class="padding-left-1"><i class="far fa-heart"></i><span class="c-comment__like">12</span></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div v-if="commentbox == 1" class="c-comment-box br-top--large br-bottom--large margin-bottom-1 padding-vertical-1">
                          <div class="c-comment-box__subject flex-container align-middle">
                            <label class="f2 fs-18 margin-right-1 dark">Asunto:</label>
                            <input class="f2 fs-18 margin-0" type="text">
                          </div>
                          <div class="">
                            <div class="c-comment-box__assets fs-25">
                              <span><i class="far fa-smile-beam"></i> <input type="file" hidden></span>
                              <span><i class="far fa-paperclip"></i> <input type="file" hidden></span>
                              <span><i class="far fa-square"></i> <input type="file" hidden></span>
                              <span><i class="far fa-square"></i> <input type="file" hidden></span>

                            </div>
                            <textarea name="" id="" cols="30" rows="10"></textarea>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="c-foro-footer fs-21  padding-1 f2 dark br-bottom--large">
                    <div v-if="foro == 1" class="text-center">
                      <span @click="foro = 2" class="w-xbold">Abrir debate</span><i class="far fa-plus-circle"></i>
                    </div>
                    <div v-if="foro == 2" class="flex-container align-justify padding-horizontal-1">
                      <div @click="foro = 1" class="fs-16"><i class="far fa-chevron-left"></i> <span class="padding-left-1">Volver a todos los debates</span></div>
                      <div @click="commentbox = 1" class="fs-16">Nuevo comentario <i class="far fa-plus-circle"></i></div>
                    </div>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>  
    </div>

    <div v-if="true" class="c-mab-modal c-mab-modal--bg-blue visible c-mab-modal--mini width-100 flex-container align-center-middle">
      <div class="grid-x align-center width-100">
        <div class="cell small-10 medium-10 large-5">
          <div class="c-mab-modal-content bg-sec-color text-center position-relative">
            <div class="text-center">
              <img loading="lazy" class="c-mab-modal__top-image donaciones" src="{{theme.link}}/static/images/vectors/heart-expression.png" alt="">
            </div>
            <button type="button" class="c-mab-modal__cross position-absolute white bg-warning fs-18 flex-container align-center-middle">
              <i class="fas fa-times sec-color"></i>
            </button>
            <h3 class="c-mab-modal-content__title text-center  text-uppercase margin-top-3">
              <span class="warning f2 w-xbold">¡LO LOGRASTE! FELICIDADES POR COMPLETAR EL CURSO!
            </h3>
            <p class="w-bold white f2 fs-18">Esperamos que hayas aprendido y disfurtado de este curso, no olvides descargar y compartir tu certificado </p>
            <a href="" class="c-link c-link--warning f2 w-xbold">Ver certificado</a>
          </div>
        </div>
      </div>
    </div>

  </section>
{% endblock %}
