<footer class="c-footer padding-top-2 bg-dark">
  <div class="grid-container overflow-hidden">
    <div class="c-footer__content position-relative">
      <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell medium-4 large-3 align-self-stretch">
          <h4 class="fs-21 white w-bold f2">MAB</h4>
          <ul class="ul-reset">
            <li class="f2">
              <a href="{{ site.url }}/nosotros" class="c-link c-link--white fs-18 c-link--ho-warning">Nosotros</a>
            </li>
            <li class="f2">
              <a href="{{ site.url }}/donaciones" class="c-link c-link--white fs-18 c-link--ho-warning">Donaciones</a>
            </li>
            <li class="f2">
              <a href="{{ site.url }}/educacion" class="c-link c-link--white fs-18 c-link--ho-warning">Educación</a>
            </li>
            <li class="f2">
              <a href="{{ site.url }}/empresas" class="c-link c-link--white fs-18 c-link--ho-warning">MAB Empresas</a>
            </li>
            <li class="f2">
              <a href="{{ site.url }}/proyectos" class="c-link c-link--white fs-18 c-link--ho-warning">Proyectos</a>
            </li>
            <li class="f2">
              <a href="{{ site.url }}/llegamos" class="c-link c-link--white fs-18 c-link--ho-warning">¿Cómo llegamos a ti?</a>
            </li>
            <li class="f2">
              <a href="{{ site.url }}/servicios" class="c-link c-link--white fs-18 c-link--ho-warning">Servicios</a>
            </li>
          </ul>
        </div>
        <div class="cell medium-4 large-3 align-self-stretch">
          <h4 class="fs-21 white w-bold f2">Comunidad</h4>
          <ul class="ul-reset">
            <li class="f2">
              <a href="{{ site.url }}/lideres" class="c-link c-link--white fs-18 c-link--ho-warning">Líderes</a>
            </li>
            <li class="f2">
              <a href="{{ site.url }}/blog" class="c-link c-link--white fs-18 c-link--ho-warning">Charlas</a>
            </li>
            <li class="f2">
              <a href="{{ site.url }}/blog" class="c-link c-link--white fs-18 c-link--ho-warning">Blog</a>
            </li>
          </ul>
        </div>
        <div class="cell medium-4 large-3 align-self-stretch">
          <h4 class="fs-21 white w-bold f2">Contacto</h4>
          <ul class="ul-reset">
            <li class="f2">
              <a href="mailto:{{information.email}}" class="c-link c-link--white c-link--ho-warning fs-18"><i class="far fa-envelope mr-05"></i> {{information.email}}</a>
            </li>

            {% if information.phone %}
              <li class="f2">
                <a href="https://api.whatsapp.com/send?phone=51{{ information.phone|replace({' ': ''}) }}" class="c-link c-link--white fs-18 c-link--ho-warning"><i class="fab fa-whatsapp mr-05"></i> {{ information.phone }}</a>
              </li>
            {% endif %}

            {% if information.phone_alt %}
              <li class="f2">
                <a href="https://api.whatsapp.com/send?phone=51{{ information.phone_alt|replace({' ': ''}) }}" class="c-link c-link--white fs-18 c-link--ho-warning"><i class="fab fa-whatsapp mr-05"></i> {{ information.phone_alt }}</a>
              </li>
            {% endif %}
          </ul>
        </div>
        <div class="cell large-3 align-self-stretch">
          <div class="large-text-center height-100 flex-container flex-dir-column align-center-middle">
            <h4 class="fs-25 c-lh--25 white margin-bottom-1">encuéntranos en</h4>
            <div class="c-social-cards flex-container">
              {% for item in social_menu.items %}
                {% set icon = (item.name|lower == 'facebook') ? item.name|lower ~ '-f' : item.name|lower %}

                <a href="{{ item.link }}" class="c-social-cards__item bg-white flex-container align-center-middle rounded fs-25">
                  <i class="fab fa-{{ icon }}"></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="c-footer__vector-container flex-container align-center">
        <figure class="c-footer__vector">
          <img class="width-100 of--contain" src="{{ theme.link }}/static/images/vectors/heart.png" alt="">
        </figure>
      </div>
    </div>
  </div>
</footer>
