<header class="c-header width-100" :class="{ shadowed : isHeaderWithShadow }">
  <nav class="c-nav width-100">
    <div class="c-nav__left padding-horizontal-1 position-relative height-100 flex-container align-left align-middle margin-right-1">
      <ul class="c-menu flex-container ul-reset" :class="{logged : logedUser}">
        {% set home = primary_menu.items[0] %}
        {% set sec_pub = primary_menu.items[1] %}
        {% set sec_priv = primary_menu.items[2] %}
        <figure class="c-brand c-brand--normal flex-container align-center-middle">
          <a class="c-brand__link" href="{{ site.url }}/emotional">
          </a>
        </figure>
        
        <li>
          <div class="c-menu__item">
            <a href="{{ home.link }}" class="position-relative">{{ home.name }}</a>
          </div>
        </li>
        <li v-if="logedUser.user_sector == 'publico'">
          <div class="c-menu__item">
            <a class="position-relative flex-container align-middle" @click="updateStatusPubSectorMenu">
              MAB ACADÉMICO <span class="c-icon margin-left-1"><i class="far fa-chevron-down"></i></span>
            </a>
          </div>
        </li> 
        <li v-else-if="logedUser.user_sector != 'privado'">
          <div class="c-menu__item">
            <a class="position-relative flex-container align-middle" @click="updateStatusPubSectorMenu">
              {{ sec_pub.name }}<span class="c-icon margin-left-1"><i class="far fa-chevron-down"></i></span>
            </a>
          </div>
        </li> 
        <li v-if="logedUser.user_sector == 'privado'">
          <div class="c-menu__item">
            <a class="position-relative flex-container align-middle" @click="updateStatusPrivSectorMenu">
              MAB ACADÉMICO <span class="c-icon margin-left-1"><i class="far fa-chevron-down"></i></span>
            </a>
          </div>
        </li>
        <li v-else-if="logedUser.user_sector != 'publico'" >
          <div class="c-menu__item">
            <a class="position-relative flex-container align-middle" @click="updateStatusPrivSectorMenu">
              {{ sec_priv.name }}<span class="c-icon margin-left-1"><i class="far fa-chevron-down"></i></span>
            </a>
          </div>
        </li>
      </ul>        
    </div>
    <div class="c-nav__center flex-container align-center-middle bg-warning" :class="{ visible : isActiveBrowserToggle }">
      <ul class="c-menu flex-container align-middle ul-reset">
        <li>
          <div class="c-menu__item">
            <a href="{{ primary_menu.items[3].link }}" class="position-relative">{{ primary_menu.items[3].name }}</a>
          </div>
        </li>
      </ul>
      <browser></browser>
    </div>
    <div class="c-nav__right position-relative flex-container align-middle height-100">
      <button class="c-search-toggle margin-right-1 white fs-25" @click="updateStatusBrowserToggle">
        <span><i class="far fa-search"></i></span>
      </button>
      {# <a href="{{site.url}}/carrito" class="c-link--white margin-right-1 fs-25">
        <span><i class="far fa-shopping-cart"></i></span>
      </a> #}
      <profile v-if="logedUser"></profile>
      <a 
        v-else 
        href="{{site.url}}/login" 
        class="c-login flex-container f2 fs-18 align-center-middle height-100 w-bold white">INGRESAR</a>
    </div>      
  </nav>
</header>
  
  