<header class="c-header c-header-mobile width-100 padding-bottom-0" :class="{ 'c-header-mobile--visible' : isActiveMenu}">
  <div class="grid-container">
    <nav class="c-nav width-100">
      <div class="c-nav__left width-100 flex-container align-center-middle margin-bottom-1">
        <figure class="c-brand c-brand--normal flex-container align-center-middle">
          <a class="c-brand__link" href="{{ site.url }}/emotional">
          </a>
        </figure>
      </div>
      <div class="c-nav__right width-100">
        <ul class="c-menu flex-container flex-dir-column ul-reset">
          {% set sesion = primary_menu.items[1] %}

          <li v-if="logedUser.user_sector == 'publico'" class="flex-container flex-dir-column">
            <label for="sector-pub" class="c-menu__item flex-container align-justify align-middle padding-1">
              <a class="position-relative">CURSOS</a>
              <span class="c-icon"><i class="far fa-chevron-down"></i></span>
            </label>              
            <input id="sector-pub" type="checkbox" class="hide">

            <ul v-if="sectorMenuData.public" class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
              <li v-for="level of sectorMenuData.public.levels">
                <label :for="'pub-level-' + level.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                  <a class="position-relative">${level.name}</a>
  
                  <span class="c-icon white"><i class="far fa-chevron-down"></i></span>
                </label>
                <input :id="'pub-level-' + level.id" type="checkbox" class="hide">
  
                <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                  <li v-for="grade of level.grades">
                    <label :for="'pub-grade-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                      <a class="position-relative">${grade.name}</a>
  
                      <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                    </label>
                    <input :id="'pub-grade-' + grade.id" type="checkbox" class="hide">
  
                    <ul v-if="!grade.courses.isAreas" class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                      <div v-for="course of grade.courses.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1">
                        <a :href="'{{site.url}}/curso/' + course.slug + '?sector=publico'" class="position-relative">${course.name}</a>               
                      </div>
                    </ul>
                    <ul v-else class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                      <li>
                        <label :for="'pub-area-academic-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.academic.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'pub-area-academic-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.academic.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=publico'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>

                      <li>
                        <label :for="'pub-area-emotional-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.emotional.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'pub-area-emotional-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.emotional.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=publico'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>

                      <li>
                        <label :for="'pub-area-creative-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.creative.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'pub-area-creative-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.creative.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=publico'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>
                    </ul>
                  </li>                
                </ul>
              </li>
            </ul>
          </li>

          <li v-else-if="logedUser.user_sector != 'privado'" class="flex-container flex-dir-column">
            <label for="sector-pub" class="c-menu__item flex-container align-justify align-middle padding-1">
              <a class="position-relative">SECTOR PÚBLICO</a>
              <span class="c-icon"><i class="far fa-chevron-down"></i></span>
            </label>              
            <input id="sector-pub" type="checkbox" class="hide">

            <ul v-if="sectorMenuData.public" class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
              <li v-for="level of sectorMenuData.public.levels">
                <label :for="'pub-level-' + level.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                  <a class="position-relative">${level.name}</a>
  
                  <span class="c-icon white"><i class="far fa-chevron-down"></i></span>
                </label>
                <input :id="'pub-level-' + level.id" type="checkbox" class="hide">
  
                <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                  <li v-for="grade of level.grades">
                    <label :for="'pub-grade-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                      <a class="position-relative">${grade.name}</a>
  
                      <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                    </label>
                    <input :id="'pub-grade-' + grade.id" type="checkbox" class="hide">
  
                    <ul v-if="!grade.courses.isAreas" class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                      <div v-for="course of grade.courses.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1">
                        <a :href="'{{site.url}}/curso/' + course.slug + '?sector=publico'" class="position-relative">${course.name}</a>               
                      </div>
                    </ul>
                    <ul v-else class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                      <li>
                        <label :for="'pub-area-academic-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.academic.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'pub-area-academic-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.academic.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=publico'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>

                      <li>
                        <label :for="'pub-area-emotional-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.emotional.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'pub-area-emotional-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.emotional.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=publico'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>

                      <li>
                        <label :for="'pub-area-creative-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.creative.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'pub-area-creative-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.creative.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=publico'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>
                    </ul>
                  </li>                
                </ul>
              </li>
            </ul>
          </li>

          <li v-if="logedUser.user_sector == 'privado'" class="flex-container flex-dir-column {% if 'current-menu-item' in sec_priv.class %} activate {% endif %}">
            <label for="sector-priv" class="c-menu__item flex-container align-justify align-middle padding-1">
              <a class="position-relative">CURSOS</a>
              <span class="c-icon"><i class="far fa-chevron-down"></i></span>
            </label>              
            <input id="sector-priv" type="checkbox" class="hide">

            <ul v-if="sectorMenuData.private" class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
              <li v-for="level of sectorMenuData.private.levels">
                <label :for="'priv-level-' + level.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                  <a class="position-relative">${level.name}</a>
  
                  <span class="c-icon white"><i class="far fa-chevron-down"></i></span>
                </label>
                <input :id="'priv-level-' + level.id" type="checkbox" class="hide">
  
                <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                  <li v-for="grade of level.grades">
                    <label :for="'priv-grade-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                      <a class="position-relative">${grade.name}</a>
  
                      <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                    </label>
                    <input :id="'priv-grade-' + grade.id" type="checkbox" class="hide">
  
                    <ul v-if="!grade.courses.isAreas" class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                      <div v-for="course of grade.courses.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1">
                        <a :href="'{{site.url}}/curso/' + course.slug + '?sector=privado'" class="position-relative">${course.name}</a>               
                      </div>
                    </ul>
                    <ul v-else class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                      <li>
                        <label :for="'priv-area-academic-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.academic.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'priv-area-academic-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.academic.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=privado'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>

                      <li>
                        <label :for="'priv-area-emotional-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.emotional.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'priv-area-emotional-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.emotional.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=privado'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>

                      <li>
                        <label :for="'priv-area-creative-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.creative.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'priv-area-creative-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.creative.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=privado'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>
                    </ul>
                  </li>                
                </ul>
              </li>
            </ul>
          </li>

          <li v-else-if="logedUser.user_sector != 'publico'" class="flex-container flex-dir-column {% if 'current-menu-item' in sec_priv.class %} activate {% endif %}">
            <label for="sector-priv" class="c-menu__item flex-container align-justify align-middle padding-1">
              <a class="position-relative">SECTOR PRIVADO</a>
              <span class="c-icon"><i class="far fa-chevron-down"></i></span>
            </label>              
            <input id="sector-priv" type="checkbox" class="hide">

            <ul v-if="sectorMenuData.private" class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
              <li v-for="level of sectorMenuData.private.levels">
                <label :for="'priv-level-' + level.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                  <a class="position-relative">${level.name}</a>
  
                  <span class="c-icon white"><i class="far fa-chevron-down"></i></span>
                </label>
                <input :id="'priv-level-' + level.id" type="checkbox" class="hide">
  
                <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                  <li v-for="grade of level.grades">
                    <label :for="'priv-grade-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                      <a class="position-relative">${grade.name}</a>
  
                      <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                    </label>
                    <input :id="'priv-grade-' + grade.id" type="checkbox" class="hide">
  
                    <ul v-if="!grade.courses.isAreas" class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                      <div v-for="course of grade.courses.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1">
                        <a :href="'{{site.url}}/curso/' + course.slug + '?sector=privado'" class="position-relative">${course.name}</a>               
                      </div>
                    </ul>
                    <ul v-else class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                      <li>
                        <label :for="'priv-area-academic-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.academic.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'priv-area-academic-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.academic.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=privado'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>

                      <li>
                        <label :for="'priv-area-emotional-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.emotional.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'priv-area-emotional-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.emotional.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=privado'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>

                      <li>
                        <label :for="'priv-area-creative-' + grade.id" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                          <a class="position-relative">${grade.courses.areas.creative.name}</a>
      
                          <span class="c-icon white"><i class="far fa-chevron-down"></i></span>                 
                        </label>
                        <input :id="'priv-area-creative-' + grade.id" type="checkbox" class="hide">
      
                        <ul class="c-submenu ul-reset bg-pri-color width-100 overflow-hidden">
                          <div v-for="course of grade.courses.areas.creative.courses" class="c-submenu__item flex-container align-justify align-middle padding-horizontal-1" :class="{ active : true }">
                            <a :href="'{{site.url}}/curso/' + course.slug + '?sector=privado'" class="position-relative">${course.name}</a>
                          </div>
                        </ul>
                      </li>
                    </ul>
                  </li>                
                </ul>
              </li>
            </ul>
          </li>

          <li class="flex-container flex-dir-column {% if 'current-menu-item' in sesion.class %} activate {% endif %}">
            <div class="c-menu__item flex-container align-justify padding-1">
              <a href="{{ sesion.link }}" class="position-relative">{{ sesion.name }}</a>
            </div>
          </li>
        </ul>   
      </div>      
    </nav>
  </div>
</header>
