<head>
  <title>{{ site.name }}</title>
	<meta charset="{{ site.charset }}">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Panda WP - ..." />
	<meta name="robots" content="index,follow">	
	<meta name="keywords" content="">	
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Panda WP" />
	<meta property="og:image" content="{{ theme.link }}/static/images/og_image.png" />	
	<link rel="icon" href="{{ theme.link }}/static/images/favicon.png?key=20200415">
	
	{{ function('wp_head') }}
</head>
