{% extends '_html.twig' %}

{% block hero %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--home">
    <section class="init">
      <div class="init_line">
       Accede a todo nuestro contenido online. Comienza a aprender con MAB desde cualquier lugar

      </div>
      <div class="init_corner">
        <button class="init_corner_btn">¡HOLA!</button>
        <div class="init_corner_btn_container d-none">
          <a href="" target="_blank">Sector Público</a>
          <a href="" target="_blank">Sector Privado</a>
        </div>
      </div>
      <div class="init_logo">
        <img src="{{theme.link}}/static/images/landing/mab_icon.png" alt="">
      </div>
      <div class="init_mabClick">
      <div class="init_element_left">
          <img src="{{theme.link}}/static/images/landing/init_element.png" alt="">
        </div>
        <span class="init_mabClick_text">
          MAB<br> CLICK
          <img class="init_mabClick_corner" src="{{theme.link}}/static/images/landing/corner_white.png" alt="">
        </span>
        <div class="init_brazo">
          <img src="{{theme.link}}/static/images/landing/mano.png" alt="">
        </div>
      </div>
    </section>
    <section class="mab_linkForm">
      <div class="section_content">
        <h2 class="title">
          Queremos <br> conocerte
        </h2>
        <h3 class="subtitle">
          Para seguir dándote lo mejor
        </h3>
        <ul class="mab_linkForm_list">
          <li>
            <a href="{{site.url}}/formularios?type=profesor" >Profesor</a>
            <span></span>
          </li>
          <li>
            <a href="{{site.url}}/formularios?type=estudiante">Estudiante</a>
            <span></span> 
          </li>
          <li>
            <a href="{{site.url}}/formularios?type=tutor">Padre/Tutor</a>
            <span></span>    
          </li>
          <li>
            <a href="{{site.url}}/emotional">Visitante</a>
            <span></span>    
          </li>
        </ul>
      </div>
    </section>
    <section class="mab_resume">
      <div class="section_content">            
        <div class="block">
          En MAB buscamos revolucionar la educación hacia una más emocional y humana, que forme mejores personas, para así construir una mejor sociedad.
        </div>
        <div class="block_rigth">
         Con MAB CLICK podrás potenciar tus conocimientos adaptándonos a tu estilo de aprendizaje, manteniendo un balance académico y emocional.
          <br>
          <br> Encontrarás videos de desarrollo personal y habilidades blandas, así como videos educativos y herramientas para reforzar tu aprendizaje en toda la etapa escolar.
          <br>
          <br> Todos aprendemos distinto por lo que hemos creado distintas opciones que se adapten a tu estilo.
        </div>
        <img class="mab_resume_img" src="{{theme.link}}/static/images/landing/chica_corner.png" alt="">
      </div>
    </section>
    <section class="mab_balance">
      <div class="section_content">
        <h2 class="title">
          BALANCE <br> ACADÉMICO Y EMOCIONAL
        </h2>
        <figure class="mab_balance_figure">
          <img src="{{theme.link}}/static/images/landing/mapa.png" alt="">
        </figure>
      </div>
    </section>
    <section class="mab_boxes">
      <div class="mab_boxes_item">
        <div class="box_content">
          Trabajamos con el sector privado y con el sector público, adaptándonos a sus áreas curriculares.
        </div>
      </div>
      <div class="mab_boxes_item">
        <div class="box_content">
          Todos los estudiantes pasan por una evaluación de estilos de aprendizaje.
        </div>
      </div>
      <div class="mab_boxes_item">
        <div class="box_content">
          Cada curso se trabaja con diferentes materiales que se adaptan a los distintos estilos de aprendizaje.
        </div>
      </div>
      <div class="mab_boxes_item">
        <div class="box_content">
          El sistema lanzará estadísticas de avance en cada curso.
        </div>
      </div>
      <div class="mab_boxes_item">
        <div class="box_content">
          Invitamos a estudiantes, profesores, padres, porque entendemos que la educación nos involucra a todos.
        </div>
      </div>
      <div class="mab_boxes_item">
        <div class="box_content">
          Explicaciones
          <br> a TU medida
        </div>
      </div>
    </section>

    <section class="mab_boxes_img">
      <div class="section_content">
      <img class="mab_boxes_img_desktop" src="{{theme.link}}/static/images/landing/blue_map_desktop.png" alt="">
      <img class="mab_boxes_img_mobile" src="{{theme.link}}/static/images/landing/blue_map_mobile.png" alt="">      
      </div>
    </section>

    <section class="mab_pantalla">
      <figure class="mab_pantalla_figure">
        <img class="" src="{{theme.link}}/static/images/landing/pantalla.png" alt="">
        <div class="mab_pantalla_figure_base">
          <img src="{{theme.link}}/static/images/landing/panta.png" alt="">
        </div>
      </figure>
    </section>
    <section class="mab_contact">
      <div class="section_content">
        <div class="mab_contact_info">
          <div class="mab_contact_item">
            Únete a  nuestra <br> comunidad
          </div>
          <ul class="mab_contact_social">
            {% for item in social_menu.items %}              
              <li>
                <a href="{{item.link}}" target="_blank"> 
                  <i class="fab fa-{{item.slug}}"></i>
                </a>
              <li>
            {% endfor %}
          </ul>
        </div>
        <div class="mab_contact_figure">
          <img src="{{theme.link}}/static/images/landing/ojo.png" alt="">          
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="section_content">
        <div class="footer_left">
          {{information.email}} <span>|</span> {{information.phone}}
        </div>
        <ul class="footer_list">
          <li>
            <img src="{{theme.link}}/static/images/landing/footer_img/footer_1.png?key=20200406" alt="">
          </li>
          <li>
            <img src="{{theme.link}}/static/images/landing/footer_img/footer_2.png?key=20200406" alt="">                
          </li>
          <li>
            <img src="{{theme.link}}/static/images/landing/footer_img/footer_3.png?key=20200406" alt="">                        
          </li>
          <li>
            <img src="{{theme.link}}/static/images/landing/footer_img/footer_4.png?key=20200406" alt="">
          </li>
          <li>
            <img src="{{theme.link}}/static/images/landing/footer_img/footer_5.png?key=20200406" alt="">
          </li>
          <li>
            <img src="{{theme.link}}/static/images/landing/footer_img/footer_6.png?key=20200406" alt="">
          </li>
        </ul>
      </div>
    </footer>



    <section class="c-modal discount opened position-fixed width-100 height-100 padding-vertical-2" :class="{ opened : isOpenedQuestionsModal }">
      <div class="grid-container height-100">
        <div class="grid-x align-center-middle height-100">
          <div class="cell medium-10 large-9">
            <div class="c-modal__content position-relative flex-container flex-dir-column questions br--medium bg-white">
              <div class="flex-container align-right margin-bottom-1">
                <button>
                  <span @click="isOpenedQuestionsModal = false" class="c-icon fs-30"><i class="far fa-times"></i></span>
                </button>
              </div>
              <section class="c-modal__body padding-vertical-1 padding-right-1">

<a href=""> 
              <img class="modal_img_desktop" src="{{theme.link}}/static/images/landing/modal_descuento_desktop.png" alt="" >
              <img class="modal_img_mobile" src="{{theme.link}}/static/images/landing/modal_descuento_mobile.png" alt="" >
                           
                  </a>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section> 
  </section>
{% endblock %}

{% block footer %}
{% endblock %}
