{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <div id="kinesthetic-template" style="display: none;">
    <div class="c-behaviour-template padding-1 f2 w-medium">
      {{info.kinesthetic}}
    </div>
  </div>  
  <div id="visual-template" style="display: none;">
    <div class="c-behaviour-template padding-1 f2 w-medium">
      {{info.visual}}
    </div>
  </div>  
  <div id="auditive-template" style="display: none;">
    <div class="c-behaviour-template padding-1 f2 w-medium">
      {{info.auditive}}
    </div>
  </div>

  <section class="c-section c-section--test bg-sec-color">
    <div v-if="!testDone" class="grid-container">
      <div class="grid-x align-center">
        <div class="cell medium-10 large-8">
          <h2 class="c-questions__title f1 text-uppercase w-bold text-center white">Test para determinar <br> el Canal de Aprendizaje de preferencia</h2>
        </div>
      </div>
    </div>

    <div class="grid-container position-relative padding-bottom-3">
      <div class="c-result  width-100" :class="{ hidden : !testDone, 'c-result--done' : testDone }">
        <div class="grid-container padding-vertical-3 ">
          <h2 class="c-questions__title results f1 text-uppercase white margin-bottom-1">
            <span class="w-bold f1">Resultados</span>  <br> 
            <span class="w-ligth f2">TEST DE ESTILOS DE APRENDIZAJE</span>
          </h2>

          <a :href="userProfile" class="c-button c-button--white-dark margin-right-1 f2 w-xbold text-center margin-bottom-2 display-inline-block">Volver al perfil</a>

          <div class="grid-x align-center align-middle bg-white br-45 padding-vertical-2 padding-horizontal-3 ">
            <div class="cell medium-4 large-4">
              <div class="c-chart flex-container flex-dir-column align-justify text-center height-100">
                <div>
                  <div id="chart" class="c-chart__graph">
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="cell medium-8 large-8">
              <div class="grid-x align-center grid-margin-x grid-margin-y">
                <div class="cell medium-6 large-4">
                  <div class="c-behaviour flex-container flex-dir-column align-middle text-center">
                    <figure id="visual" class="c-behaviour__vector margin-bottom-1">
                      <img class="of--contain" src="{{theme.link}}/static/images/vectors/test/visual.png?key=20200419" alt="">
                    </figure>
                    <h3 class="c-behaviour__title">
                      <p class="f2 fs-30 w-bold dark">${testResult.visual}%</p>
                      <p class="f2 fs-25 dark margin-bottom-0">VISUAL</p>
                    </h3>
                  </div>
                </div>
                <div class="cell medium-6 large-4">
                  <div class="c-behaviour flex-container flex-dir-column align-middle text-center">
                    <figure id="auditive" class="c-behaviour__vector margin-bottom-1">
                      <img class="of--contain" src="{{theme.link}}/static/images/vectors/test/auditivo.png?key=20200419" alt="">
                    </figure>
                    <h3 class="c-behaviour__title">
                      <p class="f2 fs-30 w-bold dark">${testResult.auditive}%</p>
                      <p class="f2 fs-25 dark margin-bottom-0">AUDITIVO</p>
                    </h3>
                  </div>
                </div>
                <div class="cell medium-6 large-4">
                  <div class="c-behaviour flex-container flex-dir-column align-middle text-center">
                    <figure id="kinesthetic" class="c-behaviour__vector margin-bottom-1">
                      <img class="of--contain" src="{{theme.link}}/static/images/vectors/test/kinestesico.png?key=20200419" alt="">
                    </figure>
                    <h3 class="c-behaviour__title">
                      <p class="f2 fs-30 w-bold dark">${testResult.kinesthetic}%</p>
                      <p class="f2 fs-25 dark margin-bottom-0">KINESTÉSICO</p>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-test grid-x align-center" :class="{ hidden : testDone, 'c-test--done' : testDone }">
        <div class="cell medium-10 large-8 padding-bottom-2">
          <section class="c-content c-content--protected position-relative bg-white br-45">
            <section class="c-questions">
              <div id="slider-questions" class="c-questions__list swiper-container margin-bottom-1">
                <div class="swiper-wrapper">
                  <div v-for="(q_, qindex) of questions.list" :key="q_.id" class="swiper-slide">
                    <h3 class="fs-21 f2 dark w-xbold">${q_.question.title}</h3>                  
                    <ul class="c-question f2 w-medium ul-reset overflow-hidden">
                      <li
                        class="c-question__item dark" 
                        v-for="(option, oindex) of options" :key="option.id">
                        <input
                          :id="'option-' + qindex + oindex"
                          :name="'question-' + qindex"
                          :value="option.credit" 
                          type="radio" 
                          class="hide"
                          v-model="testResult.list[qindex].value"
                          @change="enableNext"
                        >
                        <label 
                          :for="'option-' + qindex + oindex" 
                          class="c-option fs-21 align-middle width-100"
                        >
                          <div class="c-option__checkbox position-relative margin-right-1">
                            <span class="display-block rounded position-relative"></span>
                          </div>
                          <p class="margin-bottom-0 dark">                      
                            ${option.value}
                          </p>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div v-if="testResult.list.length > 0" class="flex-container align-middle align-center margin-top-2">
                <div class="flex-container align-middle" :class="{ enable: isEnableChange, hide: testDone }">
                  <button 
                    class="flex-container f2 fs-21 w-medium align-center-middle"
                    :class="{ 'sec-color' : currentQuestion != 1 }"
                    @click="changeQuestion('previous')" 
                    :disabled="currentQuestion == 1">
                    <span class="c-icon"><i class="far fa-arrow-left margin-right-1"></i> Anterior</span>
                  </button>
                  <p class="c-questions__progress margin-bottom-0 fs-21 f2 w-medium dark-gray text-center margin-horizontal-1">
                    <span>${currentQuestion}</span> de <span>${questions.count}</span>
                  </p>
                  <button
                    v-if="!filled"
                    class="flex-container f2 fs-21 w-medium align-center-middle"
                    :class="{ 'sec-color' : (isEnableChange || testResult.list[currentQuestion - 1].value != '') }"
                    @click="changeQuestion('next')" 
                    :disabled="!isEnableChange && testResult.list[currentQuestion - 1].value==''">
                    Siguiente
                    <span class="c-icon margin-left-1"><i class="far fa-arrow-right"></i></span>
                  </button>                                   
                </div>
              </div>
            </section>
          </section>
          <div class="c-bottom-btn flex-container align-center-middle margin-top-3">
            <a :href="userProfile" class="c-button c-button--white-dark margin-right-1 f2 w-xbold text-center">Volver al perfil</a>
            <button @click="saveTest()" :disabled="!filled || isSaving" class="c-button c-button--white-dark f2 w-xbold">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
