{% extends '_html.twig' %}

{% block hero %}
  {# {% include 'templates-parts/hero.twig' %} #}
{% endblock %}

{% block content %}
  <section class="c-section c-section--mab-course padding-top-0">
    <div class="c-banner bg-sec-color mab-shadow">
      <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y align-bottom align-self-stretch">
          <div class="cell large-5">
            <div class="padding-vertical-3"> 
              <h1 class="c-banner__title warning">
                <span class="white text-uppercase">Nutrición</span>
              </h1> 
              <h5 class="f2 white w-xbold margin-0">Con Maca Wellness</h5>
              <h6 class="f2 white fs-16 margin-bottom-1">Nutricionista</h6>
              <p class="f2 white">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                sed diam nonummy nibh euismod tincidunt ut laoreet
                dolore magna aliquam erat volutpat. Ut wisi enim ad
                minim veniam, quis nostrud exerci tation ullscing elit, sed
                diam nonummy nibh euismod tincidunt ut laoreet .
              </p>
              <button class="c-button c-button--mab-warning-black f2 w-xbold">Comenzar curso!</button>
              <div class="flex-container align-midle f2 white fs-18 padding-top-2">
                <span class=""><i class="far fa-heart"></i> 325</span> 
                <a class="c-banner__link margin-horizontal-2 warning bb-warning" href="">Ver trailer</a> 
                <a class="c-banner__link warning bb-warning" href="">Ver más sobre el speaker</a>
              </div>
            </div>
          </div> 
          <div class="cell large-7 margin-bottom-0">
            <div class="position-relative flex-container align-center">
              <img src="{{ theme.link }}/static/images/curso/banner.png" alt="" class="c-banner__figure of--contain"> 
              <img src="{{ theme.link }}/static/images/home/heart.png" alt="" class="c-banner__heart position-absolute of--contain">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-course-resume padding-vertical-3">
      <div class="grid-container">
        <div class="c-tab">
          <div class="c-tab-head text-center">
            <div class="grid-x">
              <div class="cell large-6">
                <div class="c-tab-head__title f2 w-xbold position-relative margin-vertical-1 fs-30 active">SOBRE EL CURSO</div>
              </div>
              <div class="cell large-6">
                <div class="c-tab-head__title f2 w-xbold position-relative margin-vertical-1 fs-30">FORO</div>
              </div>
            </div>
          </div>
          <div class="c-tab-body padding-vertical-2">
            <div class="c-tab-slide">
              <div class="grid-x">
                <div class="cell large-6">
                  <div class="padding-horizontal-2 margin-bottom-2">
                    <h3 class="w-xbold f2 fs-25 dark margin-bottom-1">¿Qué incluye este curso?</h3>
                    <ul class="c-tab__list f2 dark margin-left-0 fs-18">
                      <li><i class="far fa-clock"></i> 5hrs de clases</li>
                      <li><i class="far fa-hourglass"></i> Acceso indefinido a todas las clases</li>
                      <li><i class="far fa-file-download"></i> Material descargable</li>
                      <li><i class="far fa-check-circle"></i> Prueba de opción múltiple</li>
                      <li><i class="far fa-comments"></i> Acceso al foro del curso</li>
                      <li><i class="far fa-clock"></i> Diploma</li>
                    </ul>
                  </div>
                  <div class="c-tab-recursos br-bottom--large br-top--large padding-2">
                    <h3 class="w-xbold f2 fs-25 dark margin-bottom-1 text-uppercase">RECURSOS</h3>
                    <div class="grid-x align-self-strecht text-center">
                      <div class="small-3 medium-3 large-3">
                        <div class="c-tab-recursos__item f2 w-bold">
                          <div></div>
                          <figure class="margin-bottom-1">
                            <img src="{{ theme.link }}/static/images/curso/doc.png" alt="" class=" width-100 height-100 of--contain"> 
                          </figure>
                          <div>Resúmenes</div>
                        </div>
                      </div>
                      <div class="small-3 medium-3 large-3">
                        <div class="c-tab-recursos__item f2 w-bold">
                          <figure class="margin-bottom-1">
                            <img src="{{ theme.link }}/static/images/curso/doc.png" alt="" class=" width-100 height-100 of--contain"> 
                          </figure>
                          <div>Resúmenes</div>
                        </div>
                      </div>
                      <div class="small-3 medium-3 large-3">
                        <div class="c-tab-recursos__item f2 w-bold">
                          <figure class="margin-bottom-1">
                            <img src="{{ theme.link }}/static/images/curso/doc.png" alt="" class=" width-100 height-100 of--contain"> 
                          </figure>
                          <div>Resúmenes</div>
                        </div>
                      </div>
                      <div class="small-3 medium-3 large-3">
                        <div class="c-tab-recursos__item f2 w-bold">
                          <figure class="margin-bottom-1">
                            <img src="{{ theme.link }}/static/images/curso/doc-2.png" alt="" class=" width-100 height-100 of--contain"> 
                          </figure>
                          <div>Resúmenes</div>
                        </div>
                      </div>
                      <div class="cell">
                        <button class="c-button margin-top-1 c-button--mab-warning-black f2 w-xbold fs-21">¡Descárgalos todos!</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cell large-6">
                  <div class="grid-x align-center">
                    <div class="cell medium-8 large-6">
                      <div v-if="false" class="c-accordion position-relative c-dots-background c-dots-background--warning right">
                        <h3 class="c-accordion__header margin-bottom-0 padding-1 bg-dark white fs-21 f2 text-uppercase text-center w-xbold">Preguntas frecuentes</h3>
                        <div class="c-accordion__body bg-white">
                          <ul class="ul-reset">
                            <li v-for="(question, qindex) of questions" :key="question.id" class="c-accordion-item">
                              <input v-model="question.enable" @change="resetAccordion(question)" :id="'accordion-item-' + qindex" class="c-accordion hide" type="checkbox">
                              <label class="c-accordion-item__switcher width-100 bg-sec-color" :for="'accordion-item-' + qindex">
                                <p class="margin-bottom-0 w-bold white f2 fs-18">asdsadsa dsasadasd</p>
                                <i class="c-icon white fs-21 far fa-chevron-up"></i>
                              </label>
                              <div class="c-accordion-item__content position-relative bg-white f2 dark w-medium">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem sapiente dolores nulla commodi! Earum et, recusandae unde quaerat suscipit, inventore blanditiis nihil rerum voluptatum autem nulla! Quis voluptate neque quisquam!
      
                                <ul>
                                  <li>asd asdsadsdsa sad</li>
                                  <li>asd asdsadsdsa sad</li>
                                  <li>asd asdsadsdsa sad</li>
                                  <li>asd asdsadsdsa sad</li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section>
{% endblock %}

{% block footer %}
{% endblock %}
