{% extends '_html.twig' %}

{% block hero %} {% endblock %}

{% block content %}
  <section class="c-section c-section--access">
      <div class="c-split-layout">
        <div class="grid-x height-100">
          <div class="cell large-5">
            <transition name="fade" mode="out-in">
              <div v-if="view == 1" key="step1" class="c-split-layout__figure height-100">
                <figure class="c-cover-gradient c-cover-gradient--secondary position-relative height-100 width-100">
                  <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                      <div class="c-corner-logo">
                        <img v-if="false" loading="lazy" class="height-100" src="{{theme.link}}/static/images/logo.png" alt="">
                      </div>
                      <div class="c-corner-text text-rigth f2 w-bold">
                        Macarena Arribas <br>
                        Fundadora de MAB
                      </div>
                    </div>
                    <div class="c-cover-gradient__bottom width-100 padding-3">
                      <h2 class="c-cover-gradient__title">
                        <span>¡Hola!</span>
                      </h2>
                      <h3 class="c-cover-gradient__subtitle">
                        Qué gusto verte por <br> aquí de nuevo
                      </h3>
                    </div>
                  </figcaption>
                </figure>
              </div>
              <div v-if="view == 2" key="step2" class="c-split-layout__figure height-100">
                <figure v-if="false" class="c-cover-gradient c-cover-gradient--secondary position-relative height-100 width-100">
                  <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100 flex-container padding-3 padding-top-2">
                      <div class="c-corner-logo">
                        <img v-if="false" loading="lazy" class="height-100" src="{{theme.link}}/static/images/logo.png" alt="">
                      </div>
                      <div class="c-corner-text text-rigth f2 w-xbold">
                        Macarena Arribas <br>
                        Fundadora de MAB
                      </div>
                    </div>
                    <div class="c-cover-gradient__bottom width-100 padding-3">
                      <h3 class="c-cover-gradient__subtitle">
                        <span>¡Hola,</span><br>
                          <span>soy Maca!</span>
                      </h3>
                      <p class="c-cover-gradient__text">
                        ¿Estás listo para<br>
                        girar la educación?
                      </p>
                    </div>
                  </figcaption>
                </figure>
                <figure v-if="false" class="c-cover-gradient c-cover-gradient--alert position-relative height-100 width-100">
                  <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100 flex-container padding-3 padding-top-2">
                      <div class="c-corner-logo">
                        <img loading="lazy" class="height-100" src="{{theme.link}}/static/images/logo.png" alt="">
                      </div>
                      <div class="c-corner-text text-rigth f2 w-xbold">
                      </div>
                    </div>
                    <div class="c-cover-gradient__bottom width-100 padding-3">
                      <h3 class="c-cover-gradient__subtitle text-right">
                        ganadora de los <br>
                        <span>globant awards 2020</span> <br>
                        categoría <span>game changer</span> 
                      </h3>
                    </div>
                  </figcaption>
                </figure>
                <figure v-if="false" class="c-cover-gradient c-cover-gradient--primary position-relative height-100 width-100">
                  <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100 flex-container padding-3 padding-top-2">
                      <div class="c-corner-logo">
                        <img v-if="false" loading="lazy" class="height-100" src="{{theme.link}}/static/images/logo.png" alt="">
                      </div>
                      <div class="c-corner-text text-rigth f2 w-xbold">
                        Viviana de Ferrari <br>
                        Amor Propio
                      </div>
                    </div>
                    <div class="c-cover-gradient__bottom width-100 padding-3">
                      <h3 class="c-cover-gradient__subtitle">
                        aprende con <span>especialistas</span> <br>
                        reconocidos a nivel <br>
                        <span>nacional e internacional</span>
                      </h3>
                    </div>
                  </figcaption>
                </figure>
                <figure v-if="false" class="c-cover-gradient c-cover-gradient--success position-relative height-100 width-100">
                  <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100 flex-container padding-3 padding-top-2">
                      <div class="c-corner-logo">
                        <img v-if="false" loading="lazy" class="height-100" src="{{theme.link}}/static/images/logo.png" alt="">
                      </div>
                      <div class="c-corner-text text-rigth">
                      </div>
                    </div>
                    <div class="c-cover-gradient__bottom width-100 padding-3">
                      <h3 class="c-cover-gradient__subtitle">
                        tutores que <br>
                        han <span> pasado por </span><br>
                        <span>lo mismo </span> que tú
                      </h3>
                    </div>
                  </figcaption>
                </figure>
                <figure  v-if="false" class="c-cover-gradient c-cover-gradient--warning position-relative height-100 width-100">
                  <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100 flex-container padding-3 padding-top-2">
                      <div class="c-corner-logo">
                        <img v-if="false" loading="lazy" class="height-100" src="{{theme.link}}/static/images/logo.png" alt="">
                      </div>
                      <div class="c-corner-text text-rigth">
                      </div>
                    </div>
                    <div class="c-cover-gradient__bottom width-100 padding-3">
                      <h3 class="c-cover-gradient__subtitle">
                        ¡ya casi estás listo/a <br>
                        para comenzar a <br>
                        aprender distinto!
                      </h3>
                    </div>
                  </figcaption>
                </figure>
                <div class="swiper-container height-100">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <figure class="c-cover-gradient c-cover-gradient--secondary position-relative  height-100 width-100">
                        <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                        <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                          <div class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                            <div class="c-corner-logo">
                            </div>
                            <div class="c-corner-text text-rigth f1 w-bold">
                              Proyecto “De Tambo a Tambo”
                            </div>
                          </div>
                          <div class="c-cover-gradient__bottom width-100 padding-3">
                            <h3 class="c-cover-gradient__subtitle">
                              <span>
                                mucho más que una <br>
                                  plataforma de cursos
                              </span>
                            </h3>
                            <p class="c-cover-gradient__text">
                              cconoce todos nuestros proyectos y
                              servicios que tenemos para ti
                            </p>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="swiper-slide">
                      <figure class="c-cover-gradient c-cover-gradient--secondary position-relative  height-100 width-100">
                        <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                        <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                          <div class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                            <div class="c-corner-logo">
                            </div>
                            <div class="c-corner-text text-rigth f1 w-bold">
                              Proyecto “De Tambo a Tambo”
                            </div>
                          </div>
                          <div class="c-cover-gradient__bottom width-100 padding-3">
                            <h3 class="c-cover-gradient__subtitle">
                              <span>
                                mucho más que una <br>
                                  plataforma de cursos
                              </span>
                            </h3>
                            <p class="c-cover-gradient__text">
                              cconoce todos nuestros proyectos y
                              servicios que tenemos para ti
                            </p>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="swiper-slide">
                      <figure class="c-cover-gradient c-cover-gradient--secondary position-relative  height-100 width-100">
                        <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                        <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                          <div class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                            <div class="c-corner-logo">
                            </div>
                            <div class="c-corner-text text-rigth f1 w-bold">
                              Proyecto “De Tambo a Tambo”
                            </div>
                          </div>
                          <div class="c-cover-gradient__bottom width-100 padding-3">
                            <h3 class="c-cover-gradient__subtitle">
                              <span>
                                mucho más que una <br>
                                  plataforma de cursos
                              </span>
                            </h3>
                            <p class="c-cover-gradient__text">
                              cconoce todos nuestros proyectos y
                              servicios que tenemos para ti
                            </p>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
              <div v-if="view == 3" key="step3" class="c-image-slider height-100 ">
                <div class="swiper-container height-100">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <figure class="c-cover-gradient position-relative height-100 width-100">
                        <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                        <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                          <div class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                            <div class="c-corner-logo">
                            </div>
                            <div class="c-corner-text text-rigth f1 w-bold">
                          </div>
                          <div class="c-cover-gradient__bottom width-100 padding-3">
                            <!-- <h2 class="c-cover-gradient__title">
                              mucho más que una <br>
                              <span>plataforma</span> de cursos
                            </h2> -->
                            <h3 class="c-cover-gradient__subtitle">
                              ¡ya casi estás listo/a
                                para <span>comenzar</span> a
                                aprender distinto!
                            </h3>
                            <p class="c-cover-gradient__text">
                              conoce todos <span> nuestros proyectos</span> y
                              servicios que tenemos para ti terc slider1
                            </p>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="swiper-slide">
                      <figure class="c-cover-gradient position-relative height-100 width-100">
                        <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                        <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                          <div style="background: linear-gradient(red, transparent 75%);" class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                            <div class="c-corner-logo">
                              <img loading="lazy" class="height-100" src="{{theme.link}}/static/images/logo.png" alt="">
                            </div>
                            <div class="c-corner-text text-rigth">
                              Macarena Arribas <br>
                              Fundadora de MAB
                            </div>
                          </div>
                          <div style="background: linear-gradient(to top, red, transparent 75%);" class="c-cover-gradient__bottom width-100 padding-3">
                            <!-- <h2 class="c-cover-gradient__title">
                              mucho más que una <br>
                              <span>plataforma</span> de cursos
                            </h2> -->
                            <h3 class="c-cover-gradient__subtitle">
                              ¡ya casi estás listo/a
                                para <span>comenzar</span> a
                                aprender distinto!
                            </h3>
                            <p class="c-cover-gradient__text">
                              conoce todos <span> nuestros proyectos</span> y
                              servicios que tenemos para ti terc slider2
                            </p>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="swiper-slide">
                      <figure class="c-cover-gradient position-relative height-100 width-100">
                        <img loading="lazy" class="c-cover-gradient__image width-100 height-100" src="{{theme.link}}/static/images/user.png" alt="">
                        <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                          <div style="background: linear-gradient(green, transparent 75%);" class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                            <div class="c-corner-logo">
                              <img loading="lazy" class="height-100" src="{{theme.link}}/static/images/logo.png" alt="">
                            </div>
                            <div class="c-corner-text text-rigth">
                              Macarena Arribas <br>
                              Fundadora de MAB
                            </div>
                          </div>
                          <div style="background: linear-gradient(to top,green, transparent 75%);" class="c-cover-gradient__bottom width-100 padding-3">
                            <!-- <h2 class="c-cover-gradient__title">
                              mucho más que una <br>
                              <span>plataforma</span> de cursos
                            </h2> -->
                            <h3 class="c-cover-gradient__subtitle">
                              ¡ya casi estás listo/a
                                para <span>comenzar</span> a
                                aprender distinto!
                            </h3>
                            <p class="c-cover-gradient__text">
                              conoce todos <span> nuestros proyectos</span> y
                              servicios que tenemos para ti terc slider3
                            </p>
                          </div>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </transition>
          </div>
          <div class="cell large-7">
            <div class="c-split-layout__content">
              <transition>
                <div v-if="view == 1">
                  <div class="c-split-layout-content c-split-layout-content--secondary">
                    <div class="width-100">
                      <div class="text-center padding-3 width-100">
                        <div class="grid-x align-center">
                          <div class="cell large-7">
                            <h1 class="c-split-layout-content__title margin-bottom-2 white">
                              <span class="warning">inicia sesión</span><br>
                              y continúa creciendo con nosotros
                            </h1>
                            <button @click="authWithFacebook" class="c-btn-input-social width-100">
                              <img loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                              <span class="f2">Continuar con facebook</span>
                            </button>
                            <button @click="authWithGoogle" class="c-btn-input-social width-100">
                              <img loading="lazy" src="{{theme.link}}/static/images/google-icon.png" alt="">
                              <span class="f2">Continuar con Google</span>
                            </button>
                            <form class="c-form-new text-left margin-top-2" action="">
                              <div class="c-form-new__input-container margin-bottom-1">
                                <label class="w-bold f2 white" for="">Correo</label>
                                <input class="f2 input-reset" type="text">
                                <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                  error
                                </p>
                              </div>
                              <div class="c-form-new__input-container margin-bottom-1">
                                <label class="w-bold f2 white" for="">Contraseña</label>
                                <input class="f2 input-reset" type="text">
                                <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white ">
                                  error
                                </p>
                              </div>
                              <button class="c-button c-button--warning width-100 f2 margin-top-1">Ingresar</button>
                            </form>
                            <div class="c-label-login warning f2 margin-top-1">
                              ¿Aún no tienes cuenta? <a href="" class="w-bold warning">Registrate</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-if="view == 2">
                  <div v-if="false" class="c-split-layout-content c-split-layout-content--secondary">
                    <div class="width-100">
                      <div class="text-center padding-3 width-100">
                        <div class="grid-x align-center">
                          <div class="cell large-6">
                            <h1 class="c-split-layout-content__title margin-bottom-3 white">
                              <span class="small-title">Conviértete en un/una</span>
                              <div class="warning big-title">#MABLover</div> 
                            </h1>
                            <button class="c-btn-input-social width-100">
                              <img loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                              <span class="f2">Continuar con facebook</span>
                            </button>
                            <button class="c-btn-input-social width-100">
                              <img loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                              <span class="f2">Continuar con facebook</span>
                            </button>
                            <form class="c-form-new text-left margin-top-2" action="">
                              <div class="c-form-new__input-container margin-bottom-1">
                                <label class="w-bold f2 white" for="">Correo</label>
                                <input class="f2" type="text">
                                <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                  error
                                </p>
                              </div>
                              <div class="c-form-new__input-container margin-bottom-1">
                                <label class="w-bold f2 white" for="">Contraseña</label>
                                <input class="f2" type="text">
                                <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white ">
                                  error
                                </p>
                              </div>
                              <button class="button c-button--warning width-100 f2 margin-top-1">Ingresar</button>
                              <div class="c-form-new__terminos text-center">
                                <input type="radio"><a href="" class="f2 warning">Acepto los términos y Condiciones</a>
                              </div>
                            </form>
                            <div class="c-label-login warning f2 margin-top-1">
                              ¿Ya tienes una cuenta? <a href="" class="c-link--warning w-bold warning ">Inicia Sesión</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="false" class="c-split-layout-content column-between c-split-layout-content--alert">
                    <div></div>
                    <div class="width-100">
                      <div class="text-center padding-3 width-100">
                        <div class="grid-x align-center">
                          <div class="cell large-10">
                            <div class="grid-x grid-margin-x align-center">
                              <div class="cell large-10">
                                <h2 class="c-split-layout-content__title margin-bottom-2 white">
                                  <span class="warning">¿a qué sector educativo</span>
                                  <span class="warning">perteneces?</span>     
                                </h2>
                              </div>
                              <div class="cell large-6">
                                <div class="c-check-card text-center f2  bg-white black flex-container align-center-middle white">
                                  <h3 class="f2 margin-0 w-xbold">Público</h3>
                                  <p class="margin-0">Colegios estatales</p>
                                </div>
                              </div>
                              <div class="cell large-6">
                                <div class="c-check-card text-center f2 bg-white black flex-container align-center-middle white">
                                  <h3 class="f2 margin-0 w-xbold">Privado</h3>
                                  <p class="margin-0">Colegios particulares</p>
                                </div>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="width-100 padding-3">
                      <div class="grid-x align-center">
                        <div class="cell small-6 medium-5 large-5 text-left">
                          <button class="c-button c-button--warning-alert c-button--arrow w-xbold " @click="prev()"> < Anterior</button>
                        </div>
                        <div class="cell small-6 medium-5 large-5 text-right">
                          <button class="c-button c-button--warning-alert c-button--arrow w-xbold " @click="next()">Siguiente ></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="false" class="c-split-layout-content column-between c-split-layout-content--primary">
                    <div></div>
                    <div class="width-100">
                      <div class="text-center padding-3 width-100">
                        <div class="grid-x align-center">
                          <div class="cell large-10">
                            <h2 class="c-split-layout-content__title margin-bottom-1 white margin-top-3">
                              <span class="warning">¡Queremos conocerte mejor!</span>     
                            </h2>
                            <h3 class="c-split-layout-content__subtitle margin-bottom-2 white">
                              completa los siguientes datos     
                            </h3>
                            <form class="c-form-new text-left margin-top-2" action="">
                              <div class="grid-x grid-margin-x align-center">
                                <div class="cell large-6">
                                  <div class="c-form-new__input-container margin-bottom-1">
                                    <label class="w-bold f2 white" for="">Nombres</label>
                                    <input class="f2" type="text">
                                    <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                      error
                                    </p>
                                  </div>
                                </div>
                                <div class="cell large-6">
                                  <div class="c-form-new__input-container margin-bottom-1">
                                    <label class="w-bold f2 white" for="">Apellido Paterno</label>
                                    <input class="f2" type="text">
                                    <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                      error
                                    </p>
                                  </div>
                                </div>
                                <div class="cell large-6">
                                  <div class="c-form-new__input-container margin-bottom-1">
                                    <label class="w-bold f2 white" for="">Apellido Materno</label>
                                    <input class="f2" type="text">
                                    <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                      error
                                    </p>
                                  </div>
                                </div>
                                <div class="cell large-6">
                                  <div class="c-form-new__input-container margin-bottom-1">
                                    <label class="w-bold f2 white" for="">Fecha de Nacimiento</label>
                                    <input class="f2" type="date">
                                    <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                      error
                                    </p>
                                  </div>
                                </div>
                                <div class="cell large-6">
                                  <div class="c-form-new__input-container margin-bottom-1">
                                    <label class="w-bold f2 white" for="">País</label>
                                    <select class="f2" name="" id="">
                                      <option value="">Elige un opción</option>
                                    </select>
                                    <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                      error
                                    </p>
                                  </div>
                                </div>
                                <div class="cell large-6">
                                  <div class="c-form-new__input-container margin-bottom-1">
                                    <label class="w-bold f2 white" for="">Ciudad</label>
                                    <select class="f2" name="" id="">
                                      <option value="">Elige un opción</option>
                                    </select>
                                    <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                      error
                                    </p>
                                  </div>
                                </div>
                                <div class="cell large-6">
                                  <div class="c-form-new__input-container margin-bottom-1">
                                    <label class="w-bold f2 white" for="">Número de teléfono</label>
                                    <input class="f2" type="tel">
                                    <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                      error
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="width-100 padding-3">
                      <div class="grid-x align-center">
                        <div class="cell small-6 medium-5 large-5 text-left">
                          <button class="c-button c-button--warning-primary c-button--arrow w-xbold " @click="prev()"> < Anterior</button>
                        </div>
                        <div class="cell small-6 medium-5 large-5 text-right">
                          <button class="c-button c-button--warning-primary c-button--arrow w-xbold " @click="next()">Siguiente ></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="false" class="c-split-layout-content column-between c-split-layout-content--success">
                    <div></div>
                    <div class="width-100">
                      <div class="text-center padding-3 width-100">
                        <div class="grid-x align-center">
                          <div class="cell large-10">
                            <div class="grid-x align-center">
                              <div class="cell large-8">
                                <h2 class="c-split-layout-content__title margin-bottom-2 white margin-top-3">
                                  Buscamos adaptarnos a
                                  <span class="warning">tus necesidades</span> 
                                </h2>
                              </div>
                            </div>
                            <h4 class="white margin-bottom-2 text-left">Actualmente, soy...</h4>
                            <div class="grid-x grid-margin-y grid-margin-x align-center">
                              <div class="cell medium-6 large-6 align-self-stretch">
                                <div class="c-split-layout-content__round-box text-left position-relative f2  bg-white black flex-container align-center-middle white ">
                                  <span>
                                    <strong>Un padre / una madre / apoderad@</strong> que busca la mejor educación para su familia
                                  </span>
                                  <div class="c-corner-card-image position-absolute">
                                    <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="cell medium-6 large-6 align-self-stretch">
                                <div class="c-split-layout-content__round-box text-left position-relative f2  bg-white black flex-container align-center-middle white margin-bottom-1">
                                  <span>
                                    <strong>Un maestro / una
                                      maestra</strong> que busca
                                      hacer un cambio por
                                      la sociedad
                                  </span>
                                  <div class="c-corner-card-image position-absolute">
                                    <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="cell medium-6 large-6 align-self-stretch">
                                <div class="c-split-layout-content__round-box text-left position-relative f2  bg-white black flex-container align-center-middle white margin-bottom-1">
                                  <span>
                                    <strong>Un/a estudiante</strong>
                                      que busca superarse
                                      tanto a nivel académico
                                      como personal
                                  </span>
                                  <div class="c-corner-card-image position-absolute">
                                    <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="cell medium-6 large-6 align-self-stretch">
                                <div class="c-split-layout-content__round-box text-left position-relative f2  bg-white black flex-container align-center-middle white margin-bottom-1">
                                  <span>
                                    <strong>Un/a internauta
                                      apasionado/a</strong> por la
                                      educación
                                  </span>
                                  <div class="c-corner-card-image position-absolute">
                                    <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  </div>
                                </div>
                              </div>
                              <div class="cell medium-6 large-6 align-self-stretch">
                                <div class="c-split-layout-content__round-box text-left position-relative f2  bg-warning black flex-container align-center-middle white margin-bottom-1">
                                  <span>
                                    <strong>Parte del programa
                                      “De Tambo a Tambo”</strong>
                                      en zonas rurales del país
                                  </span>
                                  <div class="c-corner-card-image position-absolute">
                                    <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="width-100 padding-3">
                      <div class="grid-x align-center">
                        <div class="cell small-6 medium-5 large-5 text-left">
                          <button class="c-button c-button--warning-success c-button--arrow w-xbold " @click="prev()"> < Anterior</button>
                        </div>
                        <div class="cell small-6 medium-5 large-5 text-right">
                          <button class="c-button c-button--warning-success c-button--arrow w-xbold " @click="next()">Siguiente ></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="false" class="c-split-layout-content column-between c-split-layout-content--warning">
                    <div></div>
                    <div class="width-100">
                      <div class="text-center padding-3 width-100">
                        <div class="grid-x align-center">
                          <div class="cell large-10">
                            <div class="grid-x align-center">
                              <div class="cell large-8">
                                <h2 class="c-split-layout-content__title margin-bottom-2 black margin-top-3">
                                  ¿Qué áreas de aprendizaje te interesan? 
                                </h2>
                              </div>
                            </div>
                            <h4 class="white margin-bottom-2 f2 w-xbold black">Elige al menos 3 categorías</h4>
                            <div class="grid-x grid-margin-y grid-margin-x align-center">
                              <div class="cell small-6 medium-3 large-3">
                                <figure class="c-image-bottom-title position-relative">
                                  <img class="c-image-bottom-title__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  <figcaption class="c-image-bottom-title__shade position-absolute width-100 height-100 white text-center flex-container">
                                    <div class="c-image-bottom-title__text flex-container align-center-middle width-100">
                                      Habilidades para la vida
                                    </div>
                                  </figcaption>
                                </figure>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <figure class="c-image-bottom-title position-relative">
                                  <img class="c-image-bottom-title__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  <figcaption class="c-image-bottom-title__shade position-absolute width-100 height-100 white text-center flex-container">
                                    <div class="c-image-bottom-title__text flex-container align-center-middle width-100">
                                      Habilidades
                                    </div>
                                  </figcaption>
                                </figure>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <figure class="c-image-bottom-title position-relative">
                                  <img class="c-image-bottom-title__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  <figcaption class="c-image-bottom-title__shade position-absolute width-100 height-100 white text-center flex-container">
                                    <div class="c-image-bottom-title__text flex-container align-center-middle width-100">
                                      Habilidades
                                    </div>
                                  </figcaption>
                                </figure>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <figure class="c-image-bottom-title position-relative">
                                  <img class="c-image-bottom-title__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  <figcaption class="c-image-bottom-title__shade position-absolute width-100 height-100 white text-center flex-container">
                                    <div class="c-image-bottom-title__text flex-container align-center-middle width-100">
                                      Habilidades
                                    </div>
                                  </figcaption>
                                </figure>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <figure class="c-image-bottom-title position-relative">
                                  <img class="c-image-bottom-title__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  <figcaption class="c-image-bottom-title__shade position-absolute width-100 height-100 white text-center flex-container">
                                    <div class="c-image-bottom-title__text flex-container align-center-middle width-100">
                                      Habilidades
                                    </div>
                                  </figcaption>
                                </figure>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <figure class="c-image-bottom-title position-relative">
                                  <img class="c-image-bottom-title__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                  <figcaption class="c-image-bottom-title__shade position-absolute width-100 height-100 white text-center flex-container">
                                    <div class="c-image-bottom-title__text flex-container align-center-middle width-100">
                                      Habilidades
                                    </div>
                                  </figcaption>
                                </figure>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="width-100 padding-3">
                      <div class="grid-x align-center">
                        <div class="cell small-6 medium-5 large-5 text-left">
                          <button class="c-button c-button--black-warning c-button--arrow w-xbold " @click="prev()"> < Anterior</button>
                        </div>
                        <div class="cell small-6 medium-5 large-5 text-right">
                          <button class="c-button c-button--black-warning c-button--arrow w-xbold " @click="next()">Siguiente ></button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="c-split-layout-content column-between c-split-layout-content--secondary">
                    <div></div>
                    <div class="width-100">
                      <div class="text-center padding-3 width-100">
                        <div class="grid-x align-center">
                          <div class="cell large-10">
                            <div class="grid-x align-center">
                              <div class="cell large-8">
                                <h2 class="c-split-layout-content__title margin-bottom-2 white margin-top-3">
                                  ¿qué temas específicos quieres aprender? 
                                </h2>
                              </div>
                            </div>
                            <h4 class="white margin-bottom-2 f2 w-xbold white">Elige al menos 3 categorías</h4>
                            <div class="grid-x grid-margin-y grid-margin-x align-center">
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-hover-circle bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-hover-circle bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-hover-circle bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-hover-circle bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-hover-circle bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Coaching ontológico
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-hover-circle bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Autismo
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-hover-circle bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-hover-circle bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Yoga para ser feliz
                                </div>
                              </div>
                            </div>
                            <div class="margin-top-3">
                              <button class="c-button c-button--warning-black w-xbold margin-bottom-2 padding-left-2 padding-right-2">¡Comienza a <br> aprender distinto!</button>
                              <div class="warning f2 w-xbold fs-18">< Volver</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
                <div v-if="view == 3">
                  <div class="c-split-layout-content c-split-layout-content--secondary">
                    <div class="width-100">
                      <div class="text-center padding-3 width-100">
                        <div class="grid-x">
                          <div class="cell large-3"></div>
                          <div class="cell large-6">
                            <h1 class="c-split-layout-content__title margin-bottom-2 white">
                              <span class="warning">inicia sesión</span><br>
                              y continúa creciendo con nosotros
                            </h1>
                            <button class="c-btn-input-social width-100">
                              <img loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                              <span class="f2">Continuar con facebook</span>
                            </button>
                            <button class="c-btn-input-social width-100">
                              <img loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                              <span class="f2">Continuar con facebook</span>
                            </button>
                            <form class="c-form-new text-left margin-top-2" action="">
                              <div class="c-form-new__input-container margin-bottom-1">
                                <label class="text-uppercase w-bold f2 white" for="">Correo</label>
                                <input class="f2" type="text">
                                <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                  error
                                </p>
                              </div>
                              <div class="c-form-new__input-container margin-bottom-1">
                                <label class="text-uppercase w-bold f2 white" for="">Contraseña</label>
                                <input class="f2" type="text">
                                <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white ">
                                  error
                                </p>
                              </div>
                              <button class="c-button c-button--warning width-100 f2 margin-top-1">Ingresar</button>
                              <div class="c-terminos text-center">
                                <input type="radio"><a href="" class="f2 warning">Acepto los términos y Condiciones</a>
                              </div>
                            </form>
                            <div class="c-label-login warning f2 margin-top-1">
                              ¿Ya tienes una cuenta? <a href="" class="w-bold warning">Inicia Sesión</a>
                            </div>
                          </div>
                        </div>
      
      
                        {# <button class="c-button" @click="prev()">anterior</button>
                        <button class="c-button" @click="next()">siguiente</button> #}
                      </div>
                    </div>
                  </div>
                </div>
              </transition>
            </div>  
            <div v-if="false" class="c-mab-modal flex-container align-center-middle">
              <div class="grid-x align-center width-100">
                <div class="cell small-10 medium-10 large-6">
                  <div class="c-mab-modal-content bg-white ">
                    <h3 class="c-mab-modal-content__title text-center f2 text-uppercase">¿cuántos escolares tienes a tu
                      cargo?</h3>
                      <form class="c-form-new">
                        <div class="c-form-new__input-container margin-bottom-2">
                          <select class="f2" name="" id="">
                            <option value="">Elige un opción</option>
                          </select>
                          <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                            error
                          </p>
                        </div>
                        <div class="c-form-new__input-container">
                          <select class="f2" name="" id="">
                            <option value="">Elige un opción</option>
                          </select>
                          <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                            error
                          </p>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block footer %} {% endblock %}
