{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--psicologos bg-cyan">
    <div class="c-psicologos-list bg-cyan">
      <div class="grid-container">
        <h2 class="c-psicologos-list__title dark text-uppercase text-center">
          <p>Team de Psicólogos</p>
        </h2>

        <div>
          {% for psicologo in team %}
            <div class="c-us-comment">
              <div class="grid-x align-justify align-middle">
                <div class="cell large-6">
                  <div class="c-us-comment__content bg-pri-color br-bottom-0-0 white position-relative text-left f2">
                    <span class="c-us-comment__figure position-absolute">
                      <img src="{{ theme.link }}/static/images/nosotros/vectores/comillas.png" alt="" class="width-100 height-100 of--cover">
                    </span> 
                    <p class="text-center">{{ psicologo.about }}</p> 
                    <div class="f2 white text-center">
                      <strong>Psicóloga, {{ psicologo.fullname }}.</strong>
                      <a href="https://api.whatsapp.com/send?phone=51{{ (psicologo.whatsapp) ? psicologo.whatsapp : main_wsp }}&text=Hola tengo una consulta..." target="_blank" class="padding-left-1 dark fs-25" href="" target="_blank">
                        <img class="c-ws-icon" src="{{ theme.link }}/static/images/courses/mine/whatsapp.png" alt="">
                      </a>
                    </div>
                  </div>
                </div> 
                <div class="cell large-5">
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure class="c-card-article__figure margin-bottom-1">
                      <img src="{{ psicologo.photo['url'] }}" alt="" class="width-100 height-100 of--cover">
                    </figure> 
                    <div class="c-card-article__content"></div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}
