{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--virtual-session bg-success">
    <section class="grid-container padding-vertical-3">
      <div class="grid-x align-center">
        <div class="cell medium-8 large-10 text-center padding-vertical-2">
          <section class="c-content bg-white br--medium">
            <div class="c-brand flex-container flex-dir-column align-middle margin-bottom-3">
              <div class="c-title flex-container">
                <h2 class="fs-60 dark w-bold pri-color text-center display-block">SESIÓN VIRTUAL</h2>
                <figure class="text-center large-text-left">
                  <img src="{{theme.link}}/static/images/vectors/login/hearts.png" alt="">
                </figure>
              </div>
              <p class="margin-bottom-2 text-center f2 w-medium fs-21 dark">Sesiones y/o tutorías virtuales personalizadas</p>
              <div class="text-center f2 w-medium fs-25">
                {{post.content}}
              </div>
            </div>
            <div class="c-explanation">
              <h2 class="f2 w-bold fs-21 dark margin-bottom-1">Una educación diferente</h2>
              <p class="f2 w-black fs-35 dark margin-bottom-3">¿CÓMO FUNCIONA?</p>
              <ul class="c-explanation__list flex-container align-center-middle ul-reset">
                <li class="c-explanation__item position-relative flex-container flex-dir-column align-middle">
                  <span class="display-block f2 w-black dark position-absolute">1</span>
                  <div class="width-100 height-100 fs-18 f2 w-bold bg-sec-color rounded white">
                    <p class="margin-bottom-0">Separa tu sesión online según los temas y necesidades que tengas.</p>
                  </div>
                </li>
                <li class="c-explanation__item position-relative flex-container flex-dir-column align-middle">
                  <span class="display-block f2 w-black dark position-absolute">2</span>
                  <div class="width-100 height-100 fs-18 f2 w-bold bg-sec-color rounded white">
                    <p class="margin-bottom-0">Te llegara un correo con los pasos siguientes y tu código de sesión.</p>
                  </div>
                </li>
                <li class="c-explanation__item position-relative flex-container flex-dir-column align-middle">
                  <span class="display-block f2 w-black dark position-absolute">3</span>
                  <div class="width-100 height-100 fs-18 f2 w-bold bg-sec-color rounded white">
                    <p class="margin-bottom-0">Listo. Conecta y aprende con nosotros.</p>
                  </div>
                </li>
              </ul>
            </div>            
            <div class="c-links flex-container flex-dir-column align-middle">
              <button 
                class="c-button c-button--primary f2 fs-18 w-medium br--medium padding-horizontal-2 margin-bottom-2 display-block"
                @click="isOpenedRequestModal = true"
                >
                Solicitar sesión
              </button>
              <p class="f2 fs-18 w-medium">Si ya tienes una sesión programada ingresa aquí</p>
              <button 
                class="c-button c-button--ghost-primary f2 fs-18 w-medium br--medium padding-horizontal-2 flex-container align-center-middle"
                @click="isOpenedValidateCodeModal = true"
                >
                <span class="c-icon margin-right-1"><i class="far fa-video"></i></span>
                INGRESAR
              </button>
            </div>
          </section>
        </div>
      </div>
    </section>
    <section class="c-modal position-fixed width-100 height-100" :class="{ opened : isOpenedRequestModal }">
      <div class="grid-container height-100">
        <div class="grid-x align-center-middle height-100">
          <div class="cell medium-10 large-8">
            <div class="c-modal__content br--medium position-relative flex-container flex-dir-column bg-sec-color">
              <div class="c-success-message position-absolute br--medium bg-sec-color width-100 height-100 " :class="{ showed : isSentSessionRequest && isOpenedRequestModal }">
                <div class="flex-container width-100 height-100 align-center-middle">
                  <div class="c-success-message__body text-center flex-container flex-dir-column align-middle">
                    <div class="c-success-message__icon flex-container align-center-middle bg-white margin-bottom-2 rounded">
                      <figure class="c-icon">
                        <img src="{{theme.link}}/static/images/vectors/virtual-session/arrow.png" alt="">
                      </figure>
                    </div>
                    <h2 class="f2 w-bold fs-35 white margin-bottom-2">Genial, nos comunicaremos contigo para confirmar</h2>
                    <p class="f2 fs-18 white margin-bottom-0">
                      Te estaremos enviando todos los detalles a tu correo con información de pago y ID. 
                    </p>
                  </div>
                </div>
              </div>
              <div class="c-modal__close flex-container align-right margin-bottom-1 position-relative">
                <button @click="isOpenedRequestModal = false" class="white">
                  <span class="c-icon fs-30"><i class="far fa-times"></i></span>
                </button>
              </div>              
              <div class="c-modal__body padding-left-1 flex-container position-relative flex-dir-column height-100" :class="{ unshowed : isSentSessionRequest && isOpenedRequestModal }">
                <div class="c-title flex-container">
                  <h2 class="fs-60 warning w-bold pri-color text-center display-block">SESIÓN VIRTUAL</h2>
                  <figure class="text-center large-text-left">
                    <img src="{{theme.link}}/static/images/vectors/login/hearts.png" alt="">
                  </figure>
                </div>
                <div class="margin-bottom-2 f2 text-center">
                  <p class="fs-21 w-medium margin-bottom-0 warning">Una buena educación comienza desde el corazón</p>
                  <p class="margin-bottom-0 white fs-18">"Nelson mandela"</p>
                </div>
                <div class="c-request padding-right-1">
                  <h3 class="f2 margin-bottom-1 fs-18 w-medium white">Déjanos tus datos para confirmar y mandarte un codigo de activación</h3>
                  <div class="c-form margin-bottom-3">
                    <div class="margin-bottom-1">
                      <label>
                        <p class="mb-05 f2 fs-25 w-bold white">Nombres y apellidos</p>
                        <input 
                          type="text" 
                          name="fullname"
                          class="c-form__input input-reset"
                          :class="{ valid : sessionRequest.fullname.isValid }"
                          v-model="sessionRequest.fullname.value">
                      </label>
                    </div>
                    <div class="margin-bottom-2">
                      <label>
                        <p class="mb-05 f2 fs-25 w-bold white">Correo</p>
                        <input 
                          type="email" 
                          name="email"
                          class="c-form__input input-reset"
                          :class="{ valid : sessionRequest.email.isValid }"
                          v-model="sessionRequest.email.value">
                      </label>
                    </div>
                  </div>
                  <h3 class="f2 margin-bottom-1 fs-18 w-medium white">Información de la sesión</h3>
                  <div class="c-form margin-bottom-1">
                    <div class="margin-bottom-1">
                      <p class="mb-05 f2 fs-25 w-bold white">Seleccionas las fechas y horas en las que puedes tener la sesión</p>
                      <div class="grid-x grid-margin-x grid-margin-y">
                        <div class="cell large-6">
                          <div class="grid-x grid-margin-x grid-margin-y">
                            <div class="cell large-6">
                              <el-date-picker
                                v-model="sessionRequest.date1.value"
                                class="width-100"
                                :class="{ valid : sessionRequest.date1.isValid }"
                                format="d MMMM"
                                value-format="yyyy-MM-dd"
                                type="date"
                                placeholder="Fecha 1"
                                >
                              </el-date-picker>
                            </div>
                            <div class="cell large-6">
                              <el-time-select
                                v-model="sessionRequest.time1.value"                                
                                class="width-100"
                                :class="{ valid : sessionRequest.time1.isValid }"
                                :picker-options="{
                                  start: '09:00',
                                  step: '00:30',
                                  end: '20:00'
                                }"
                                placeholder="Hora"
                                >
                              </el-time-select>                                                        
                            </div>
                          </div>
                        </div>
                        <div class="cell large-6">
                          <div class="grid-x grid-margin-x grid-margin-y">
                            <div class="cell large-6">
                              <el-date-picker
                                v-model="sessionRequest.date2.value"
                                class="width-100"
                                :class="{ valid : sessionRequest.date2.isValid }"
                                format="d MMMM"
                                value-format="yyyy-MM-dd"
                                type="date"
                                placeholder="Fecha 2">
                              </el-date-picker>
                            </div>
                            <div class="cell large-6">
                              <el-time-select
                                v-model="sessionRequest.time2.value"
                                class="width-100"
                                :class="{ valid : sessionRequest.time2.isValid }"
                                :picker-options="{
                                  start: '08:30',
                                  step: '00:15',
                                  end: '18:30'
                                }"
                                placeholder="Hora">
                              </el-time-select>                                                        
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="margin-bottom-2">
                      <label>
                        <p class="mb-05 f2 fs-25 w-bold white">¿Qué curso vamos a reforzar?</p>
                        <select 
                          class="c-form__select input-reset"
                          :class="{ valid : sessionRequest.course.isValid }"
                          v-model="sessionRequest.course.value">
                          <option value="" selected disabled>- Curso -</option>
                          {% for course in courses %}
                            <option value="{{course.title}}">{{course.title}}</option>                      
                          {% endfor %}
                        </select>
                      </label>
                    </div>
                    <div class="margin-bottom-3">
                      <p class="mb-05 f2 fs-25 w-bold white">Subir archivos para trabajar en la sesión</p>
                      <el-upload
                        :class="{ valid : sessionRequest.resources.isValid }"
                        drag
                        action=""
                        :http-request="addAtachments"
                        :on-remove="handleRemove"
                        :before-upload="handleBeforeUpload"
                        accept=".jpg, .jpeg, .pdf"
                        multiple
                        >
                        <i class="el-icon-upload"></i>
                        <div class="el-upload__text">Arrastrar el archivo aquí o <em>click en subir</em></div>
                        <div class="el-upload__tip" slot="tip">Archivos .jpg/.jpeg/.pdf con tamaño menor que 500kb</div>
                      </el-upload>
                    </div>
                    <button 
                      class="c-button c-button--ghost-white padding-horizontal-2 f2 fs-18 w-medium br--medium width-100"
                      @click="sendSessionRequest"
                      :disabled="sessionRequest.counter != 8"
                      >
                      ENVIAR SOLICITUD
                    </button>
                  </div>              
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="c-modal position-fixed width-100 height-100" :class="{ opened : isOpenedValidateCodeModal }">
      <div class="grid-container height-100">
        <div class="grid-x align-center-middle height-100">
          <div class="cell medium-10 large-8">
            <div class="c-modal__content br--medium bg-sec-color flex-container flex-dir-column text-center">
              <div class="flex-container align-right margin-bottom-1">
                <button @click="isOpenedValidateCodeModal = false" class="white">
                  <span class="c-icon fs-30"><i class="far fa-times"></i></span>
                </button>
              </div>
              <div class="c-modal__body padding-horizontal-1">
                <div class="c-title flex-container">
                  <h2 class="fs-60 warning w-bold pri-color text-center display-block">SESIÓN VIRTUAL</h2>
                  <figure class="text-center large-text-left">
                    <img src="{{theme.link}}/static/images/vectors/login/hearts.png" alt="">
                  </figure>
                </div>
                <div class="c-form margin-bottom-1 text-left">
                  <div v-if="!isRightCode || isRightCode == null" class="margin-bottom-3">
                    <label>
                      <p class="mb-05 f2 fs-25 w-bold white">Ingresa el código de activación que te llegó</p>
                      <input 
                        v-model="sessionKey" 
                        type="text" 
                        class="c-form__input input-reset"
                        @keyup.enter="getSession">
                    </label>
                    <p class="margin-bottom-0 alert" :class="{ hide : (isRightCode || isRightCode == null) }">El código ingresado no existe</p>
                  </div>
                  <div v-else class="margin-bottom-3">
                    <label>
                      <p class="mb-05 f2 fs-25 w-bold white">Ingresa tu nombre</p>
                      <input 
                        v-model="sessionUser" 
                        type="text" 
                        class="c-form__input input-reset"
                        @keyup.enter="joinSession">
                    </label>
                  </div>
                  <button
                    v-if="!isRightCode || isRightCode == null"
                    class="c-button c-button--primary f2 w-medium fs-18 padding-horizontal-2 br--medium width-100"
                    @click="getSession">
                    VALIDAR CÓDIGO
                  </button>
                  <button
                    v-else
                    class="c-button c-button--primary f2 w-medium fs-18 padding-horizontal-2 br--medium width-100"
                    @click="joinSession">
                    UNIRSE A LA SESIÓN
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>     
  </section>
{% endblock %}
