{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--emotional">
    <section class="c-banner padding-vertical-3 margin-bottom-3">
      <div class="grid-container">
        <div class="flex-container align-right margin-bottom-2">
          <div class="flex-container align-middle">
            <div class="white f2 fs-18 flex-container align-middle">
              <span class="c-icon fs-21"><i class="far fa-gift"></i></span>
              <p class="margin-left-1 margin-bottom-0">Contenido gratuito</p>
            </div>
          </div>
        </div>      
      </div>      
      <div class="c-banner__content grid-container">
        <a href="" class="c-banner-video position-relative display-block br--medium margin-bottom-3">
          <img class="width-100 height-100 of--cover" src="{{theme.link}}/static/images/example.jpg" alt="">
          <div class="c-banner-video__play position-absolute flex-container align-center-middle">
            <span class="c-icon"><i class="far fa-play"></i></span>
          </div>          
        </a>
        <div class="grid-x align-center">
          <div class="cell medium-8 large-6">
            <p class="white f2 text-center fs-21">
              Accede a todo nuestro contenido online. Comienza a aprender donde quiera que estés con MAB.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="c-filter grid-container margin-bottom-1">
      <div class="grid-x grid-margin-x grid-margin-y align-center">
        {% for category in video_categories %}
          <div class="cell medium-6 large-4">
            <li class="c-filter__option text-uppercase position-relative dark flex-container align-middle">
              <input id="category-{{loop.index}}" value="{{category.slug}}" type="checkbox" class="hide" v-model="filterOptions">
              <label for="category-{{loop.index}}" class="c-button fs-18 w-medium f2 display-block width-100 text-center">
                {{category.name}}
              </label>
            </li>
          </div>
        {% endfor %}        
      </div>
    </div>   
    <div class="grid-container padding-top-1">
      <div class="c-loader c-loader--full" :class="{ active : isFeedLoading }">
        <div class="container height-100 flex-container align-center-middle">
          <div class="loader">
            {% for item in [1,2,3,4,5] %}              
              <div class="loader--dot"></div>
            {% endfor %}       
          </div>
        </div>
      </div>
      <div class="c-feed grid-x grid-margin-x grid-margin-y margin-bottom-2">
        <div class="cell medium-6" v-for="(video, index) of videos" :key="video.id">
          <video-c
            :title="video.title"
            :link="video.link" 
            :author="video.author"
            :thumbnail="video.thumbnail"
          >
          </video-c>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

