{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--psicologos bg-warning-alt">
    <div class="c-psicologos-list bg-warning-alt">
      <div class="grid-container">
        <h2 class="c-psicologos-list__title dark text-uppercase">
          <p>Team de Psicólogos</p>
        </h2>

        <div>
          <div class="c-us-comment">
            <div class="grid-x align-justify align-middle">
              <div class="cell large-6">
                <div class="c-us-comment__content bg-white dark position-relative text-left f2">
                  <span class="c-us-comment__figure position-absolute">
                    <img src="{{ theme.link }}/static/images/nosotros/comas.png" alt="" class="width-100 height-100 of--cover">
                  </span> 
                  <p>
                    “Hola, yo soy Ximena! Psicóloga clínica licenciada por la UPC. Cuento con formación como psicoterapeuta psicoanalítica y tengo más de 5 años de experiencia. Trabajo en educación hace varios años y acompaño procesos de niños, niñas, púberes, adolescentes y jóvenes”. Servicios que brindo: Evaluaciones emocionales, procesos de psicoterapia emocional, Coaching vocacional, acompañamiento y orientación a padres.
                  </p> 
                  <div class="f2 dark">
                    <strong>Psicóloga, Ximena Unzueta.</strong> <a class="padding-left-1 dark fs-25" href="" target="_blank"><i class="fab fa-whatsapp"></i></a>
                  </div>
                </div>
              </div> 
              <div class="cell large-5">
                <div class="c-card-article bg-white mab-shadow-soft">
                  <figure class="c-card-article__figure margin-bottom-1">
                    <img src="{{ theme.link }}/static/images/nosotros/maca.png" alt="" class="width-100 height-100 of--cover">
                  </figure> 
                  <div class="c-card-article__content"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-us-comment">
            <div class="grid-x align-justify align-middle">
              <div class="cell large-6">
                <div class="c-us-comment__content bg-white dark position-relative text-left f2">
                  <span class="c-us-comment__figure position-absolute">
                    <img src="{{ theme.link }}/static/images/nosotros/comas.png" alt="" class="width-100 height-100 of--cover">
                  </span> 
                  <p>
                    “Hola, yo soy Ximena! Psicóloga clínica licenciada por la UPC. Cuento con formación como psicoterapeuta psicoanalítica y tengo más de 5 años de experiencia. Trabajo en educación hace varios años y acompaño procesos de niños, niñas, púberes, adolescentes y jóvenes”. Servicios que brindo: Evaluaciones emocionales, procesos de psicoterapia emocional, Coaching vocacional, acompañamiento y orientación a padres.
                  </p> 
                  <div class="f2 dark">
                    <strong>Psicóloga, Ximena Unzueta.</strong> <a class="padding-left-1 dark fs-25" href="" target="_blank"><i class="fab fa-whatsapp"></i></a>
                  </div>
                </div>
              </div> 
              <div class="cell large-5">
                <div class="c-card-article bg-white mab-shadow-soft">
                  <figure class="c-card-article__figure margin-bottom-1">
                    <img src="{{ theme.link }}/static/images/nosotros/maca.png" alt="" class="width-100 height-100 of--cover">
                  </figure> 
                  <div class="c-card-article__content"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="c-us-comment">
            <div class="grid-x align-justify align-middle">
              <div class="cell large-6">
                <div class="c-us-comment__content bg-white dark position-relative text-left f2">
                  <span class="c-us-comment__figure position-absolute">
                    <img src="{{ theme.link }}/static/images/nosotros/comas.png" alt="" class="width-100 height-100 of--cover">
                  </span> 
                  <p>
                    “Hola, yo soy Ximena! Psicóloga clínica licenciada por la UPC. Cuento con formación como psicoterapeuta psicoanalítica y tengo más de 5 años de experiencia. Trabajo en educación hace varios años y acompaño procesos de niños, niñas, púberes, adolescentes y jóvenes”. Servicios que brindo: Evaluaciones emocionales, procesos de psicoterapia emocional, Coaching vocacional, acompañamiento y orientación a padres.
                  </p> 
                  <div class="f2 dark">
                    <strong>Psicóloga, Ximena Unzueta.</strong> <a class="padding-left-1 dark fs-25" href="" target="_blank"><i class="fab fa-whatsapp"></i></a>
                  </div>
                </div>
              </div> 
              <div class="cell large-5">
                <div class="c-card-article bg-white mab-shadow-soft">
                  <figure class="c-card-article__figure margin-bottom-1">
                    <img src="{{ theme.link }}/static/images/nosotros/maca.png" alt="" class="width-100 height-100 of--cover">
                  </figure> 
                  <div class="c-card-article__content"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
