{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--articulo">
    <div class="c-article bg-warning-alt">
      <div class="grid-container">
        <h2 class="c-article__title margin-bottom-0 dark fs-50 lh-50 margin-bottom-0 text-uppercase">
          <p>El presidente que el perú merece</p>
        </h2>
        <h4 class="c-article__autor dark fs-30 lh-30 margin-bottom-0 text-uppercase">
          <p>por macarena arribas</p> 
        </h4>
        <h5 class="c-article__date dark fs-18 lh-18 margin-bottom-0 text-uppercase margin-bottom-3 f2">
          <p>18 de febrero de 2021</p>
        </h5>
        <div class="position-relative">
          <figure class="c-blog__float-figure f1 position-absolute desktop">
            <img class="of--contain" src="{{ theme.link }}/static/images/blog/eye.png" alt="">
          </figure>
          <figure class="c-blog__float-figure f2 position-absolute desktop">
            <img class="of--contain" src="{{ theme.link }}/static/images/blog/heart.png" alt="">
          </figure>
          <figure class="c-blog__float-figure f3 position-absolute desktop">
            <img class="of--contain" src="{{ theme.link }}/static/images/blog/green.png" alt="">
          </figure>
          <figure class="c-blog__float-figure f4 position-absolute desktop">
            <img class="of--contain" src="{{ theme.link }}/static/images/blog/lapiz.png" alt="">
          </figure>
          <div class="c-article__content bg-white dark br--large f2 position-relative mab-shadow-soft">
            <p>
              Hace un par de semanas mi papá me pide que le hable, con detalle, acerca de mi idea de “presidente ideal”. Lo he conversado brevemente con él oralmente, pero me ha insistido tanto en que lo escriba, que acá estoy, algunas semanas antes de
              las elecciones, escribiendo acerca de lo que para mí es un presidente ideal. <br><br>
              Primero que nada, pienso que el Perú merece a una persona que realmente tenga amor hacia la patria. Estamos hartos de
              tanto encantador de serpientes. Una persona que quiera genuinamente fortalecer todas las bondades de nuestras tierras.
              Una persona que quiera a los peruanos, que se alegre cuando otro peruano tiene éxito, y que de verdad quiera hacer de
              este país un mejor lugar para todos y para todas
              Pienso que el Perú necesita a una persona preparada, con estudios, con una carrera académicamente potente. Pero, nada
              de esto funcionará si es que todos estos conocimientos académicos no están acompañados de un conocimiento profundo el
              país. Necesitamos a una persona que no solo tenga como zona de confort a su escritorio, sus negocios y diplomas internacionales. Necesitamos a una persona que se haya recorrido al Perú, que haya conversado con su gente, que haya convivido
              con sus comunidades, que haya compartido con ellas sus inquietudes, su motivaciones y necesidades. A una persona que
              se haya dado el trabajo de conocer las diferentes realidades de este país tan diverso, tan injusto y con tantas diferencias a
              todo nivel.<br><br>
              La verdad que los peruanos estamos hartos de tener presidentes con medallas y diplomas, pero sin el más mínimo conocimiento de lo que las personas en la punta del cerro necesitan, o lo que los niños en la profundidad de la selva hacen.
              Ningún diploma es más importante que el del conocimiento de las personas, de sus preocupaciones y necesidades. Necesitamos a una persona que se haya paseado por el Perú entero, de arriba abajo, que conozca sus comodidades y su pobreza, su seguridad y su inseguridad. Necesitamos a un presidente que quiera escuchar a la gente y que esté dispuesto a trabajar por reducir esas brechas sociales tan fulminantes que azotan cada día que pasa al país y a su gente.
              Necesitamos a un presidente que le dé a la educación el valor que merece. Que promueva una educación de calidad para
              todos y para todas. Una persona que valore el trabajo docente y que reivindique la importancia que estos tienen en la formación de una mejor nación. Una persona que entienda que para mejorar este país necesitamos reformular absolutamente el sistema educativo urgentemente. No es posible que haya tantos niños sin acceso a una educación de calidad, sin internet, sin agua, sin luz. No es posible que sigamos siendo uno de los peores países a nivel de lectura y matemáticas. No es
              posible que seamos uno de los países más machistas del mundo, ni un país donde una mujer no puede salir tranquila a la
              calle. Necesitamos entonces a un presidente que venga y que reivindique nuestro sistema educativo. Porque todo comienza
              ahí y el que no lo ve está realmente ciego. De nada sirve salir a marchar contra la violencia contra la mujer, si los niños no
              están siendo correctamente educados desde chiquitos.<br><br>
              También, pienso que necesitamos a alguien con una mano dura y justa frente a las injusticias, alguien a quien no le tiemble
              la mano para castigar a los vivos que no respetan a los demás, a los que se creen mejores que el resto y a los que están
              acostumbrados a no respetar las leyes porque “no pasa nada”. Necesitamos a alguien que esté dispuesto a castigar a todo
              aquel que atente contra los derechos de los demás: cadena perpetua para los violadores, por ejemplo. De arranque.
              A una persona que levante a los pequeños empresarios, que simplifique los procesos de formalización y que fomente la
              creatividad y motivación de la gente por salir adelante. A alguien que empodere a los peruanos y los empuje a crear desde
              sus posibilidades y que no haga lo que siempre viene pasando en este país, donde las trabas y la burocracia entorpecen
              cada proceso: un convenio, una formalización empresarial, una licencia, un trámite … y la lista podría seguir. Todo es lento.
              Todo es difícil. Todo es absurdamente engorroso.<br><br>
              Pienso que el Perú necesita a una persona suficientemente inteligente, abierta y humilde como para unir esfuerzos entre
              el sector privado y el público. Una persona que esté dispuesta a pedir ayuda a los grandes empresarios para que con ellos y
              con su talento se llegue a las mejores soluciones. No hay mejor cosa que aprender de los mejores, dejando egos estúpidos
              de lado, trabajando en equipo y formando alianzas. Necesitamos a una mente abierta que quiera hacer que el Perú entero
              crezca, y que en vez de querer derrumbar a las grandes empresas se una a ellas en su visión de grandeza, trabajo y estrategia.
              Necesitamos a una persona que les hable a los jóvenes, que los entienda, que los escuche. Que entienda que son una generación nueva, diferente, con ideales claros y ambiciosos, con ganas de hacer de este mundo un mejor lugar. Una generación
              de jóvenes que quieren ser escuchados y respetados. Una generación de jóvenes con una mente mucho más abierta que
              los jóvenes de hace 10, 20, 30 años. Necesitamos entonces, a una persona con mente abierta también, capaz de entender
              las motivaciones de todos estos chicos que ven el mundo desde otro lugar: uno mucho más sostenible, más eco-amigable,
              más libre y justo para todos. Necesitamos a alguien con la capacidad de entender la importancia del cuidado del medio
              ambiente, de los derechos igualitarios para hombres y mujeres. A alguien que tenga la capacidad de sostener una conversación alturada sobre el aborto, sobre la sexualidad o sobre la diversidad de género, por ejemplo , entre otros tantos temas
              importantes para los jóvenes de ahora. Alguien que no esté dispuesto a entender todo esto se topará contra una gran pared
              donde todos saldremos perdiendo.<br><br>
              Y finalmente, necesitamos a una población electoral que haga su voto de forma informada y responsable, dejando de lado
              sus motivaciones personales y pensando en la construcción de un mejor país para todos y para todas, dejando de lado las
              pasiones políticas, bandos y extremismos.<br><br>
              Necesitamos a una población electoral que no se deje engañar por lobos disfrazados de ovejas. Votemos pensando en un
              candidato que pueda lograr un país más justo y más unido, donde no importe donde hayas nacido por pura suerte, en la
              costa, en la sierra o en la selva, tengas las mismas alas para volar.<br><br>
              Necesitamos a alguien que desde siempre haya tenido ese genuino interés por hacer PATRIA, por trabajar a todo pulmón
              para reducir brechas sociales en este país tan duro, tan injusto y tan doloroso. A alguien que desde siempre lo haya dejado
              todo en la cancha. A alguien que cuando le haya tocado perder, haya seguido trabajando con las mismas ganas de hacer
              Perú. A alguien que cuando le haya tocado servir, lo haya hecho con la frente en alto. A alguien que siempre haya trabajado
              arduamente con ganas innatas de hacer PAÍS. No carrera, ni CV, ni alcancía.<br><br>
            </p>

            <div class="grid-x align-justify align-bottom">
              <div class="cell large-7">
                <h4 class="c-article__share-text dark margin-bottom-1 text-uppercase">
                  <p>¿te gustó?</p>
                  <p>comparte aprendizaje</p> 
                </h4>
                <ul class="c-article__share-list ul-reset flex-container margin-bottom-3">
                  <li>
                    <a href="">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li class="margin-horizontal-1">
                    <a href="">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="cell large-4">
                <div class="c-card-article bg-white mab-shadow">
                  <figure class="c-card-article__figure margin-bottom-1">
                    <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/blog/article.png" alt="">
                  </figure>
                  <div class="c-card-article__content">
                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="c-otros-articulos">
          <h2 class="c-article__title margin-bottom-2 dark fs-50 lh-50 margin-bottom-0 text-uppercase">
            <p>podría interesarte</p>
          </h2>
          <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-4">
              <div class="c-card-article bg-white mab-shadow-soft">
                <figure class="c-card-article__figure margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/blog/article.png" alt="">
                </figure>
                <div class="c-card-aticle__content">
                  <h3 class="c-card-aticle__title dark f2 w-xbold fs-25 lh-25 margin-0">El presidente que el
                    Perú merece
                  </h3>
                  <p class="c-card-aticle__title dark f2 fs-16">18 de febrero de 2021</p>
                  <div class="text-center padding-top-1">
                    <a href="" class="dark c-link--ho-dark f2 w-xbold fs-16">Leer más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell large-4">
              <div class="c-card-article bg-white mab-shadow-soft">
                <figure class="c-card-article__figure margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/blog/article.png" alt="">
                </figure>
                <div class="c-card-aticle__content">
                  <h3 class="c-card-aticle__title dark f2 w-xbold fs-25 lh-25 margin-0">El presidente que el
                    Perú merece
                  </h3>
                  <p class="c-card-aticle__title dark f2 fs-16">18 de febrero de 2021</p>
                  <div class="text-center padding-top-1">
                    <a href="" class="dark c-link--ho-dark f2 w-xbold fs-16">Leer más</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="cell large-4">
              <div class="c-card-article bg-white mab-shadow-soft">
                <figure class="c-card-article__figure margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/blog/article.png" alt="">
                </figure>
                <div class="c-card-aticle__content">
                  <h3 class="c-card-aticle__title dark f2 w-xbold fs-25 lh-25 margin-0">El presidente que el
                    Perú merece
                  </h3>
                  <p class="c-card-aticle__title dark f2 fs-16">18 de febrero de 2021</p>
                  <div class="text-center padding-top-1">
                    <a href="" class="dark c-link--ho-dark f2 w-xbold fs-16">Leer más</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
