{% extends '_html.twig' %}

{% block hero %} {% endblock %}

{% block content %}
  <section class="c-section c-section--access">
      <div class="c-split-layout">
        <div class="grid-x height-100">
          <div class="cell large-5">
            <transition name="fade" mode="out-in">
              <div v-if="view == 'login'" key="l-login" class="c-split-layout__figure height-100">
                <figure class="c-cover-gradient c-cover-gradient--secondary position-relative height-100 width-100">
                  <img
                    loading="lazy"
                    class="c-cover-gradient__image width-100 height-100"
                    :src="'{{theme.link}}/static/images/' + gallery.login.img"
                    alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                      <div class="c-corner-logo">
                        <img v-if="false" loading="lazy" class="height-100" src="{{theme.link}}/static/images/logo.png" alt="">
                      </div>
                      <div class="c-corner-text text-rigth f2 w-bold">
                        ${ gallery.login.author.name } <br> ${ gallery.login.author.job }
                      </div>
                    </div>
                    <h1 class="c-cover-gradient__bottom width-100 padding-3 margin-bottom-0">
                      <div class="grid-x">
                        <div class="cell medium-6 large-7">
                          <div class="c-gradient-title" v-html="gallery.login.title"></div>
                        </div>
                      </div>
                    </h1>
                  </figcaption>
                </figure>
              </div>
              <div v-else-if="view == 'register'" key="l-register" class="c-split-layout__figure height-100">
                <figure class="c-cover-gradient c-cover-gradient--secondary position-relative height-100 width-100">
                  <img
                    loading="lazy"
                    class="c-cover-gradient__image width-100 height-100"
                    :src="'{{theme.link}}/static/images/' + gallery.register.img"
                    alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                      <div></div>
                      <div class="c-corner-text text-rigth f2 w-bold">
                        ${ gallery.register.author.name } <br> ${ gallery.register.author.job }
                      </div>
                    </div>
                    <h1 class="c-cover-gradient__bottom width-100 padding-3 margin-bottom-0">
                      <div class="grid-x">
                        <div class="cell medium-6 large-7">
                          <div class="c-gradient-title" v-html="gallery.register.title"></div>
                        </div>
                      </div>
                    </h1>
                  </figcaption>
                </figure>
              </div>
              <div v-else-if="view == 'step-0'" key="l-step-0" class="c-split-layout__figure height-100">
                <figure class="c-cover-gradient c-cover-gradient--alert position-relative height-100 width-100">
                  <img
                    loading="lazy"
                    class="c-cover-gradient__image width-100 height-100"
                    :src="'{{theme.link}}/static/images/' + gallery.steps[0].img"
                    alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100 flex-container padding-3 padding-top-2">
                      <div class="c-corner-logo">
                        <img loading="lazy" class="height-100 of--contain" :src="'{{theme.link}}/static/images/' + gallery.steps[0].sticker" alt="">
                      </div>
                    </div>
                    <h1 class="c-cover-gradient__bottom width-100 padding-3 margin-bottom-0">
                      <div class="grid-x align-right">
                        <div class="cell medium-6 large-7 text-right">
                          <div class="c-gradient-title" v-html="gallery.steps[0].title"></div>
                        </div>
                      </div>
                    </h1>
                  </figcaption>
                </figure>
              </div>
              <div v-else-if="view == 'step-1'" key="l-step-1" class="c-split-layout__figure height-100">
                <figure class="c-cover-gradient c-cover-gradient--primary position-relative height-100 width-100">
                  <img
                    loading="lazy"
                    class="c-cover-gradient__image width-100 height-100"
                    :src="'{{theme.link}}/static/images/' + gallery.steps[1].img"
                    alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div class="c-cover-gradient__top width-100 flex-container padding-3 padding-top-2">
                      <div class="c-corner-logo"></div>
                      <div class="c-corner-text text-rigth f2 w-xbold">
                        ${ gallery.steps[1].author.name } <br> ${ gallery.steps[1].author.job }
                      </div>
                    </div>
                    <h1 class="c-cover-gradient__bottom width-100 padding-3 margin-bottom-0">
                      <div class="grid-x">
                        <div class="cell medium-8 large-10">
                          <div class="c-gradient-title" v-html="gallery.steps[1].title"></div>
                        </div>
                      </div>
                    </h1>
                  </figcaption>
                </figure>
              </div>
              <div v-else-if="view == 'step-2'" key="l-step-2" class="c-split-layout__figure height-100">
                <figure class="c-cover-gradient c-cover-gradient--success position-relative height-100 width-100">
                  <img
                    loading="lazy"
                    class="c-cover-gradient__image width-100 height-100"
                    :src="'{{theme.link}}/static/images/' + gallery.steps[2].img"
                    alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div></div>
                    <h1 class="c-cover-gradient__bottom width-100 padding-3 margin-bottom-0">
                      <div class="grid-x">
                        <div class="cell medium-6 large-7">
                          <div class="c-gradient-title" v-html="gallery.steps[2].title"></div>
                        </div>
                      </div>
                    </h1>
                  </figcaption>
                </figure>
              </div>
              <div v-else-if="view == 'step-3'" key="l-step-3" class="c-split-layout__figure height-100">
                <figure class="c-cover-gradient c-cover-gradient--warning position-relative height-100 width-100">
                  <img
                    loading="lazy"
                    class="c-cover-gradient__image width-100 height-100"
                    :src="'{{theme.link}}/static/images/' + gallery.steps[3].img"
                    alt="">
                  <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                    <div></div>
                    <h1 class="c-cover-gradient__bottom width-100 padding-3 margin-bottom-0">
                      <div class="grid-x">
                        <div class="cell medium-8 large-10">
                          <div class="c-gradient-title" v-html="gallery.steps[3].title"></div>
                        </div>
                      </div>
                    </h1>
                  </figcaption>
                </figure>
              </div>
              <div v-else-if="view == 'step-4'" key="l-step-4" class="c-image-slider height-100 ">
                <div id="slider-mab" class="swiper-container height-100">
                  <div class="swiper-wrapper">
                    <div v-for="slide of gallery.slider" :key="slide.id" class="swiper-slide">
                      <figure class="c-cover-gradient c-cover-gradient--secondary position-relative height-100 width-100">
                        <img
                          loading="lazy"
                          class="c-cover-gradient__image width-100 height-100"
                          :src="'{{theme.link}}/static/images/' + slide.img"
                          alt="">
                        <figcaption class="c-cover-gradient__figcaption width-100 height-100 position-absolute flex-container">
                          <div class="c-cover-gradient__top width-100  flex-container padding-3 padding-top-2">
                            <div class="c-corner-logo"></div>
                            <div class="c-corner-text text-rigth f2 w-xbold">
                              ${ slide.author.name }
                            </div>
                          </div>
                          <h1 class="c-cover-gradient__bottom width-100 padding-3">
                            <div class="grid-x">
                              <div class="cell medium-8 large-10">
                                <div class="c-gradient-title" v-html="slide.title"></div>
                              </div>
                            </div>
                          </h1>
                        </figcaption>
                      </figure>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </transition>
          </div>
          <div class="cell large-7">
            <div class="c-split-layout__content">
              <transition>
                <div v-if="view == 'login'" key="r-login" class="c-split-layout-content c-split-layout-content--secondary">
                  <div class="width-100">
                    <div class="text-center padding-3 width-100">
                      <div class="grid-x align-center">
                        <div class="cell large-7">
                          <h1 class="c-split-layout-content__title margin-bottom-2 white">
                            <span class="warning">inicia sesión</span><br>
                            y continúa creciendo con nosotros
                          </h1>
                          <button @click="authWithFacebook" class="c-btn-input-social width-100">
                            <img loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                            <span class="f2">Continuar con facebook</span>
                          </button>
                          <button @click="authWithGoogle" class="c-btn-input-social width-100">
                            <img loading="lazy" src="{{theme.link}}/static/images/google-icon.png" alt="">
                            <span class="f2">Continuar con google</span>
                          </button>
                          <form @submit="login($event)" class="c-form-new text-left margin-top-2" action="">
                            <div class="c-form-new__input-container margin-bottom-1">
                              <label class="w-bold f2 white" for="">Correo</label>
                              <input v-model="user.email.value" class="f2 input-reset" type="text">
                              <p v-if="isWrongField('email')" class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                Correo vacio o no valido
                              </p>
                            </div>
                            <div class="c-form-new__input-container margin-bottom-1">
                              <label class="w-bold f2 white" for="">Contraseña</label>
                              <input v-model="user.password.value" class="f2 input-reset" type="text">
                              <p v-if="isWrongField('password')" class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white ">
                                Contraseña vacia o muy pequeña (5 o más caracteres)
                              </p>
                            </div>
                            <button class="c-button c-button--warning width-100 f2 margin-top-1">Ingresar</button>
                          </form>
                          <div class="c-label-login warning f2 margin-top-1">
                            ¿Aún no tienes cuenta? <a :href="SITE_URL + '/access?auth=register'" class="w-bold warning">Registrate</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else-if="view == 'register'" key="r-register" class="c-split-layout-content c-split-layout-content--secondary">
                  <div class="width-100">
                    <div class="text-center padding-3 width-100">
                      <div class="grid-x align-center">
                        <div class="cell large-6">
                          <h1 class="c-split-layout-content__title margin-bottom-3 white">
                            <span class="small-title">Conviértete en un/una</span>
                            <div class="warning big-title">#MABLover</div> 
                          </h1>
                          <button class="c-btn-input-social width-100">
                            <img loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                            <span class="f2">Registrate con facebook</span>
                          </button>
                          <button class="c-btn-input-social width-100">
                            <img loading="lazy" src="{{theme.link}}/static/images/google-icon.png" alt="">
                            <span class="f2">Registrate con google</span>
                          </button>
                          <form class="c-form-new text-left margin-top-2" action="">
                            <div class="c-form-new__input-container margin-bottom-1">
                              <label class="w-bold f2 white" for="">Correo</label>
                              <input class="f2" type="text">
                              <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                error
                              </p>
                            </div>
                            <div class="c-form-new__input-container margin-bottom-1">
                              <label class="w-bold f2 white" for="">Contraseña</label>
                              <input class="f2" type="text">
                              <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white ">
                                error
                              </p>
                            </div>
                            <button class="c-button c-button--warning width-100 f2 margin-top-1">Registrarse</button>
                            <div class="c-form-new__terminos text-center">
                              <input type="radio"><a href="" class="f2 warning">Acepto los términos y Condiciones</a>
                            </div>
                          </form>
                          <div class="c-label-login warning f2 margin-top-1">
                            ¿Ya tienes una cuenta? <a :href="SITE_URL + '/access'" class="c-link--warning w-bold warning ">Inicia Sesión</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else-if="view == 'step-0'" key="r-step-0" class="c-split-layout-content column-between c-split-layout-content--alert">
                  <div></div>
                  <div class="width-100">
                    <div class="text-center padding-3 width-100">
                      <div class="grid-x align-center">
                        <div class="cell large-10">
                          <div class="grid-x grid-margin-x align-center">
                            <div class="cell large-10">
                              <h2 class="c-split-layout-content__title margin-bottom-2 white">
                                <span class="warning">¿a qué sector educativo</span>
                                <span class="warning">perteneces?</span>     
                              </h2>
                            </div>
                            <div class="cell large-6">
                              <div class="c-check-card text-center f2  bg-white black flex-container align-center-middle white">
                                <h3 class="f2 margin-0 w-xbold">Público</h3>
                                <p class="margin-0">Colegios estatales</p>
                              </div>
                            </div>
                            <div class="cell large-6">
                              <div class="c-check-card text-center f2 bg-white black flex-container align-center-middle white">
                                <h3 class="f2 margin-0 w-xbold">Privado</h3>
                                <p class="margin-0">Colegios particulares</p>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="width-100 padding-3">
                    <div class="grid-x align-center">
                      <div class="cell small-6 medium-5 large-5 text-left">
                        <button class="c-button c-button--warning-alert c-button--arrow w-xbold " @click="prevStep(-1)"> < Anterior</button>
                      </div>
                      <div class="cell small-6 medium-5 large-5 text-right">
                        <button class="c-button c-button--warning-alert c-button--arrow w-xbold " @click="nextStep(1)">Siguiente ></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else-if="view == 'step-1'" class="c-split-layout-content column-between c-split-layout-content--primary">
                  <div></div>
                  <div class="width-100">
                    <div class="text-center padding-3 width-100">
                      <div class="grid-x align-center">
                        <div class="cell large-10">
                          <h2 class="c-split-layout-content__title margin-bottom-1 white margin-top-3">
                            <span class="warning">¡Queremos conocerte mejor!</span>     
                          </h2>
                          <h3 class="c-split-layout-content__subtitle margin-bottom-2 white">
                            completa los siguientes datos     
                          </h3>
                          <form class="c-form-new text-left margin-top-2" action="">
                            <div class="grid-x grid-margin-x align-center">
                              <div class="cell large-6">
                                <div class="c-form-new__input-container margin-bottom-1">
                                  <label class="w-bold f2 white" for="">Nombres</label>
                                  <input class="f2" type="text">
                                  <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                    error
                                  </p>
                                </div>
                              </div>
                              <div class="cell large-6">
                                <div class="c-form-new__input-container margin-bottom-1">
                                  <label class="w-bold f2 white" for="">Apellido Paterno</label>
                                  <input class="f2" type="text">
                                  <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                    error
                                  </p>
                                </div>
                              </div>
                              <div class="cell large-6">
                                <div class="c-form-new__input-container margin-bottom-1">
                                  <label class="w-bold f2 white" for="">Apellido Materno</label>
                                  <input class="f2" type="text">
                                  <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                    error
                                  </p>
                                </div>
                              </div>
                              <div class="cell large-6">
                                <div class="c-form-new__input-container margin-bottom-1">
                                  <label class="w-bold f2 white" for="">Fecha de Nacimiento</label>
                                  <input class="f2" type="date">
                                  <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                    error
                                  </p>
                                </div>
                              </div>
                              <div class="cell large-6">
                                <div class="c-form-new__input-container margin-bottom-1">
                                  <label class="w-bold f2 white" for="">País</label>
                                  <select class="f2" name="" id="">
                                    <option value="">Elige un opción</option>
                                  </select>
                                  <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                    error
                                  </p>
                                </div>
                              </div>
                              <div class="cell large-6">
                                <div class="c-form-new__input-container margin-bottom-1">
                                  <label class="w-bold f2 white" for="">Ciudad</label>
                                  <select class="f2" name="" id="">
                                    <option value="">Elige un opción</option>
                                  </select>
                                  <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                    error
                                  </p>
                                </div>
                              </div>
                              <div class="cell large-6">
                                <div class="c-form-new__input-container margin-bottom-1">
                                  <label class="w-bold f2 white" for="">Número de teléfono</label>
                                  <div class="c-fake-input c-fake-input--tel flex-container align-middle">
                                    <span class="c-fake-input__prefix">+51</span><input type="tel">
                                  </div>
                                  <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                                    error
                                  </p>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="width-100 padding-3">
                    <div class="grid-x align-center">
                      <div class="cell small-6 medium-3 large-3 text-left">
                        <button class="c-button c-button--warning-primary c-button--arrow w-xbold " @click="prevStep(0)"> < Anterior</button>
                      </div>
                      <div class="cell medium-4 large-4 desktop">
                        <div class="c-bullet-steps text-center">
                          <div class="c-bullet-steps__bullets">
                            <span class="bg-warning"></span>
                            <span class="bg-white"></span>
                            <span class="bg-white"></span>
                            <span class="bg-white"></span>
                          </div>
                          <div class="c-bullet-steps__text f2 fs-21 white">
                            Paso 1 de 4
                          </div>
                        </div>
                      </div>
                      <div class="cell small-6 medium-3 large-3 text-right">
                        <button class="c-button c-button--warning-primary c-button--arrow w-xbold " @click="nextStep(2)">Siguiente ></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else-if="view == 'step-2'" class="c-split-layout-content column-between c-split-layout-content--success">
                  <div></div>
                  <div class="width-100">
                    <div class="text-center padding-3 width-100">
                      <div class="grid-x align-center">
                        <div class="cell large-10">
                          <div class="grid-x align-center">
                            <div class="cell large-8">
                              <h2 class="c-split-layout-content__title margin-bottom-2 white margin-top-3">
                                Buscamos adaptarnos a
                                <span class="warning">tus necesidades</span> 
                              </h2>
                            </div>
                          </div>
                          <h4 class="white margin-bottom-2 text-left">Actualmente, soy...</h4>
                          <div class="grid-x grid-margin-y grid-margin-x align-center">
                            <div class="cell medium-6 large-6 align-self-stretch">
                              <div class="c-split-layout-content__round-box mab-shadow text-left position-relative f2  bg-white black flex-container align-center-middle white ">
                                <span>
                                  <strong>Un padre / una madre / apoderad@</strong> que busca la mejor educación para su familia
                                </span>
                                <div class="c-corner-card-image position-absolute">
                                  <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                </div>
                              </div>
                            </div>
                            <div class="cell medium-6 large-6 align-self-stretch">
                              <div class="c-split-layout-content__round-box mab-shadow text-left position-relative f2  bg-white black flex-container align-center-middle white margin-bottom-1">
                                <span>
                                  <strong>Un maestro / una
                                    maestra</strong> que busca
                                    hacer un cambio por
                                    la sociedad
                                </span>
                                <div class="c-corner-card-image position-absolute">
                                  <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                </div>
                              </div>
                            </div>
                            <div class="cell medium-6 large-6 align-self-stretch">
                              <div class="c-split-layout-content__round-box mab-shadow text-left position-relative f2  bg-white black flex-container align-center-middle white margin-bottom-1">
                                <span>
                                  <strong>Un/a estudiante</strong>
                                    que busca superarse
                                    tanto a nivel académico
                                    como personal
                                </span>
                                <div class="c-corner-card-image position-absolute">
                                  <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                </div>
                              </div>
                            </div>
                            <div class="cell medium-6 large-6 align-self-stretch">
                              <div class="c-split-layout-content__round-box mab-shadow text-left position-relative f2  bg-white black flex-container align-center-middle white margin-bottom-1">
                                <span>
                                  <strong>Un/a internauta
                                    apasionado/a</strong> por la
                                    educación
                                </span>
                                <div class="c-corner-card-image position-absolute">
                                  <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                </div>
                              </div>
                            </div>
                            <div class="cell medium-6 large-6 align-self-stretch">
                              <div class="c-split-layout-content__round-box mab-shadow text-left position-relative f2  bg-warning black flex-container align-center-middle white margin-bottom-1">
                                <span>
                                  <strong>Parte del programa
                                    “De Tambo a Tambo”</strong>
                                    en zonas rurales del país
                                </span>
                                <div class="c-corner-card-image position-absolute">
                                  <img loading="lazy" class="width-100" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="width-100 padding-3">
                    <div class="grid-x align-center">
                      <div class="cell small-6 medium-3 large-3 text-left">
                        <button class="c-button c-button--warning-success c-button--arrow w-xbold " @click="prevStep(1)"> < Anterior</button>
                      </div>
                      <div class="cell medium-4 large-4 desktop">
                        <div class="c-bullet-steps text-center">
                          <div class="c-bullet-steps__bullets">
                            <span class="bg-white"></span>
                            <span class="bg-warning"></span>
                            <span class="bg-white"></span>
                            <span class="bg-white"></span>
                          </div>
                          <div class="c-bullet-steps__text f2 fs-21 white">
                            Paso 2 de 4
                          </div>
                        </div>
                      </div>
                      <div class="cell small-6 medium-3 large-3 text-right">
                        <button class="c-button c-button--warning-success c-button--arrow w-xbold " @click="nextStep(3)">Siguiente ></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else-if="view == 'step-3'" class="c-split-layout-content column-between c-split-layout-content--warning">
                  <div></div>
                  <div class="width-100">
                    <div class="text-center padding-3 width-100">
                      <div class="grid-x align-center">
                        <div class="cell large-10">
                          <div class="grid-x align-center">
                            <div class="cell large-8">
                              <h2 class="c-split-layout-content__title margin-bottom-2 black margin-top-3">
                                ¿Qué áreas de aprendizaje te interesan? 
                              </h2>
                            </div>
                          </div>
                          <h4 class="white margin-bottom-2 f2 w-xbold black">Elige al menos 3 categorías</h4>
                          <div class="grid-x grid-margin-y grid-margin-x align-center">
                            <div class="cell small-6 medium-3 large-3">
                              <figure class="c-mab-category mab-shadow c-mab-category--secondary active position-relative">
                                <img class="c-mab-category__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                <div class="c-mab-category__gradient position-absolute width-100 height-100">
                                </div>
                                <figcaption class="c-mab-category__shade position-absolute width-100 height-100 white text-center flex-container">
                                  <div class="c-mab-category__text flex-container align-center-middle width-100">
                                    Habilidades para la vida
                                  </div>
                                </figcaption>
                              </figure>
                            </div>
                            <div class="cell small-6 medium-3 large-3">
                              <figure class="c-mab-category mab-shadow c-mab-category--alert position-relative">
                                <img class="c-mab-category__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                <div class="c-mab-category__gradient position-absolute width-100 height-100">
                                </div>
                                <figcaption class="c-mab-category__shade position-absolute width-100 height-100 white text-center flex-container">
                                  <div class="c-mab-category__text flex-container align-center-middle width-100">
                                    Habilidades
                                  </div>
                                </figcaption>
                              </figure>
                            </div>
                            <div class="cell small-6 medium-3 large-3">
                              <figure class="c-mab-category mab-shadow c-mab-category--warning-alt position-relative">
                                <img class="c-mab-category__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                <div class="c-mab-category__gradient position-absolute width-100 height-100">
                                </div>
                                <figcaption class="c-mab-category__shade position-absolute width-100 height-100 white text-center flex-container">
                                  <div class="c-mab-category__text flex-container align-center-middle width-100">
                                    Habilidades
                                  </div>
                                </figcaption>
                              </figure>
                            </div>
                            <div class="cell small-6 medium-3 large-3">
                              <figure class="c-mab-category mab-shadow c-mab-category--success position-relative">
                                <img class="c-mab-category__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                <div class="c-mab-category__gradient position-absolute width-100 height-100">
                                </div>
                                <figcaption class="c-mab-category__shade position-absolute width-100 height-100 white text-center flex-container">
                                  <div class="c-mab-category__text flex-container align-center-middle width-100">
                                    Habilidades
                                  </div>
                                </figcaption>
                              </figure>
                            </div>
                            <div class="cell small-6 medium-3 large-3">
                              <figure class="c-mab-category mab-shadow c-mab-category--secondary position-relative">
                                <img class="c-mab-category__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                <div class="c-mab-category__gradient position-absolute width-100 height-100">
                                </div>
                                <figcaption class="c-mab-category__shade position-absolute width-100 height-100 white text-center flex-container">
                                  <div class="c-mab-category__text flex-container align-center-middle width-100">
                                    Habilidades para la vida
                                  </div>
                                </figcaption>
                              </figure>
                            </div>
                            <div class="cell small-6 medium-3 large-3">
                              <figure class="c-mab-category mab-shadow c-mab-category--alert position-relative">
                                <img class="c-mab-category__img width-100 height-100" loading="lazy" src="{{theme.link}}/static/images/fb-icon.png" alt="">
                                <div class="c-mab-category__gradient position-absolute width-100 height-100">
                                </div>
                                <figcaption class="c-mab-category__shade position-absolute width-100 height-100 white text-center flex-container">
                                  <div class="c-mab-category__text flex-container align-center-middle width-100">
                                    Habilidades
                                  </div>
                                </figcaption>
                              </figure>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="width-100 padding-3">
                    <div class="grid-x align-center">
                      <div class="cell small-6 medium-3 large-3 text-left">
                        <button class="c-button c-button--black-warning c-button--arrow w-xbold " @click="prevStep(2)"> < Anterior</button>
                      </div>
                      <div class="cell medium-4 large-4 desktop">
                        <div class="c-bullet-steps text-center">
                          <div class="c-bullet-steps__bullets">
                            <span class="bg-white"></span>
                            <span class="bg-white"></span>
                            <span class="bg-black"></span>
                            <span class="bg-white"></span>
                          </div>
                          <div class="c-bullet-steps__text f2 fs-21 black">
                            Paso 3 de 4
                          </div>
                        </div>
                      </div>
                      <div class="cell small-6 medium-3 large-3 text-right">
                        <button class="c-button c-button--black-warning c-button--arrow w-xbold " @click="nextStep(4)">Siguiente ></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div v-else-if="view == 'step-4'">
                  <div class="c-split-layout-content column-between c-split-layout-content--secondary">
                    <div></div>
                    <div class="width-100">
                      <div class="text-center padding-3 width-100">
                        <div class="grid-x align-center">
                          <div class="cell large-10">
                            <div class="grid-x align-center">
                              <div class="cell large-8">
                                <h2 class="c-split-layout-content__title margin-bottom-2 white margin-top-3">
                                  ¿qué temas específicos quieres aprender? 
                                </h2>
                              </div>
                            </div>
                            <h4 class="white margin-bottom-2 f2 w-xbold white">Elige al menos 3 subcategorías</h4>
                            <div class="grid-x grid-margin-y grid-margin-x align-center">
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-mab-subcategory mab-shadow bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-mab-subcategory mab-shadow bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-mab-subcategory mab-shadow bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-mab-subcategory mab-shadow bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-mab-subcategory mab-shadow bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Coaching ontológico
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-mab-subcategory mab-shadow bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Autismo
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-mab-subcategory mab-shadow bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Actitud y cáncer
                                </div>
                              </div>
                              <div class="cell small-6 medium-3 large-3">
                                <div class="c-mab-subcategory mab-shadow bg-white flex-container align-center-middle padding-1 f2 w-xbold black">
                                  Yoga para ser feliz
                                </div>
                              </div>
                            </div>
                            <div class="margin-top-3">
                              <button class="c-button c-button--warning-black w-xbold margin-bottom-2 padding-left-2 padding-right-2">¡Comienza a <br> aprender distinto!</button>
                              <div @click="prevStep(3)" class="warning f2 w-xbold fs-18">< Volver</div>
                              <div class="c-bullet-steps text-center margin-top-1">
                                <div class="c-bullet-steps__bullets">
                                  <span class="bg-white"></span>
                                  <span class="bg-white"></span>
                                  <span class="bg-white"></span>
                                  <span class="bg-warning"></span>
                                </div>
                                <div class="c-bullet-steps__text f2 fs-21 white">
                                  Paso 4 de 4
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
              </transition>
            </div>  
            <div v-if="false" class="c-mab-modal flex-container align-center-middle">
              <div class="grid-x align-center width-100">
                <div class="cell small-10 medium-10 large-6">
                  <div class="c-mab-modal-content bg-white ">
                    <h3 class="c-mab-modal-content__title text-center f2 text-uppercase">¿cuántos escolares tienes a tu
                      cargo?</h3>
                      <form class="c-form-new">
                        <div class="c-form-new__input-container margin-bottom-2">
                          <select class="f2" name="" id="">
                            <option value="">Elige un opción</option>
                          </select>
                          <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                            error
                          </p>
                        </div>
                        <div class="c-form-new__input-container">
                          <select class="f2" name="" id="">
                            <option value="">Elige un opción</option>
                          </select>
                          <p class="c-form-new__error margin-bottom-0 fs-18 f2 w-medium white">
                            error
                          </p>
                        </div>
                        <div class="width-100 margin-top-2">
                          <div class="grid-x grid-margin-x grid-margin-y align-center">
                            <div class="cell small-6 medium-4 large-4 text-left">
                              <button class="c-button c-button--success c-button--arrow c-button--small width-100" @click="prevStep()">Volver</button>
                            </div>
                            <div class="cell small-6 medium-4 large-4 text-right">
                              <button class="c-button c-button--success c-button--arrow c-button--small width-100" @click="nextStep()">Continuar</button>
                            </div>
                          </div>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}

{% block footer %} {% endblock %}
