{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--nosotros bg-warning-alt">

    <div id="test-template" style="display: none;">
      <div class="c-timeline-tooltip c-behaviour-template padding-1 f2 w-medium">
        <div class="flex-container align-center align-middle">
            <div class="c-timeline-tooltip__year fs-40 w-xbold">
              2014
            </div>
            <div class="f2 fs-16">
              <h4 class="w-xbold">El garage</h4>
              <p>
                lorem lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt omnis tenetur rem sequi facilis ea eius fuga quam 
              </p>
            </div>
        </div>
      </div>
    </div>  

    <div id="test-template-2" style="display: none;">
      <div class="c-timeline-tooltip c-behaviour-template padding-1 f2 w-medium">
        <div class="flex-container align-center align-middle">
            <div class="c-timeline-tooltip__year fs-40 w-xbold">
              2015
            </div>
            <div class="f2 fs-16">
              <h4 class="w-xbold">El garage</h4>
              <p>
                lorem lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt omnis tenetur rem sequi facilis ea eius fuga quam 
              </p>
            </div>
        </div>
      </div>
    </div>  


    <div id="test-template-3" style="display: none;">
      <div class="c-timeline-tooltip c-behaviour-template padding-1 f2 w-medium">
        <div class="flex-container align-center align-middle">
            <div class="c-timeline-tooltip__year fs-40 w-xbold">
              2016
            </div>
            <div class="f2 fs-16">
              <h4 class="w-xbold">El garage</h4>
              <p>
                lorem lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo deserunt omnis tenetur rem sequi facilis ea eius fuga quam 
              </p>
            </div>
        </div>
      </div>
    </div>  

    <div class="c-ceo">
      <div class="grid-container">
        <h2 class="c-article__title margin-bottom-0 dark fs-70 lh-50 margin-bottom-0 text-uppercase">
          <p>NOSOTROS</p>
        </h2>
        <div class="c-ceo-bio bg-sec-color white br--large">
          <div class="grid-x align-self-stretch">
            <div class="cell large-7">
              <h2 class="c-ceo-bio__title margin-bottom-0 white f2 w-xbold fs-30 lh-30 margin-bottom-0 text-uppercase">
                <p>Macarena Arribas
                  Berckemeyer</p>
              </h2>
              <div class="c-ceo-bio__text white f2 margin-bottom-2"> 
                <p> 
                  Macarena vive apasionada por la educación. Cuando era
                  estudiante en el colegio, le encantaba poder compartir
                  lo que sabía con los demás. Desde niña es una persona
                  muy creativa e innovadora, rompiendo siempre con lo
                  convencional. <br><br>
                  Además, es una amante del aprendizaje. Estudió
                  comunicación y publicidad en la UPC. Luego, hizo un
                  diplomado en neuro educación, una maestría en
                  Education Leadership, distintas especializaciones en
                  inteligencia emocional y se formó en Coaching
                  Ontológico.<br> <br>
                  Maca cuenta con más de 15 años educando a cientos de
                  estudiantes.
                </p>
              </div>
            </div>
            <div class="cell large-5 position-relative">
              <div class="c-card-article bg-white mab-shadow-soft">
                <figure class="c-card-article__figure margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/blog/article.png" alt="">
                </figure>
                <div class="c-card-article__content">
                </div>
              </div>
              <div class="c-corner-heart position-absolute">
                <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/nosotros/heart.png" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="c-us-comment">
          <div class="grid-x align-justify align-middle">
            <div class="cell large-6">
              <div class="c-us-comment__content bg-white br--large dark position-relative text-center f2">
                <span class="c-us-comment__figure position-absolute">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/nosotros/comas.png" alt="">
                </span>
                <p>
                  “Macarena Arribas, CEO and founder of MAB Perú
                    (www.mablovers.com), an education community
                    working with kids from urban and rural areas of Peru
                    through technology and in person programs. MAB
                    offers one of the only complete online curricula in
                    Latin America, with more than 20,000 online
                    resources to meet the national educational standards
                    in Peru. Through the platform and other social
                    programs MAB is reducing social, educational and
                    technological gaps for kids all around Peru.”
                </p>

                <div class="f2 dark">
                  <strong>- Joshua Freedman, CEO Six Seconds</strong>
                </div>
              </div>
            </div>

            <div class="cell large-5">
              <div class="c-card-article bg-white mab-shadow-soft">
                <figure class="c-card-article__figure margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/nosotros/maca.png" alt="">
                </figure>
                <div class="c-card-article__content">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-ceo-bio c-ceo-bio--resume  bg-pri-color white br--large">
          <div class="grid-x align-self-stretch">
            <div class="cell large-6 position-relative desktop">
              <div class="c-card-article bg-white mab-shadow-soft">
                <figure class="c-card-article__figure margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/blog/article.png" alt="">
                </figure>
                <div class="c-card-article__content">
                </div>
              </div>
              <div class="c-card-article c-card-article--float bg-white mab-shadow-soft position-absolute desktop">
                <figure class="c-card-article__figure margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/blog/article.png" alt="">
                </figure>
                <div class="c-card-article__content">
                </div>
              </div>
              <div class="c-corner-heart position-absolute">
                <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/nosotros/circle.png" alt="">
              </div>
            </div>
            <div class="cell large-6">
              <h2 class="c-ceo-bio__title margin-bottom-0 white f2 w-xbold fs-30 lh-30 margin-bottom-0 text-uppercase">
                <p>Del garaje al Perú</p>
              </h2>
              <div class="c-ceo-bio__text white f2 margin-bottom-2"> 
                <p> 
                  Luego de varios años dando clases
                  particulares a niños y niñas de diferentes
                  colegios privados de Lima, Macarena expande
                  sus servicios a todo el Perú con el objetivo de
                  disminuir brechas sociales, educativas y
                  tecnológicas en el país. Maca no solo trabaja
                  con estudiantes, sino también con docentes,
                  directores, colegios, ONGs, UGELES y
                  empresas, fortaleciendo de estas forma
                  nuestra misión de girar la educación hacia
                  una mucho más emocional y humana y formar
                  así mejores personas y una mejor sociedad.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="c-timeline bg-success white br--large padding-vertical-2 position-relative">
          <div class="c-timeline__line bg-white width-100 position-absolute">
          </div>

          <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
              <div  @click="toggleSlidergradient()" class="swiper-slide">
                <label for="2014" class="flex-container align-bottom">
                  <div class="c-timeline__year white fs-35">2014</div>
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure id="test" class="c-card-article__figure margin-bottom-1">
                      <img src="{{ theme.link }}/static/images/nosotros/maca-2.png" alt="" class="width-100 height-100 of--cover">
                    </figure> <div class="c-card-article__content">
                    </div>
                  </div>
                </label>
              </div>
              <div  @click="toggleSlidergradient()" class="swiper-slide">
                <label class="flex-container align-bottom">
                  <div class="c-timeline__year white fs-35">2015</div>
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure id="test-2" class="c-card-article__figure margin-bottom-1">
                      <img src="{{ theme.link }}/static/images/nosotros/maca-2.png" alt="" class="width-100 height-100 of--cover">
                    </figure> <div class="c-card-article__content">
                    </div>
                  </div>
                </label>
              </div>
              <div  @click="toggleSlidergradient()" class="swiper-slide">
                <label class="flex-container align-bottom">
                  <div class="c-timeline__year white fs-35">2016</div>
                  <div class="c-card-article bg-white mab-shadow-soft">
                    <figure id="test-3" class="c-card-article__figure margin-bottom-1">
                      <img src="{{ theme.link }}/static/images/nosotros/maca-2.png" alt="" class="width-100 height-100 of--cover">
                    </figure> <div class="c-card-article__content">
                    </div>
                  </div>
                </label>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <div v-if="sliderGradient" @click="hideSliderGradient()" class="c-timeline__gradient position-absolute width-100 height-100 br--large">

          </div>
        </div>

        <div class="c-us-comment c-us-comment--simple">
          <div class="grid-x align-justify align-middle">
            <div class="cell large-6">
              <div class="c-us-comment__content dark position-relative">
                <p>
                  “Desde que soy
                  mamá, refuerzo
                  cada día más mi
                  compromiso y
                  pasión por la
                  educación de mi
                  país.”
                </p>

                <div class="c-us-comment__autor f2 dark f2 ">
                  — MACARENA ARRIBAS (FUNDADORA MAB)
                </div>
              </div>
            </div>

            <div class="cell large-5">
              <div class="c-card-article bg-white mab-shadow-soft">
                <figure class="c-card-article__figure margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/nosotros/maca-2.png" alt="">
                </figure>
                <div class="c-card-article__content">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="c-ceo-bio bg-sec-color white br--large">
          <div class="grid-x align-self-stretch align-middle">
            <div class="cell large-7">
              <h2 class="c-ceo-bio__title margin-bottom-0 white f2 w-xbold fs-30 lh-30 margin-bottom-0 text-uppercase">
                <p>Team MAB</p>
              </h2>
              <div class="c-ceo-bio__text white f2 margin-bottom-2"> 
                <p> 
                  Contamos con un equipo interdisciplinario
                  experto en diferentes áreas. Tenemos psicólogos,
                  comunicadores, administradores, ingenieros
                  industriales y educadores, además de una
                  comunidad de más de 150 jóvenes tutores de
                  diferentes carreras.
                </p>
              </div>
            </div>
            <div class="cell large-5 position-relative">
              <div class="c-card-article to-bottom bg-white mab-shadow-soft">
                <figure class="c-card-article__figure margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/blog/article.png" alt="">
                </figure>
                <div class="c-card-article__content">
                </div>
              </div>
              <div class="c-corner-heart to-left position-absolute">
                <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/nosotros/cup.png" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="c-us-comment c-us-comment--simple c-us-comment--reverse">
          <div class="grid-x align-justify align-middle">
            <div class="cell large-6">
              <div class="c-us-comment__content dark position-relative text-right to-right">
                <p>
                  “Trabajo en MAB
                    desde hace más de
                    6 años, desde sus
                    inicios, y lo he
                    visto evolucionar
                    más que a nada.”
                </p>

                <div class="c-us-comment__autor f2 dark f2 text-uppercase ">
                  — almudena (jefa de creatividad en mab)
                </div>
              </div>
            </div>
            <div class="cell large-5">
              <div class="c-card-article to-left bg-white mab-shadow-soft">
                <figure class="c-card-article__figure  margin-bottom-1">
                  <img class="width-100 height-100 of--cover" src="{{ theme.link }}/static/images/nosotros/maca-3.png" alt="">
                </figure>
                <div class="c-card-article__content">
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
