{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <div id="kinesthetic-template" style="display: none;">
    <div class="c-behaviour-template padding-1 f2 w-medium">
      {{info.kinesthetic}}
    </div>
  </div>  
  <div id="visual-template" style="display: none;">
    <div class="c-behaviour-template padding-1 f2 w-medium">
      {{info.visual}}
    </div>
  </div>  
  <div id="auditive-template" style="display: none;">
    <div class="c-behaviour-template padding-1 f2 w-medium">
      {{info.auditive}}
    </div>
  </div>

  <section class="c-section c-section--test bg-sec-color">
    <h1 class="c-title white bg-alert margin-top-3 display-inline-block">Test de estilos de aprendizaje</h1>
    <div class="grid-container position-relative padding-vertical-3">
      <div class="c-result width-100" :class="{ hidden : !testDone, 'c-result--done' : testDone }">
        <div class="grid-container padding-vertical-3">
          <div class="grid-x align-center">
            <div class="cell medium-10 large-8">
              <div class="grid-x align-center grid-margin-x grid-margin-y">
                <div class="cell medium-6 large-4">
                  <div class="c-behaviour flex-container flex-dir-column align-middle text-center">
                    <figure id="visual" class="c-behaviour__vector margin-bottom-2">
                      <img class="of--contain" src="{{theme.link}}/static/images/vectors/test/visual.png?key=20200419" alt="">
                    </figure>
                    <h3 class="c-behaviour__title">
                      <p class="f2 fs-40 w-bold warning">${testResult.visual}%</p>
                      <p class="f2 fs-30 warning w-bold margin-bottom-0">VISUAL</p>
                    </h3>
                  </div>
                </div>
                <div class="cell medium-6 large-4">
                  <div class="c-behaviour flex-container flex-dir-column align-middle text-center">
                    <figure id="auditive" class="c-behaviour__vector margin-bottom-2">
                      <img class="of--contain" src="{{theme.link}}/static/images/vectors/test/auditivo.png?key=20200419" alt="">
                    </figure>
                    <h3 class="c-behaviour__title">
                      <p class="f2 fs-40 w-bold warning">${testResult.auditive}%</p>
                      <p class="f2 fs-30 warning w-bold margin-bottom-0">AUDITIVO</p>
                    </h3>
                  </div>
                </div>
                <div class="cell medium-6 large-4">
                  <div class="c-behaviour flex-container flex-dir-column align-middle text-center">
                    <figure id="kinesthetic" class="c-behaviour__vector margin-bottom-2">
                      <img class="of--contain" src="{{theme.link}}/static/images/vectors/test/kinestesico.png?key=20200419" alt="">
                    </figure>
                    <h3 class="c-behaviour__title">
                      <p class="f2 fs-40 w-bold warning">${testResult.kinesthetic}%</p>
                      <p class="f2 fs-30 warning w-bold margin-bottom-0">KINESTÉSICO</p>
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-test grid-x align-center" :class="{ hidden : testDone, 'c-test--done' : testDone }">
        <div class="cell medium-10 large-8 padding-vertical-2">
          <section class="c-content c-content--protected position-relative bg-white br--medium">
            <section class="c-questions">
              <h2 class="c-questions__title f1 text-uppercase dark w-bold margin-bottom-2 text-center">Test para determinar <br> el Canal de Aprendizaje de preferencia</h2>
              <div id="slider-questions" class="c-questions__list swiper-container margin-bottom-1">
                <div class="swiper-wrapper">
                  <div v-for="(q_, qindex) of questions.list" :key="q_.id" class="swiper-slide">
                    <h3 class="fs-21 f2 dark-gray w-bold  margin-bottom-2">${q_.question.title}</h3>                  
                    <ul class="c-question f2 w-medium ul-reset overflow-hidden">
                      <li
                        class="c-question__item dark" 
                        v-for="(option, oindex) of options" :key="option.id">
                        <input
                          :id="'option-' + qindex + oindex"
                          :name="'question-' + qindex"
                          :value="option.credit" 
                          type="radio" 
                          class="hide"
                          v-model="testResult.list[qindex].value"
                          @change="enableNext"
                        >
                        <label 
                          :for="'option-' + qindex + oindex" 
                          class="c-option fs-18 align-middle width-100"
                        >
                          <div class="c-option__checkbox position-relative margin-right-1">
                            <span class="display-block rounded position-relative"></span>
                          </div>
                          <p class="margin-bottom-0">                      
                            ${option.value}
                          </p>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div v-if="testResult.list.length > 0" class="flex-container align-middle align-right">
                <div class="flex-container align-middle" :class="{ enable: isEnableChange, hide: testDone }">
                  <button 
                    class="flex-container f2 fs-18 w-medium align-center-middle"
                    :class="{ 'sec-color' : currentQuestion != 1 }"
                    @click="changeQuestion('previous')" 
                    :disabled="currentQuestion == 1">
                    <span class="c-icon margin-left-1"><i class="far fa-arrow-left"></i></span>
                  </button>
                  <p class="c-questions__progress margin-bottom-0 fs-18 f2 w-medium dark-gray text-center margin-horizontal-1">
                    <span>${currentQuestion}</span> de <span>${questions.count}</span>
                  </p>
                  <button 
                    class="flex-container f2 fs-18 w-medium align-center-middle"
                    :class="{ 'sec-color' : (isEnableChange || testResult.list[currentQuestion - 1].value != '') }"
                    @click="changeQuestion('next')" 
                    :disabled="!isEnableChange && testResult.list[currentQuestion - 1].value==''">
                    Siguiente
                    <span class="c-icon margin-left-1"><i class="far fa-arrow-right"></i></span>
                  </button>                                   
                </div>
              </div>
            </section>
          </section>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
