{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section class="c-section c-section--login bg-success">
    <div class="grid-container padding-vertical-3">
      <div class="grid-x align-center">
        <div class="cell medium-10 large-8 padding-vertical-2">
          <section class="c-content position-relative bg-sec-color br--medium">
            <figure class="text-center margin-bottom-2">
              <img class="of--contain" src="{{theme.link}}/static/images/vectors/login/hearts.png" alt="">
            </figure>
            <h1 class="fs-50 w-bold warning text-center margin-bottom-1">{{title}}</h1>
            <div class="margin-bottom-2 f2 text-center">
              <p class="fs-21 w-medium margin-bottom-0 warning">{{phrase.content}}</p>
              <p class="margin-bottom-0 warning fs-18">{{phrase.author}}</p>
            </div>
            <p class="error-message margin-bottom-1 f2 fs-21 w-medium white text-center" :class="{ showed : isShowedErrorMessage }">${errorMessage}</p>
            <div class="c-form margin-bottom-3">
              <div class="margin-bottom-1">
                <label>
                  <p class="mb-05 f2 fs-25 w-bold white">CORREO ELECTRÓNICO</p>
                  <input type="text" class="c-form__input input-reset" v-model="user" @keyup.enter="login">
                </label>
              </div>
              <div class="margin-bottom-2">
                <label>
                  <p class="mb-05 f2 fs-25 w-bold white">CONTRASEÑA</p>
                  <input type="password" class="c-form__input input-reset" v-model="password" @keyup.enter="login">
                </label>
              </div>
              <button class="c-button c-button--primary width-100 w-bold f2 padding-vertical-1" :disabled="isLoading" @click="login">
                INGRESAR 
              </button>
            </div>
            <a href="{{site.url}}/solicitar-id" class="c-button c-button--ghost-white margin-bottom-2 w-medium f2 display-block text-center">
              SOLICITAR CURSOS
            </a>
            <ul class="flex-container align-center-middle ul-reset">
              {% for item in social_menu.items %}                
                <li class="c-social-media fs-35">
                  <a href="{{item.link}}" target="_blank">
                    <span class="c-icon"><i class="fab fa-{{item.slug}}"></i></span>
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
