{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section
    ref="topic"
    data-id="{{post.id}}"
    data-area="{{area}}"
    class="c-section c-section--topic bg-pri-color">
    <div class="grid-container padding-vertical-3">
      <div class="grid-x align-center">
        <div class="cell medium-10 large-11">
          <h2 v-if="unityData" class="c-course w-medium white margin-bottom-0 lh-65">${ unityData.course.title }</h2>
          <h2 v-if="unityData" class="c-unity fs-30 f2 w-bold dark margin-bottom-3">Unidad ${ metas.get('unity') }: ${ unityData.unity }</h2>

          <section class="c-content c-content--protected position-relative br--large bg-white br-bottom-0-0">
            <a :href="courseLink" class="c-link fs-25 w-medium f2 display-inline-block margin-bottom-1 w-xbold pri-color hover-sec-color margin-bottom-2">
              <span class="c-icon margin-right-1"><i class="far fa-arrow-left"></i></span> Volver al curso
            </a>

            <h1 class="c-title fs-40 lh-40 f1 w-medium dark">
              {{ post.title }}
            </h1>
            <h2 class="fs-25 f2 w-ligth dark margin-bottom-2 text-uppercase">
              clase ${ metas.get('topic_number') }
            </h2>

            {% if source_type and source_type == 'ebook' %}
              <figure class="margin-bottom-1">
                <img class="width-100 of--contain" src="{{source_banner['url']}}" alt="">
              </figure>
              <a href="{{source}}" target="_blank" class="c-button c-button--secondary display-block f2 w-bold fs-18 w-100 text-center margin-bottom-2">Leer libro</a>
            {% else %}
              <div class="c-player margin-bottom-1">
                <div style="padding:56.25% 0 0 0;position:relative;">
                  <iframe src="https://player.vimeo.com/video/{{source|split('/')[3]}}?color=de0d46&title=0&byline=0&autoplay=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                </div>
              </div>
            {% endif %}

            <div class="c-actions margin-bottom-1 margin-top-1">
              <div class="grid-x align-middle align-justify">
                <div class="cell large-5">
                  <div class="c-actions__reactions flex-container align-middle fs-21">
                    <div class="margin-right-2 ">
                      <Likes :count.sync="likes" :target="{ id : {{post.id}}, type: 'topic' }"></Likes>
                    </div>
                  </div>
                </div>
                <div class="cell large-7">
                  <div v-if="logedUser" class="c-actions__buttons text-center large-text-right">
                    {% if navigation.previous %}
                      <a href="{{ navigation.previous }}" class="c-button c-button--primary-dark display-inline-block f2  fs-18 br-10">Anterior</a>
                    {% endif %}

                    <button v-if="questions.length > 0" @click="isOpenedQuestionsModal = true" class="c-button c-button--warning-alt-dark br-10 f2  fs-18 margin-horizontal-1">Repaso</button>

                    {% if navigation.next %}
                      <a href="{{ navigation.next }}" class="c-button c-button--cyan display-inline-block f2 fs-18">Siguiente</a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            {% if post.content %}
              <div class="margin-top-3 margin-bottom-2 f2 fs-18 w-medium black">
                {{post.content}}
              </div>
            {% endif %}

            <button
              v-if="logedUser.user_rol == 'teacher'"
              class="c-button c-button--secondary display-block width-100 margin-bottom-3 f2 w-medium fs-18 text-center"
              :class="(logedUser.user_sector == 'privado') ? 'margin-bottom-2' : 'margin-bottom-3'"
              @click="isOpenedTeacherModal = true">
              Ser parte de una red nacional de docentes
            </button>

            <div class="c-tab margin-top-2">
              <div class="c-tab-head text-center">
                <div class="grid-x">
                  <div class="cell large-6">
                    <div @click="view = 1" :class="{ active : view == 1 }" class="c-tab-head__title w-xbold position-relative margin-vertical-1 fs-30 dark border-0">SOBRE EL CURSO</div>
                  </div>
                  <div class="cell large-6">
                    <div @click="view = 2" :class="{ active : view == 2 }" class="c-tab-head__title w-xbold position-relative margin-vertical-1 fs-30 small dark">COMENTARIOS</div>
                  </div>
                </div>
              </div>
              <div class="c-tab-body padding-vertical-2">
                <transition name="fade" mode="out-in">
                  <div v-if="view == 1" key="contenido" class="c-tab-slide">
                    <div class="grid-x align-justify">
                      <div class="cell large-6">
                        <div class="c-tab-recursos br-bottom--large br-top--large br-bottom-0-0 padding-2">
                          <h3 class="w-xbold f2 fs-25 dark margin-bottom-1 text-uppercase">RECURSOS</h3>
                          <div class="grid-x align-self-strecht text-center">
                            {% if summary %}
                              <div class="small-3 medium-3 large-3">
                                <a href="{{ summary }}" @click="downloadMaterial('{{summary}}', 'summary')" class="c-tab-recursos__item f2 w-bold">
                                  <div></div>
                                  <figure class="margin-bottom-1">
                                    <img src="{{ theme.link }}/static/images/curso/resources/doc1.png" alt="" class=" width-100 of--contain"> 
                                  </figure>
                                  <span class="dark c-link--ho-secondary">Resúmen</span>
                                </a>
                              </div>
                            {% endif %}

                            {% if worksheet %}
                              <div class="small-3 medium-3 large-3">
                                <a href="{{ worksheet }}" @click="downloadMaterial('{{worksheet}}', 'worksheet')" class="c-tab-recursos__item f2 w-bold">
                                  <figure class="margin-bottom-1">
                                    <img src="{{ theme.link }}/static/images/curso/resources/doc2.png" alt="" class=" width-100  of--contain"> 
                                  </figure>
                                  <span class="dark c-link--ho-secondary">Hoja de trabajo</span>
                                </a>
                              </div>
                            {% endif %}

                            {% if solutions %}
                              <div class="small-3 medium-3 large-3">
                                <a href="{{ solutions }}" @click="downloadMaterial('{{solutions}}', 'solutions')" class="c-tab-recursos__item f2 w-bold">
                                  <figure class="margin-bottom-1">
                                    <img src="{{ theme.link }}/static/images/curso/resources/doc3.png" alt="" class=" width-100 of--contain"> 
                                  </figure>
                                  <span class="dark c-link--ho-secondary">Solucionario</span>
                                </a>
                              </div>
                            {% endif %}

                            {% if map %}
                              <div class="small-3 medium-3 large-3">
                                <a href="{{ map }}" @click="downloadMaterial('{{map}}', 'map')" class="c-tab-recursos__item f2 w-bold">
                                  <figure class="margin-bottom-1">
                                    <img src="{{ theme.link }}/static/images/curso/resources/doc4.png" alt="" class=" width-100 of--contain"> 
                                  </figure>
                                  <span class="dark c-link--ho-secondary">Mapa mental</span>
                                </a>
                              </div>
                            {% endif %}

                            <div class="cell">
                              <h3 class="w-xbold f2 fs-25 dark margin-bottom-1 text-uppercase text-left margin-top-2">Certificado</h3>
                            </div>

                            <div class="small-5 medium-5 large-5">
                              <div class="c-tab-recursos__item c-tab-recursos__item--auto f2 w-bold">
                                <a id="certificate_download" :href="certificate">
                                  <figure class="margin-bottom-1 position-relative">
                                    <img src="{{ theme.link }}/static/images/curso/certificate.jpg" alt="" class=" width-100"> 
                                    <div
                                      class="width-100 height-100 position-absolute flex-container align-justify flex-dir-column warning-alt"
                                      :class="{'c-tab-recursos__shade' : !hasCertificate}"
                                    >
                                      <div v-if="!hasCertificate" @click="showTooltipCerticado = !showTooltipCerticado" class="width-100 text-right ">
                                        <i class="far fa-exclamation-circle c-pointer"></i>
                                      </div>
      
                                      <div v-if="!hasCertificate && showTooltipCerticado == false" class="white">
                                        <i class="far fa-lock"></i>
                                      </div>
      
                                      <div v-if="!hasCertificate">
                                        <div v-if="showTooltipCerticado == true" class="white">
                                          <span>Debes completar el curso para obtener tu certificado</span> 
                                        </div>
                                      </div>
      
                                      <div v-if="!hasCertificate" class="opacity-0">
                                        <i class="far fa-exclamation-circle"></i>
                                      </div>
                                    </div>
                                  </figure>
                                </a>
                              </div>
                            </div>

                            <div v-if="false" class="cell">
                              <button class="c-button margin-top-1 c-button--mab-warning-black f2 w-xbold fs-21">¡Descárgalos todos!</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="cell large-5">
                        <div class="c-themes-list br--large br-bottom-0-0 padding-2">
                          <h2 class="w-xbold f2 fs-25 dark margin-bottom-1 text-uppercase">CONTENIDOS DEL CURSO</h2>
                          <div class="c-themes-list__content">
                            <div class="c-themes-list__scrool">
                              <div>
                                <div v-for="(unity, uindex) of unities" class="margin-bottom-1">
                                  <p class="margin-bottom-0 dark f2 fs-25 text-uppercase ">Unidad ${ uindex + 1 }</p>
                                  <ul class="ul-reset">
                                    <li v-for="(topic, tindex) of unity.topics" class="c-themes-list__item dark f2 fs-18" :class="{'active' : topicID == topic.id}">
                                      <a :href="getTopicLink(topic.video.link, tindex, uindex)" class="dark c-link--ho-primary">
                                        <span class="triangle"></span> ${ topic.title }
                                      </a>
                                      <p v-if="topicID == topic.id" class="margin-0"><small class="status">Reproduciendo ahora</small></p>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div v-if="view == 2" key="foro" class="c-tab-slide">
                    <div class="c-foro">
                      <comment
                        v-if="comments.sticky"
                        :body="comments.sticky"
                        :post="{ type: 'topic', id: {{post.id}} }"
                        :authorized="comments.is_user_owner"
                        :sticky="true"
                        :thread.sync="comments"
                        :handler="getComments"
                      >
                      </comment>

                      <div class="c-foro-body">
                        <div class="c-foro-scroll height-100">
                          <div class="position-relative">
                            <comment
                              v-for="comment of comments.list"
                              :body="comment"
                              :post="{ type: 'topic', id: {{post.id}} }"
                              :key="comment.id"
                              :authorized="comments.is_user_owner"
                              :sticky="false"
                              :thread.sync="comments"
                              :handler="getComments"
                            >
                            </comment>
                          </div>

                          <button @click="getComments()" v-if="commentsPaged != -1 && comments.list.length != 0" class="sec-alt flex-container f2 w-sbold align-middle">
                            <span class="c-icon margin-right-1"><i class="far fa-ellipsis-h"></i></span> 
                            <p class="margin-bottom-0">Mostrar más comentarios</p>
                          </button> 
                        </div>
                      </div>
                      <div class="c-foro-footer fs-21  padding-1 f2 dark br-bottom--large box-shadow-none bg-white-i">
                        <editor :target="{ id: {{post.id}}, type: 'post'}" :post="{ type: 'topic' }" :thread.sync="comments"></editor>
                      </div>
                    </div>
                  </div>
                </transition>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>

    <section v-if="questions.length > 0" class="c-modal c-modal--test position-fixed width-100 height-100 padding-vertical-2" :class="{ opened : isOpenedQuestionsModal }">
      <div class="grid-container height-100">
        <div class="grid-x align-center-middle height-100">
          <div class="cell medium-10 large-9">
            <div class="c-modal__content position-relative flex-container flex-dir-column questions br--medium bg-white">
              <div class="flex-container align-right margin-bottom-1">
                <button @click="isOpenedQuestionsModal = false" class="c-modal-text-btn-cross bg-pri-color ">
                  <span class="c-icon"><i class="far fa-times"></i></span>
                </button>
              </div>
              <section class="c-modal__body padding-vertical-1 padding-right-1">
                <h2 class="c-questions__title f1 dark text-uppercase  fs-25 w-bold margin-bottom-2 text-center fs-60">{{post.title}}</h2>
                <swiper ref="slider_questions" class="c-questions__list margin-bottom-1" :options="swiperOptions">                
                  <swiper-slide v-for="(q_, qindex) of questions" :key="q_.id">
                    <h3 class="fs-21 f2 dark w-xbold  margin-bottom-2">${q_.question.title}</h3>
                    <figure v-if="q_.question.image" class="margin-bottom-1">
                      <img :src="q_.question.image.url" alt="">
                    </figure>
                    <ul class="c-question f2 w-medium ul-reset">
                      <li 
                        class="c-question__item dark" 
                        v-for="(o_, oindex) of q_.question.options" :key="o_.id">
                        <input 
                          :id="'option-' + qindex + oindex" 
                          :name="'question-' + qindex"
                          :value="oindex + 1" 
                          type="radio" 
                          class="hide"                       
                          v-model="testResult[qindex].value"
                          @change="verifyOptionSelected(qindex)"
                          :disabled="testResult[qindex].value != ''"
                        >
                        <label 
                          :for="'option-' + qindex + oindex" 
                          class="c-option fs-18 align-middle dark width-100"
                        >
                          <div class="c-option__checkbox">
                            <span class="display-block rounded position-relative"></span>
                          </div>
                          <p class="margin-bottom-0">                      
                            <span class="display-block">${o_.option}</span>
                            <img v-if="o_.option_image" :src="o_.option_image.url" alt="" class="margin-top-1">
                          </p>
                        </label>
                      </li>
                    </ul>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="flex-container f2 flex-dir-column align-center-middle height-100">
                      <div class="margin-bottom-2 c-modal-test-result-figure">
                        <figure v-if="questions.length == totalRightAnswers" class="margin-bottom-1 text-center">
                          <img src="{{theme.link}}/static/images/vectors/topic/award.png" alt="">
                        </figure>
                        <figure v-else class="margin-bottom-1 text-center">
                          <img src="{{theme.link}}/static/images/vectors/topic/arcoiris.png" alt="">
                        </figure>
                        <h4 class="f2 fs-25 w-bold dark text-center">Resultado</h4>
                      </div>
                      <p class="dark fs-21 w-medium flex-container align-middle c-modal-test-result">
                        <img src="{{theme.link}}/static/images/icons/check-g.png" alt=""> <span class="margin-right-1 w-xbold">${totalRightAnswers}</span> Respuesta(s) correctas <span class="c-icon fs-35 margin-left-1"></span>
                      </p>
                      <p class="dark fs-21 w-medium flex-container align-middle margin-bottom-0 c-modal-test-result" :class="{ hide : totalWrongAnswers == 0 }">
                        <img src="{{theme.link}}/static/images/icons/cross.png" alt=""> <span class="margin-right-1 w-xbold">${totalWrongAnswers}</span> Respuesta(s) incorrectas <span class="c-icon fs-35 margin-left-1"></span>
                      </p>
                    </div>
                  </swiper-slide>
                </swiper>              
                <div class="flex-container align-middle align-justify">
                  <div class="flex-container f2 position-relative width-50">
                    <p class="c-questions__result c-questions__result--right flex-container margin-bottom-0 success fs-18" :class="{ showed : (testResult[currentQuestion - 1].isRight && !testDone) }">
                      <span class="c-icon flex-container align-center-middle rounded margin-right-1"><i class="far fa-check"></i></span>
                      Correcto
                    </p>
                    <p class="c-questions__result c-questions__result--wrong flex-container margin-bottom-0 alert fs-18 position-absolute width-100 height-100" :class="{ showed : (!testResult[currentQuestion - 1].isRight && testResult[currentQuestion - 1].value && !testDone) }">
                      <span class="c-icon flex-container align-center-middle rounded margin-right-1"><i class="far fa-times"></i></span>
                      Incorrecto
                    </p>
                  </div>
                  <div class="flex-container align-middle" :class="{ enable: isEnableChange, hide: testDone }">
                    <p class="c-questions__progress margin-bottom-0 fs-18 f2 w-medium dark-gray text-center margin-horizontal-1">
                      <span>${currentQuestion}</span> de <span>${questions.length}</span>
                    </p>
                    <button 
                      class="flex-container align-center-middle"
                      :class="{ 'pri-color' : isEnableChange }"
                      @click="changeQuestion('next')" 
                      :disabled="!isEnableChange">
                      <span class="c-icon"><i class="far fa-arrow-right"></i></span>
                    </button>
                  </div>                                   
                  <button class="c-button c-button--ghost-gray f2 w-medium flex-container align-center-middle br--medium dark" @click="restartTest" :class="{ enable: isEnableChange, hide : !testDone }">
                    <span class="c-icon margin-right-1"><i class="far fa-undo-alt"></i></span>Intentar de nuevo
                  </button>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="c-modal position-fixed width-100 height-100" :class="{ opened : isOpenedTeacherModal }">
      <div class="grid-container height-100">
        <div class="grid-x align-center-middle height-100">
          <div class="cell medium-10 large-8">
            <div class="c-modal__content br--medium position-relative flex-container flex-dir-column bg-sec-color">
              <div class="c-modal__close flex-container align-right margin-bottom-1 position-relative">
                <button @click="isOpenedTeacherModal = false" class="white">
                  <span class="c-icon fs-30"><i class="far fa-times"></i></span>
                </button>
              </div>              
              <div class="c-modal__body padding-left-1 flex-container position-relative flex-dir-column height-100" :class="{ unshowed : isSentFormTeacher && isOpenedTeacherModal }">
                <div class="c-title flex-container">
                  <h2 class="fs-40 f2 warning w-black pri-color text-center display-block">RED NACIONAL DE DOCENTES</h2>
                </div>
                <div class="c-request padding-right-1">
                  <h3 class="f2 margin-bottom-1 fs-18 w-medium white">Déjanos tus datos</h3>
                  <form @submit="sendTeacher" class="c-form margin-bottom-3">
                    <div class="margin-bottom-1">
                      <label>
                        <p class="mb-05 f2 fs-25 w-bold white">Correo eletrónico</p>
                        <input 
                          type="email" 
                          name="email"
                          class="c-form__input input-reset"
                          :class="{ valid : teacher.email.isValid }"
                          v-model="teacher.email.value">
                      </label>
                    </div>
                    <div class="margin-bottom-2">
                      <label>
                        <p class="mb-05 f2 fs-25 w-bold white">Celular</p>
                        <input 
                          type="tel" 
                          name="phone"
                          class="c-form__input input-reset"
                          :class="{ valid : teacher.phone.isValid }"
                          v-model="teacher.phone.value">
                      </label>
                    </div>
                    <button
                      class="c-button c-button--primary width-100 w-medium fs-18 f2"
                      :disabled="teacher.sending">
                      ${(teacher.sending) ? 'Enviando...' : 'Enviar datos'}
                    </button>
                  </form>             
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> 

    <div class="c-mab-modal c-mab-modal--bg-blue c-mab-modal--mini width-100 flex-container align-center-middle" :class="{'visible' : isOpenedCertificateModal}">
      <div class="grid-x align-center width-100">
        <div class="cell small-10 medium-10 large-5">
          <div class="c-mab-modal-content bg-sec-color text-center position-relative">
            <div class="text-center">
              <img loading="lazy" class="c-mab-modal__top-image donaciones" src="{{theme.link}}/static/images/vectors/heart-expression.png" alt="">
            </div>
            <button @click="closeCertificateModal()" type="button" class="c-mab-modal__cross position-absolute white bg-warning fs-18 flex-container align-center-middle">
              <i class="fas fa-times sec-color"></i>
            </button>
            <h3 class="c-mab-modal-content__title text-center  text-uppercase margin-top-3">
              <span class="warning f2 w-xbold">¡LO LOGRASTE! FELICIDADES POR COMPLETAR EL CURSO!
            </h3>
            <p class="w-bold white f2 fs-18">Esperamos que hayas aprendido y disfurtado de este curso, no olvides descargar y compartir tu certificado </p>
            <a :href="certificate" class="c-link c-link--warning f2 w-xbold">Ver certificado</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
