{% extends '_html.twig' %}

{% block hero %}
  {% include 'templates-parts/hero.twig' %}
{% endblock %}

{% block content %}
  <section ref="topic" data-id="{{post.id}}" class="c-section c-section--topic bg-pri-alt">
    <div class="grid-container padding-vertical-3">
      <div class="grid-x align-center">
        <div class="cell medium-10 large-8">
          <h2 class="c-course w-bold white">${metas.get('course_name')}</h2>
          <h2 class="c-unity fs-30 f2 w-bold white margin-bottom-2">UNIDAD ${metas.get('unity')}:</h2>
          <section class="c-content c-content--protected position-relative br--medium bg-white">
            <h1 class="c-title fs-40 f1 w-bold dark-gray margin-bottom-2">
              <p>
                {{post.title}}
              </p>
              <p class="margin-bottom-0 padding-left-2 fs-25 w-black">.....</p>
            </h1>
            <div class="c-details flex-container align-justify margin-bottom-2">
              <div class="flex-container align-middle">
                <figure class="c-avatar margin-right-1 overflow-hidden rounded">
                  <img src="{{author.avatar.sizes['thumbnail']}}" alt="">
                </figure>
                <p class="margin-bottom-0 fs-21 w-medium f2 dark">{{author.first_name}} {{author.last_name}}</p>
              </div>
            </div>
            <div class="c-player margin-bottom-1">
              <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/{{source|split('/')[3]}}?color=de0d46&title=0&byline=0&autoplay=1" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div></div>
            <div class="c-actions flex-container align-justify margin-bottom-1">
              <div class="flex-container align-middle">
                <div class="margin-right-2">
                  <Likes :average="likesAverage" :target="{ id : {{post.id}}, type: 'topic' }"></Likes>
                </div>
                <div class="c-material position-relative">
                  <button 
                    class="c-material__toggle f2 fs-18 w-medium flex-container align-middle"
                    @click="isActiveMaterial = !isActiveMaterial">
                    <span class="c-icon margin-right-1"><i class="far fa-download"></i></span>
                    ¡Más material!
                  </button>
                  <ul class="c-material__list ul-reset position-absolute bg-white br--medium padding-1" :class="{ hidden : !isActiveMaterial}">
                    {% if summary %}
                      <li class="c-material__item">
                        <a href="{{summary}}" target="_blank" class="c-download f2 fs-18 w-medium flex-container align-middle">
                          <span class="c-icon margin-right-1"><i class="far fa-file-pdf"></i></span>
                          Resumen
                        </a>                      
                      </li>
                    {% endif %}
                    {% if map %}
                      <li class="c-material__item">
                        <a href="{{map}}" target="_blank" class="c-download f2 fs-18 w-medium flex-container align-middle">
                          <span class="c-icon margin-right-1"><i class="far fa-file-pdf"></i></span>
                          Mapa mental
                        </a>                      
                      </li>
                    {% endif %}
                    {% if worksheet %}
                      <li class="c-material__item">
                        <a href="{{worksheet}}" target="_blank" class="c-download f2 fs-18 w-medium flex-container align-middle">
                          <span class="c-icon margin-right-1"><i class="far fa-file-pdf"></i></span>
                          Hoja de trabajo
                        </a>                      
                      </li>
                    {% endif %}
                    {% if solutions %}
                      <li class="c-material__item">
                        <a href="{{solutions}}" target="_blank" class="c-download f2 fs-18 w-medium flex-container align-middle">
                          <span class="c-icon margin-right-1"><i class="far fa-file-pdf"></i></span>
                          Solucionario
                        </a>                      
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              <button v-if="this.logedUser" class="c-questions-toggle c-button f2 fs-18 w-medium c-button--primary flex-container align-center-middle" @click="isOpenedQuestionsModal = true">
                <p class="margin-bottom-0">Preguntas</p>
              </button>
            </div>
            {% if post.content %}
              <div class="margin-bottom-2 f2 fs-18 w-medium black">
                {{post.content}}
              </div>
            {% endif %}            
            <a href="{{site.url}}/sesion-virtual" target="_blank" class="c-button c-button--secondary display-block margin-bottom-3 f2 w-medium fs-18 text-center">
              Para un aprendizaje más personalizado, coordina tu sesión online
            </a>            
            <div class="c-comments f2 margin-bottom-2">
              <div class="c-counter flex-container align-middle margin-bottom-2">
                <span class="c-counter__icon"><i class="far fa-comment-lines fs-21"></i></span>
                <p v-if="comments.number > 1 || comments.number == 0" class="margin-bottom-0 gray-gray">${comments.number} comentarios</p>
                <p v-else class="margin-bottom-0 gray-gray">${comments.number} comentario</p>
              </div>
              <div class="flex-container margin-bottom-2">
                <div class="margin-right-1">
                  <figure class="c-avatar overflow-hidden rounded">
                    <img src="{{theme.link}}/static/images/user.png" alt="">
                  </figure>
                </div>
                <div class="width-100">
                  <editor :target="{ id: {{post.id}}, type: 'post'}" :post="{ type: 'topic' }" :thread.sync="comments"></editor>
                </div>
              </div>
              <div class="c-loading text-center gray-gray padding-vertical-1" :class="{ hide : !isLoadingComments }">
                Cargando comentarios...
              </div>
              <div class="c-thread">
                <comment v-for="comment of comments.list" :body="comment" :post="{ type: 'topic', id: {{post.id}} }" :key="comment.id" pic="{{theme.link}}/static/images/user.png"></comment>           
                <button v-if="commentsPaged != -1 && comments.list.length != 0 && comments.list.length/commentsPaged >= 5 " class="sec-alt flex-container align-middle" @click="getComments">
                  <span class="c-icon margin-right-1"><i class="far fa-ellipsis-h"></i></span> 
                  <p class="margin-bottom-0">Mostrar más comentarios</p>
                </button>           
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <section v-if="questions.length > 0" class="c-modal position-fixed width-100 height-100 padding-vertical-2" :class="{ opened : isOpenedQuestionsModal }">
      <div class="grid-container height-100">
        <div class="grid-x align-center-middle height-100">
          <div class="cell medium-10 large-9">
            <div class="c-modal__content position-relative flex-container flex-dir-column questions br--medium bg-white">
              <div class="flex-container align-right margin-bottom-1">
                <button @click="isOpenedQuestionsModal = false">
                  <span class="c-icon fs-30"><i class="far fa-times"></i></span>
                </button>
              </div>
              <section class="c-modal__body padding-vertical-1 padding-right-1">
                <h2 class="c-questions__title f1 text-uppercase dark-gray fs-25 w-bold margin-bottom-2 text-center fs-60">{{post.title}}</h2>
                <swiper ref="slider_questions" class="c-questions__list margin-bottom-1" :options="swiperOptions">                
                  <swiper-slide v-for="(q_, qindex) of questions" :key="q_.id">
                    <h3 class="fs-21 f2 dark-gray w-bold  margin-bottom-2">${q_.question.title}</h3>                  
                    <ul class="c-question f2 w-medium ul-reset overflow-hidden">
                      <li 
                        class="c-question__item dark" 
                        v-for="(o_, oindex) of q_.question.options" :key="o_.id">
                        <input 
                          :id="'option-' + qindex + oindex" 
                          :name="'question-' + qindex"
                          :value="oindex + 1" 
                          type="radio" 
                          class="hide"                       
                          v-model="testResult[qindex].value"
                          @change="verifyOptionSelected(qindex)"
                          :disabled="testResult[qindex].value != ''"
                        >
                        <label 
                          :for="'option-' + qindex + oindex" 
                          class="c-option fs-18 align-middle width-100"
                        >
                          <div class="c-option__checkbox margin-right-1">
                            <span class="display-block rounded position-relative"></span>
                          </div>
                          <p class="margin-bottom-0">                      
                            ${o_.option}
                          </p>
                        </label>
                      </li>
                    </ul>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="flex-container f2 flex-dir-column align-center-middle height-100">
                      <div class="margin-bottom-2">
                        <h4 class="f2 fs-25 w-bold dark-gray">Resultado</h4>
                        <figure v-if="questions.length == totalRightAnswers" class="margin-bottom-1 text-center">
                          <img src="{{theme.link}}/static/images/vectors/topic/award.png" alt="">
                        </figure>
                        <figure v-else class="margin-bottom-1 text-center">
                          <img src="{{theme.link}}/static/images/vectors/topic/blob.png" alt="">
                        </figure>
                      </div>
                      <p class="sec-alt fs-21 w-medium flex-container align-middle">
                        <span class="fs-35 margin-right-1">${totalRightAnswers}</span> Respuesta(s) correctas <span class="c-icon fs-35 margin-left-1"><i class="far fa-check"></i></span>
                      </p>
                      <p class="alert fs-21 w-medium flex-container align-middle margin-bottom-0" :class="{ hide : totalWrongAnswers == 0 }">
                        <span class="fs-35 margin-right-1">${totalWrongAnswers}</span> Respuesta(s) correctas <span class="c-icon fs-35 margin-left-1"><i class="far fa-times"></i></span>
                      </p>
                    </div>
                  </swiper-slide>
                </swiper>              
                <div class="flex-container align-middle align-justify">
                  <div class="flex-container f2 position-relative width-50">
                    <p class="c-questions__result c-questions__result--right flex-container margin-bottom-0 success fs-18" :class="{ showed : (testResult[currentQuestion - 1].isRight && !testDone) }">
                      <span class="c-icon flex-container align-center-middle rounded margin-right-1"><i class="far fa-check"></i></span>
                      Correcto
                    </p>
                    <p class="c-questions__result c-questions__result--wrong flex-container margin-bottom-0 alert fs-18 position-absolute width-100 height-100" :class="{ showed : (!testResult[currentQuestion - 1].isRight && testResult[currentQuestion - 1].value && !testDone) }">
                      <span class="c-icon flex-container align-center-middle rounded margin-right-1"><i class="far fa-times"></i></span>
                      Incorrecto
                    </p>
                  </div>
                  <div class="flex-container align-middle" :class="{ enable: isEnableChange, hide: testDone }">                       
                    <p class="c-questions__progress margin-bottom-0 fs-18 f2 w-medium dark-gray text-center margin-horizontal-1">
                      <span>${currentQuestion}</span> de <span>${questions.length}</span>
                    </p>
                    <button 
                      class="flex-container align-center-middle"
                      :class="{ 'sec-color' : isEnableChange }"
                      @click="changeQuestion('next')" 
                      :disabled="!isEnableChange">
                      <span class="c-icon"><i class="far fa-arrow-right"></i></span>
                    </button>                                   
                  </div>
                  <button class="c-button c-button--ghost-gray f2 w-medium flex-container align-center-middle br--medium dark" @click="restartTest" :class="{ enable: isEnableChange, hide : !testDone }">
                    <span class="c-icon margin-right-1"><i class="far fa-undo-alt"></i></span>Intentar de nuevo
                  </button>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
{% endblock %}
